In [10]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')
sns.set()
%matplotlib inline

import statsmodels.api as sm
import xgboost as xgb
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from tqdm import tqdm_notebook

import warnings
# import the_module_that_warns

warnings.filterwarnings("ignore")

In [2]:
# Read train and test files
train_df = pd.read_csv('data/train.csv')
test_df = pd.read_csv('data/test.csv')
submi = pd.read_csv('data/submission.csv')

## train 처리

In [3]:
train = train_df.iloc[13647:16910]
time = train_df.iloc[13647:16910, 0:1]
time

                   Time
13647  2018-02-15 02:00
13648  2018-02-15 03:00
13649  2018-02-15 04:00
13650  2018-02-15 05:00
13651  2018-02-15 06:00
...                 ...
16904  2018-06-30 19:00
16905  2018-06-30 20:00
16906  2018-06-30 21:00
16907  2018-06-30 22:00
16908  2018-06-30 23:00

[3262 rows x 1 columns]

In [4]:
train

,Time,X692,X1272,X553,X1299,X4,X598,X1003,X1010,X1216,...,X1164,X656,X1287,X324,X767,X1271,X1288,X58,X1033,X1163
13647,2018-02-15 02:00,0.314,0.440,0.461,0.308,NaN,0.174,0.341,0.400,0.279,...,0.656,0.219,0.222,0.094,0.355,0.149,0.390,NaN,0.347,0.135
13648,2018-02-15 03:00,0.309,0.292,0.524,0.279,NaN,0.198,0.343,0.393,0.272,...,0.659,0.224,0.282,0.071,0.164,0.142,0.404,NaN,0.293,0.137
13649,2018-02-15 04:00,0.327,0.298,0.486,0.364,NaN,0.155,0.388,0.388,0.273,...,0.598,0.201,0.257,0.062,0.136,0.174,0.216,NaN,0.346,0.169
13650,2018-02-15 05:00,0.303,0.254,0.514,0.953,NaN,0.198,0.338,0.402,0.263,...,0.593,0.191,0.258,0.132,0.128,0.168,0.258,NaN,0.325,0.325
13651,2018-02-15 06:00,0.273,0.290,0.486,0.547,NaN,0.153,0.492,0.352,0.496,...,0.714,0.184,0.215,0.407,0.198,0.168,0.197,NaN,0.306,0.188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16904,2018-06-30 19:00,0.271,0.754,0.327,0.468,NaN,0.314,0.769,0.790,0.558,...,0.523,0.455,0.295,0.056,0.295,2.089,0.619,1.063,0.345,0.565
16905,2018-06-30 20:00,0.341,0.827,0.478,0.356,NaN,0.434,0.680,0.819,0.470,...,0.350,0.799,0.287,0.057,0.548,2.168,0.723,4.760,0.388,0.620
16906,2018-06-30 21:00,0.535,0.516,0.558,0.496,NaN,0.479,0.590,0.910,0.424,...,0.446,0.754,0.433,0.060,0.677,2.028,0.766,5.386,0.440,0.573
16907,2018-06-30 22:00,0.379,0.494,0.605,0.320,NaN,0.555,0.604,1.044,0.412,...,0.567,0.504,0.384,0.210,1.019,1.055,0.735,7.150,0.393,0.629
16908,2018-06-30 23:00,0.388,0.482,0.651,0.284,NaN,0.452,0.629,1.116,0.400,...,0.495,0.410,0.343,0.420,0.746,0.738,0.689,8.346,0.323,0.422

In [5]:
wthr = pd.read_csv('train_wth.csv')
wthr

                  Time  temp  wind  hue     hpa
0      2018-02-15 2:00  -1.2   3.9   39  1013.9
1      2018-02-15 3:00  -1.5   3.5   40  1014.0
2      2018-02-15 4:00  -1.9   5.3   36  1014.1
3      2018-02-15 5:00  -2.6   5.3   36  1014.0
4      2018-02-15 6:00  -2.9   4.3   38  1014.2
...                ...   ...   ...  ...     ...
3233  2018-06-29 19:00  23.3   2.2   85   995.7
3234  2018-06-29 20:00  22.5   2.1   89   996.2
3235  2018-06-29 21:00  21.7   0.7   94   996.9
3236  2018-06-29 22:00  21.2   1.2   96   998.0
3237  2018-06-29 23:00  20.5   1.4   98   998.5

[3238 rows x 5 columns]

In [6]:
train.head()

,Time,X692,X1272,X553,X1299,X4,X598,X1003,X1010,X1216,...,X1164,X656,X1287,X324,X767,X1271,X1288,X58,X1033,X1163
13647,2018-02-15 02:00,0.314,0.440,0.461,0.308,NaN,0.174,0.341,0.400,0.279,...,0.656,0.219,0.222,0.094,0.355,0.149,0.390,NaN,0.347,0.135
13648,2018-02-15 03:00,0.309,0.292,0.524,0.279,NaN,0.198,0.343,0.393,0.272,...,0.659,0.224,0.282,0.071,0.164,0.142,0.404,NaN,0.293,0.137
13649,2018-02-15 04:00,0.327,0.298,0.486,0.364,NaN,0.155,0.388,0.388,0.273,...,0.598,0.201,0.257,0.062,0.136,0.174,0.216,NaN,0.346,0.169
13650,2018-02-15 05:00,0.303,0.254,0.514,0.953,NaN,0.198,0.338,0.402,0.263,...,0.593,0.191,0.258,0.132,0.128,0.168,0.258,NaN,0.325,0.325
13651,2018-02-15 06:00,0.273,0.290,0.486,0.547,NaN,0.153,0.492,0.352,0.496,...,0.714,0.184,0.215,0.407,0.198,0.168,0.197,NaN,0.306,0.188

In [28]:
mode3 = pd.read_csv('f_mode.csv')
mode3

,X692,X1272,X553,X1299,X598,X1003,X1010,X1216,X1047,X381,...,X1164,X656,X1287,X324,X767,X1271,X1288,X58,X1033,X1163
0,0.275,0.212,0.425,0.108,0.153,0.18,0.296,0.292,0.144,0.148,...,0.291,0.164,0.209,0.048,0.205,0.198,0.24,2.309,0.223,0.224

In [30]:
mode3 = mode3.dropna(how='all', axis=1)
mode3

,X692,X1272,X553,X1299,X598,X1003,X1010,X1216,X1047,X381,...,X1164,X656,X1287,X324,X767,X1271,X1288,X58,X1033,X1163
0,0.275,0.212,0.425,0.108,0.153,0.18,0.296,0.292,0.144,0.148,...,0.291,0.164,0.209,0.048,0.205,0.198,0.24,2.309,0.223,0.224

In [32]:
del mode3["X118"]

In [12]:
train = train.dropna(how='all', axis=1)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3262 entries, 13647 to 16908
Columns: 1292 entries, Time to X1163
dtypes: float64(1291), object(1)
memory usage: 32.2+ MB

In [34]:
c = mode3.columns
train2 = pd.DataFrame()   # 새로운 데이터프레임 생성
n=0  # 현재 칼럼카운트를 보여주기 위한 변수

# 미터ID 리스트 c에서 1개씩 for loop
for i in tqdm_notebook(c):  
    n +=1   # 카운트 
    li = train[train[i].isnull()].index   # li: test데이터프레임의 특정 열(i)에서 Null인 셀 index추출 
    df = pd.DataFrame(train[i])    # df: test의 i열을 별개 데이터프레임으로 생성
    for t in li:    #  li(Null 인덱스)를 사용해 for loop
        df.loc[t] = mode3[i][0]  # null값에 t.hour 평균 대입
    print("%d. current column: %s, NaN count: %d" %(n, i, len(li)))   
    train2 = pd.concat([train2,df], axis=1)  # 평균 대치가 끝난 df를 test2에 concat해준다. 
    
train3 = pd.concat([time,train2],axis=1)

HBox(children=(IntProgress(value=0, max=1285), HTML(value='')))

1. current column: X692, NaN count: 200
2. current column: X1272, NaN count: 199
3. current column: X553, NaN count: 223
4. current column: X1299, NaN count: 258
5. current column: X598, NaN count: 223
6. current column: X1003, NaN count: 327
7. current column: X1010, NaN count: 216
8. current column: X1216, NaN count: 200
9. current column: X1047, NaN count: 202
10. current column: X381, NaN count: 192
11. current column: X466, NaN count: 203
12. current column: X1420, NaN count: 199
13. current column: X686, NaN count: 199
14. current column: X711, NaN count: 196
15. current column: X1251, NaN count: 200
16. current column: X828, NaN count: 200
17. current column: X1350, NaN count: 258
18. current column: X1066, NaN count: 203
19. current column: X1293, NaN count: 231
20. current column: X1148, NaN count: 223
21. current column: X451, NaN count: 196
22. current column: X174, NaN count: 204
23. current column: X74, NaN count: 2858
24. current column: X626, NaN count: 200
25. current column: X1083, NaN count: 215
26. current column: X1000, NaN count: 219
27. current column: X632, NaN count: 200
28. current column: X1380, NaN count: 232
29. current column: X607, NaN count: 223
30. current column: X680, NaN count: 197
31. current column: X977, NaN count: 216
32. current column: X492, NaN count: 222
33. current column: X968, NaN count: 244
34. current column: X891, NaN count: 435
35. current column: X122, NaN count: 0
36. current column: X489, NaN count: 223
37. current column: X86, NaN count: 0
38. current column: X392, NaN count: 196
39. current column: X1007, NaN count: 216
40. current column: X549, NaN count: 223
41. current column: X1343, NaN count: 230
42. current column: X437, NaN count: 166
43. current column: X551, NaN count: 223
44. current column: X287, NaN count: 208
45. current column: X138, NaN count: 591
46. current column: X339, NaN count: 196
47. current column: X1210, NaN count: 200
48. current column: X127, NaN count: 3129
49. current column: X644, NaN count: 200
50. current column: X1472, NaN count: 200
51. current column: X604, NaN count: 221
52. current column: X1356, NaN count: 258
53. current column: X173, NaN count: 202
54. current column: X1399, NaN count: 231
55. current column: X859, NaN count: 199
56. current column: X281, NaN count: 204
57. current column: X514, NaN count: 197
58. current column: X345, NaN count: 197
59. current column: X997, NaN count: 216
60. current column: X657, NaN count: 467
61. current column: X1495, NaN count: 227
62. current column: X9, NaN count: 2405
63. current column: X894, NaN count: 435
64. current column: X577, NaN count: 222
65. current column: X1178, NaN count: 223
66. current column: X81, NaN count: 0
67. current column: X853, NaN count: 199
68. current column: X1455, NaN count: 200
69. current column: X494, NaN count: 222
70. current column: X759, NaN count: 198
71. current column: X1471, NaN count: 212
72. current column: X1263, NaN count: 199
73. current column: X96, NaN count: 0
74. current column: X631, NaN count: 227
75. current column: X1050, NaN count: 203
76. current column: X137, NaN count: 204
77. current column: X659, NaN count: 198
78. current column: X565, NaN count: 197
79. current column: X995, NaN count: 219
80. current column: X1145, NaN count: 222
81. current column: X683, NaN count: 197
82. current column: X953, NaN count: 216
83. current column: X1309, NaN count: 259
84. current column: X1493, NaN count: 227
85. current column: X701, NaN count: 196
86. current column: X1499, NaN count: 225
87. current column: X1146, NaN count: 250
88. current column: X1408, NaN count: 198
89. current column: X615, NaN count: 196
90. current column: X866, NaN count: 199
91. current column: X1364, NaN count: 230
92. current column: X1218, NaN count: 199
93. current column: X1333, NaN count: 258
94. current column: X1445, NaN count: 200
95. current column: X79, NaN count: 1895
96. current column: X327, NaN count: 196
97. current column: X1362, NaN count: 234
98. current column: X743, NaN count: 166
99. current column: X899, NaN count: 404
100. current column: X1111, NaN count: 248
101. current column: X528, NaN count: 223
102. current column: X1371, NaN count: 231
103. current column: X851, NaN count: 227
104. current column: X1274, NaN count: 200
105. current column: X1005, NaN count: 215
106. current column: X1057, NaN count: 232
107. current column: X209, NaN count: 208
108. current column: X1363, NaN count: 258
109. current column: X491, NaN count: 196
110. current column: X164, NaN count: 206
111. current column: X803, NaN count: 227
112. current column: X277, NaN count: 203
113. current column: X774, NaN count: 199
114. current column: X288, NaN count: 207
115. current column: X388, NaN count: 192
116. current column: X924, NaN count: 403
117. current column: X495, NaN count: 221
118. current column: X1132, NaN count: 222
119. current column: X261, NaN count: 194
120. current column: X1336, NaN count: 258
121. current column: X1429, NaN count: 199
122. current column: X749, NaN count: 198
123. current column: X929, NaN count: 462
124. current column: X833, NaN count: 199
125. current column: X885, NaN count: 435
126. current column: X1107, NaN count: 201
127. current column: X1228, NaN count: 203
128. current column: X1258, NaN count: 198
129. current column: X1261, NaN count: 225
130. current column: X104, NaN count: 0
131. current column: X981, NaN count: 216
132. current column: X824, NaN count: 397
133. current column: X424, NaN count: 196
134. current column: X765, NaN count: 200
135. current column: X1002, NaN count: 219
136. current column: X1014, NaN count: 216
137. current column: X1342, NaN count: 231
138. current column: X1346, NaN count: 257
139. current column: X902, NaN count: 436
140. current column: X1486, NaN count: 227
141. current column: X413, NaN count: 196
142. current column: X928, NaN count: 435
143. current column: X1303, NaN count: 258
144. current column: X600, NaN count: 223
145. current column: X674, NaN count: 198
146. current column: X608, NaN count: 223
147. current column: X220, NaN count: 203
148. current column: X1378, NaN count: 231
149. current column: X733, NaN count: 198
150. current column: X227, NaN count: 208
151. current column: X1130, NaN count: 250
152. current column: X1256, NaN count: 200
153. current column: X202, NaN count: 208
154. current column: X384, NaN count: 192
155. current column: X1129, NaN count: 224
156. current column: X1447, NaN count: 200
157. current column: X1352, NaN count: 258
158. current column: X516, NaN count: 197
159. current column: X1269, NaN count: 200
160. current column: X845, NaN count: 199
161. current column: X646, NaN count: 198
162. current column: X725, NaN count: 198
163. current column: X1094, NaN count: 200
164. current column: X790, NaN count: 199
165. current column: X65, NaN count: 1505
166. current column: X990, NaN count: 214
167. current column: X988, NaN count: 219
168. current column: X369, NaN count: 196
169. current column: X906, NaN count: 435
170. current column: X208, NaN count: 208
171. current column: X1474, NaN count: 200
172. current column: X54, NaN count: 1505
173. current column: X818, NaN count: 198
174. current column: X643, NaN count: 199
175. current column: X1187, NaN count: 224
176. current column: X797, NaN count: 200
177. current column: X306, NaN count: 219
178. current column: X321, NaN count: 195
179. current column: X203, NaN count: 208
180. current column: X1401, NaN count: 232
181. current column: X365, NaN count: 195
182. current column: X432, NaN count: 196
183. current column: X1207, NaN count: 200
184. current column: X789, NaN count: 198
185. current column: X555, NaN count: 197
186. current column: X904, NaN count: 436
187. current column: X285, NaN count: 209
188. current column: X1253, NaN count: 199
189. current column: X1383, NaN count: 229
190. current column: X860, NaN count: 200
191. current column: X295, NaN count: 208
192. current column: X1031, NaN count: 200
193. current column: X1232, NaN count: 199
194. current column: X258, NaN count: 206
195. current column: X13, NaN count: 3253
196. current column: X267, NaN count: 204

197. current column: X951, NaN count: 246
198. current column: X965, NaN count: 219
199. current column: X772, NaN count: 224
200. current column: X886, NaN count: 438
201. current column: X593, NaN count: 195
202. current column: X1121, NaN count: 223
203. current column: X1171, NaN count: 224
204. current column: X888, NaN count: 436
205. current column: X1332, NaN count: 258
206. current column: X690, NaN count: 199
207. current column: X1087, NaN count: 208
208. current column: X1213, NaN count: 200
209. current column: X665, NaN count: 202
210. current column: X795, NaN count: 210
211. current column: X430, NaN count: 190
212. current column: X484, NaN count: 200
213. current column: X114, NaN count: 0
214. current column: X1296, NaN count: 258
215. current column: X843, NaN count: 200
216. current column: X280, NaN count: 206
217. current column: X1158, NaN count: 250
218. current column: X1090, NaN count: 203
219. current column: X355, NaN count: 196
220. current column: X290, NaN count: 207
221. current column: X930, NaN count: 435
222. current column: X978, NaN count: 216
223. current column: X961, NaN count: 243
224. current column: X439, NaN count: 196
225. current column: X728, NaN count: 202
226. current column: X103, NaN count: 0
227. current column: X518, NaN count: 195
228. current column: X1108, NaN count: 230
229. current column: X1221, NaN count: 200
230. current column: X831, NaN count: 227
231. current column: X53, NaN count: 1505
232. current column: X973, NaN count: 243
233. current column: X1436, NaN count: 198
234. current column: X796, NaN count: 227
235. current column: X1161, NaN count: 224
236. current column: X69, NaN count: 0
237. current column: X1082, NaN count: 200
238. current column: X1240, NaN count: 199
239. current column: X1181, NaN count: 223
240. current column: X895, NaN count: 458
241. current column: X1285, NaN count: 239
242. current column: X1112, NaN count: 223
243. current column: X136, NaN count: 204
244. current column: X535, NaN count: 196
245. current column: X1043, NaN count: 203
246. current column: X1282, NaN count: 230
247. current column: X922, NaN count: 435
248. current column: X1255, NaN count: 198
249. current column: X1311, NaN count: 231
250. current column: X128, NaN count: 208
251. current column: X1097, NaN count: 200
252. current column: X1131, NaN count: 250
253. current column: X1088, NaN count: 200
254. current column: X226, NaN count: 206
255. current column: X1428, NaN count: 199
256. current column: X1006, NaN count: 218
257. current column: X864, NaN count: 198
258. current column: X571, NaN count: 196
259. current column: X1465, NaN count: 200
260. current column: X989, NaN count: 214
261. current column: X1068, NaN count: 203
262. current column: X592, NaN count: 197
263. current column: X664, NaN count: 225
264. current column: X1075, NaN count: 201
265. current column: X1078, NaN count: 230
266. current column: X509, NaN count: 223
267. current column: X1224, NaN count: 200
268. current column: X346, NaN count: 197
269. current column: X1011, NaN count: 219
270. current column: X633, NaN count: 200
271. current column: X325, NaN count: 196
272. current column: X1229, NaN count: 200
273. current column: X1061, NaN count: 203
274. current column: X770, NaN count: 197
275. current column: X1120, NaN count: 223
276. current column: X1478, NaN count: 200
277. current column: X1018, NaN count: 216
278. current column: X1415, NaN count: 199
279. current column: X1191, NaN count: 242
280. current column: X945, NaN count: 157
281. current column: X77, NaN count: 0
282. current column: X703, NaN count: 166
283. current column: X557, NaN count: 209
284. current column: X1160, NaN count: 223
285. current column: X1276, NaN count: 199
286. current column: X560, NaN count: 223
287. current column: X1396, NaN count: 258
288. current column: X1426, NaN count: 199
289. current column: X966, NaN count: 215
290. current column: X1012, NaN count: 425
291. current column: X471, NaN count: 203
292. current column: X179, NaN count: 207
293. current column: X17, NaN count: 1521
294. current column: X1139, NaN count: 224
295. current column: X1142, NaN count: 224
296. current column: X800, NaN count: 227
297. current column: X279, NaN count: 208
298. current column: X1144, NaN count: 223
299. current column: X1316, NaN count: 230
300. current column: X741, NaN count: 166
301. current column: X732, NaN count: 197
302. current column: X750, NaN count: 198
303. current column: X1027, NaN count: 230
304. current column: X476, NaN count: 197
305. current column: X1026, NaN count: 201
306. current column: X677, NaN count: 200
307. current column: X1266, NaN count: 201
308. current column: X746, NaN count: 166
309. current column: X259, NaN count: 205
310. current column: X877, NaN count: 434
311. current column: X1234, NaN count: 199
312. current column: X298, NaN count: 207
313. current column: X537, NaN count: 221
314. current column: X1093, NaN count: 229
315. current column: X1141, NaN count: 223
316. current column: X506, NaN count: 223
317. current column: X975, NaN count: 216
318. current column: X1246, NaN count: 200
319. current column: X1190, NaN count: 250
320. current column: X361, NaN count: 196
321. current column: X14, NaN count: 1505
322. current column: X48, NaN count: 1505
323. current column: X1414, NaN count: 199
324. current column: X391, NaN count: 192
325. current column: X348, NaN count: 192
326. current column: X1236, NaN count: 199
327. current column: X99, NaN count: 0
328. current column: X1168, NaN count: 249
329. current column: X1159, NaN count: 248
330. current column: X1184, NaN count: 222
331. current column: X775, NaN count: 227
332. current column: X390, NaN count: 159
333. current column: X724, NaN count: 223
334. current column: X2, NaN count: 1505
335. current column: X778, NaN count: 199
336. current column: X370, NaN count: 196
337. current column: X144, NaN count: 177
338. current column: X1483, NaN count: 200
339. current column: X691, NaN count: 199
340. current column: X934, NaN count: 435
341. current column: X611, NaN count: 222
342. current column: X409, NaN count: 164
343. current column: X952, NaN count: 216
344. current column: X1297, NaN count: 256
345. current column: X641, NaN count: 225
346. current column: X629, NaN count: 200
347. current column: X900, NaN count: 435
348. current column: X1500, NaN count: 227
349. current column: X72, NaN count: 0
350. current column: X1222, NaN count: 200
351. current column: X1459, NaN count: 200
352. current column: X115, NaN count: 0
353. current column: X1456, NaN count: 200
354. current column: X1382, NaN count: 258
355. current column: X1065, NaN count: 201
356. current column: X613, NaN count: 221
357. current column: X482, NaN count: 196
358. current column: X559, NaN count: 221
359. current column: X1283, NaN count: 230
360. current column: X310, NaN count: 404
361. current column: X1086, NaN count: 202
362. current column: X955, NaN count: 214
363. current column: X534, NaN count: 196
364. current column: X1430, NaN count: 199
365. current column: X1073, NaN count: 200
366. current column: X452, NaN count: 197
367. current column: X740, NaN count: 198
368. current column: X197, NaN count: 207
369. current column: X1046, NaN count: 202
370. current column: X897, NaN count: 460
371. current column: X1322, NaN count: 258
372. current column: X947, NaN count: 215
373. current column: X671, NaN count: 199
374. current column: X1404, NaN count: 228
375. current column: X100, NaN count: 0
376. current column: X1034, NaN count: 203
377. current column: X1295, NaN count: 231
378. current column: X1150, NaN count: 250
379. current column: X83, NaN count: 0
380. current column: X1052, NaN count: 230
381. current column: X539, NaN count: 223
382. current column: X820, NaN count: 227
383. current column: X826, NaN count: 199
384. current column: X786, NaN count: 199
385. current column: X294, NaN count: 206
386. current column: X382, NaN count: 164
387. current column: X783, NaN count: 227
388. current column: X623, NaN count: 200
389. current column: X757, NaN count: 219

390. current column: X1326, NaN count: 258
391. current column: X19, NaN count: 1505
392. current column: X351, NaN count: 197
393. current column: X938, NaN count: 436
394. current column: X771, NaN count: 538
395. current column: X927, NaN count: 405
396. current column: X1402, NaN count: 258
397. current column: X1400, NaN count: 230
398. current column: X1434, NaN count: 199
399. current column: X921, NaN count: 435
400. current column: X1340, NaN count: 258
401. current column: X1250, NaN count: 200
402. current column: X236, NaN count: 204
403. current column: X890, NaN count: 435
404. current column: X1202, NaN count: 250
405. current column: X1247, NaN count: 198
406. current column: X180, NaN count: 204
407. current column: X662, NaN count: 198
408. current column: X415, NaN count: 192
409. current column: X198, NaN count: 207
410. current column: X805, NaN count: 198
411. current column: X360, NaN count: 196
412. current column: X526, NaN count: 195
413. current column: X1154, NaN count: 223
414. current column: X1153, NaN count: 224
415. current column: X956, NaN count: 219
416. current column: X702, NaN count: 196
417. current column: X590, NaN count: 201
418. current column: X1151, NaN count: 250
419. current column: X401, NaN count: 972
420. current column: X36, NaN count: 2892
421. current column: X1239, NaN count: 199
422. current column: X454, NaN count: 196
423. current column: X594, NaN count: 223
424. current column: X681, NaN count: 200
425. current column: X850, NaN count: 200
426. current column: X153, NaN count: 203
427. current column: X1355, NaN count: 230
428. current column: X602, NaN count: 221
429. current column: X781, NaN count: 198
430. current column: X1479, NaN count: 217
431. current column: X1262, NaN count: 201
432. current column: X903, NaN count: 436
433. current column: X874, NaN count: 2487
434. current column: X1254, NaN count: 198
435. current column: X273, NaN count: 203
436. current column: X318, NaN count: 160
437. current column: X748, NaN count: 196
438. current column: X599, NaN count: 223
439. current column: X636, NaN count: 200
440. current column: X837, NaN count: 682
441. current column: X1237, NaN count: 199
442. current column: X1032, NaN count: 200
443. current column: X1208, NaN count: 220
444. current column: X1101, NaN count: 200
445. current column: X751, NaN count: 197
446. current column: X1411, NaN count: 199
447. current column: X946, NaN count: 215
448. current column: X1443, NaN count: 199
449. current column: X1480, NaN count: 223
450. current column: X1488, NaN count: 228
451. current column: X1036, NaN count: 203
452. current column: X821, NaN count: 198
453. current column: X332, NaN count: 195
454. current column: X501, NaN count: 197
455. current column: X1245, NaN count: 200
456. current column: X760, NaN count: 224
457. current column: X849, NaN count: 199
458. current column: X1366, NaN count: 258
459. current column: X695, NaN count: 223
460. current column: X433, NaN count: 196
461. current column: X1467, NaN count: 200
462. current column: X541, NaN count: 223
463. current column: X788, NaN count: 198
464. current column: X918, NaN count: 432
465. current column: X923, NaN count: 461
466. current column: X639, NaN count: 224
467. current column: X581, NaN count: 221
468. current column: X256, NaN count: 208
469. current column: X688, NaN count: 200
470. current column: X1492, NaN count: 227
471. current column: X521, NaN count: 222
472. current column: X1334, NaN count: 230
473. current column: X1064, NaN count: 201
474. current column: X1437, NaN count: 199
475. current column: X416, NaN count: 195
476. current column: X1115, NaN count: 250
477. current column: X670, NaN count: 198
478. current column: X836, NaN count: 227
479. current column: X872, NaN count: 449
480. current column: X28, NaN count: 1505
481. current column: X996, NaN count: 220
482. current column: X498, NaN count: 197
483. current column: X1177, NaN count: 224
484. current column: X385, NaN count: 165
485. current column: X121, NaN count: 0
486. current column: X1290, NaN count: 258
487. current column: X152, NaN count: 204
488. current column: X908, NaN count: 435
489. current column: X816, NaN count: 224
490. current column: X1180, NaN count: 223
491. current column: X896, NaN count: 436
492. current column: X627, NaN count: 198
493. current column: X822, NaN count: 199
494. current column: X768, NaN count: 198
495. current column: X1040, NaN count: 227
496. current column: X1348, NaN count: 258
497. current column: X1021, NaN count: 232
498. current column: X804, NaN count: 227
499. current column: X477, NaN count: 198
500. current column: X169, NaN count: 177
501. current column: X884, NaN count: 462
502. current column: X1314, NaN count: 258
503. current column: X879, NaN count: 435
504. current column: X1106, NaN count: 200
505. current column: X601, NaN count: 197
506. current column: X151, NaN count: 205
507. current column: X810, NaN count: 199
508. current column: X366, NaN count: 196
509. current column: X467, NaN count: 203
510. current column: X653, NaN count: 200
511. current column: X1468, NaN count: 200
512. current column: X668, NaN count: 215
513. current column: X716, NaN count: 198
514. current column: X63, NaN count: 1505
515. current column: X500, NaN count: 196
516. current column: X823, NaN count: 200
517. current column: X1113, NaN count: 222
518. current column: X1454, NaN count: 200
519. current column: X141, NaN count: 207
520. current column: X744, NaN count: 198
521. current column: X372, NaN count: 196
522. current column: X986, NaN count: 214
523. current column: X731, NaN count: 198
524. current column: X1127, NaN count: 250
525. current column: X1136, NaN count: 223
526. current column: X1347, NaN count: 231
527. current column: X475, NaN count: 199
528. current column: X1244, NaN count: 199
529. current column: X428, NaN count: 196
530. current column: X181, NaN count: 204
531. current column: X941, NaN count: 435
532. current column: X606, NaN count: 224
533. current column: X38, NaN count: 1674
534. current column: X762, NaN count: 165
535. current column: X1302, NaN count: 232
536. current column: X574, NaN count: 218
537. current column: X544, NaN count: 195
538. current column: X240, NaN count: 206
539. current column: X317, NaN count: 196
540. current column: X694, NaN count: 225
541. current column: X108, NaN count: 0
542. current column: X580, NaN count: 413
543. current column: X1481, NaN count: 227
544. current column: X1395, NaN count: 231
545. current column: X429, NaN count: 192
546. current column: X1242, NaN count: 199
547. current column: X926, NaN count: 452
548. current column: X1071, NaN count: 200
549. current column: X1206, NaN count: 198
550. current column: X909, NaN count: 489
551. current column: X893, NaN count: 435
552. current column: X359, NaN count: 197
553. current column: X1423, NaN count: 199
554. current column: X773, NaN count: 199
555. current column: X814, NaN count: 198
556. current column: X959, NaN count: 214
557. current column: X1162, NaN count: 250
558. current column: X540, NaN count: 197
559. current column: X612, NaN count: 223
560. current column: X752, NaN count: 198
561. current column: X949, NaN count: 155
562. current column: X784, NaN count: 227
563. current column: X815, NaN count: 227
564. current column: X791, NaN count: 227
565. current column: X905, NaN count: 436
566. current column: X185, NaN count: 204
567. current column: X469, NaN count: 202
568. current column: X1103, NaN count: 224
569. current column: X159, NaN count: 204
570. current column: X39, NaN count: 1505
571. current column: X1462, NaN count: 224
572. current column: X970, NaN count: 216
573. current column: X1186, NaN count: 224
574. current column: X647, NaN count: 199
575. current column: X1329, NaN count: 231
576. current column: X736, NaN count: 197
577. current column: X244, NaN count: 204
578. current column: X1209, NaN count: 222
579. current column: X839, NaN count: 200
580. current column: X1337, NaN count: 231
581. current column: X502, NaN count: 197
582. current column: X265, NaN count: 207

583. current column: X478, NaN count: 197
584. current column: X278, NaN count: 204
585. current column: X522, NaN count: 195
586. current column: X792, NaN count: 200
587. current column: X1219, NaN count: 605
588. current column: X1182, NaN count: 224
589. current column: X658, NaN count: 198
590. current column: X1059, NaN count: 231
591. current column: X1243, NaN count: 198
592. current column: X844, NaN count: 225
593. current column: X292, NaN count: 205
594. current column: X1410, NaN count: 199
595. current column: X1379, NaN count: 230
596. current column: X589, NaN count: 196
597. current column: X1140, NaN count: 222
598. current column: X1305, NaN count: 230
599. current column: X1359, NaN count: 230
600. current column: X684, NaN count: 199
601. current column: X999, NaN count: 219
602. current column: X871, NaN count: 436
603. current column: X829, NaN count: 199
604. current column: X1084, NaN count: 200
605. current column: X638, NaN count: 200
606. current column: X1409, NaN count: 198
607. current column: X510, NaN count: 195
608. current column: X8, NaN count: 3260
609. current column: X987, NaN count: 234
610. current column: X1019, NaN count: 231
611. current column: X425, NaN count: 166
612. current column: X617, NaN count: 212
613. current column: X1476, NaN count: 227
614. current column: X1496, NaN count: 227
615. current column: X563, NaN count: 221
616. current column: X568, NaN count: 221
617. current column: X958, NaN count: 215
618. current column: X984, NaN count: 219
619. current column: X655, NaN count: 199
620. current column: X1220, NaN count: 199
621. current column: X1042, NaN count: 201
622. current column: X1485, NaN count: 227
623. current column: X610, NaN count: 222
624. current column: X1267, NaN count: 199
625. current column: X735, NaN count: 196
626. current column: X525, NaN count: 197
627. current column: X129, NaN count: 208
628. current column: X1170, NaN count: 250
629. current column: X1405, NaN count: 199
630. current column: X1211, NaN count: 199
631. current column: X812, NaN count: 227
632. current column: X587, NaN count: 221
633. current column: X825, NaN count: 199
634. current column: X957, NaN count: 218
635. current column: X112, NaN count: 0
636. current column: X654, NaN count: 201
637. current column: X524, NaN count: 197
638. current column: X901, NaN count: 434
639. current column: X1394, NaN count: 258
640. current column: X545, NaN count: 222
641. current column: X1099, NaN count: 227
642. current column: X936, NaN count: 436
643. current column: X1341, NaN count: 233
644. current column: X1200, NaN count: 223
645. current column: X914, NaN count: 436
646. current column: X679, NaN count: 198
647. current column: X564, NaN count: 195
648. current column: X798, NaN count: 199
649. current column: X793, NaN count: 199
650. current column: X442, NaN count: 192
651. current column: X479, NaN count: 203
652. current column: X635, NaN count: 199
653. current column: X1089, NaN count: 203
654. current column: X917, NaN count: 434
655. current column: X1215, NaN count: 199
656. current column: X1257, NaN count: 200
657. current column: X586, NaN count: 221
658. current column: X119, NaN count: 0
659. current column: X726, NaN count: 198
660. current column: X954, NaN count: 215
661. current column: X883, NaN count: 436
662. current column: X29, NaN count: 1505
663. current column: X1119, NaN count: 250
664. current column: X1463, NaN count: 372
665. current column: X1286, NaN count: 2120
666. current column: X517, NaN count: 222
667. current column: X1260, NaN count: 200
668. current column: X1039, NaN count: 203
669. current column: X380, NaN count: 195
670. current column: X1327, NaN count: 258
671. current column: X1020, NaN count: 203
672. current column: X595, NaN count: 221
673. current column: X910, NaN count: 405
674. current column: X101, NaN count: 0
675. current column: X878, NaN count: 436
676. current column: X1233, NaN count: 200
677. current column: X246, NaN count: 207
678. current column: X57, NaN count: 1517
679. current column: X1374, NaN count: 258
680. current column: X464, NaN count: 204
681. current column: X486, NaN count: 222
682. current column: X1008, NaN count: 215
683. current column: X529, NaN count: 222
684. current column: X167, NaN count: 206
685. current column: X1231, NaN count: 199
686. current column: X979, NaN count: 219
687. current column: X766, NaN count: 656
688. current column: X1435, NaN count: 199
689. current column: X705, NaN count: 1988
690. current column: X1458, NaN count: 200
691. current column: X569, NaN count: 1063
692. current column: X1466, NaN count: 299
693. current column: X1214, NaN count: 200
694. current column: X508, NaN count: 195
695. current column: X334, NaN count: 420
696. current column: X1227, NaN count: 198
697. current column: X983, NaN count: 215
698. current column: X548, NaN count: 196
699. current column: X1104, NaN count: 200
700. current column: X1226, NaN count: 200
701. current column: X400, NaN count: 195
702. current column: X585, NaN count: 197
703. current column: X962, NaN count: 215
704. current column: X1116, NaN count: 223
705. current column: X1473, NaN count: 226
706. current column: X527, NaN count: 197
707. current column: X1338, NaN count: 258
708. current column: X131, NaN count: 206
709. current column: X591, NaN count: 221
710. current column: X1440, NaN count: 199
711. current column: X1351, NaN count: 258
712. current column: X937, NaN count: 435
713. current column: X418, NaN count: 378
714. current column: X1412, NaN count: 198
715. current column: X913, NaN count: 434
716. current column: X855, NaN count: 225
717. current column: X496, NaN count: 196
718. current column: X189, NaN count: 206
719. current column: X721, NaN count: 196
720. current column: X697, NaN count: 198
721. current column: X738, NaN count: 198
722. current column: X533, NaN count: 221
723. current column: X204, NaN count: 204
724. current column: X71, NaN count: 3247
725. current column: X1235, NaN count: 198
726. current column: X637, NaN count: 200
727. current column: X92, NaN count: 0
728. current column: X1049, NaN count: 200
729. current column: X1114, NaN count: 250
730. current column: X1183, NaN count: 224
731. current column: X340, NaN count: 194
732. current column: X1169, NaN count: 223
733. current column: X1212, NaN count: 199
734. current column: X1238, NaN count: 199
735. current column: X1372, NaN count: 257
736. current column: X667, NaN count: 198
737. current column: X480, NaN count: 202
738. current column: X154, NaN count: 207
739. current column: X940, NaN count: 410
740. current column: X713, NaN count: 166
741. current column: X719, NaN count: 198
742. current column: X939, NaN count: 463
743. current column: X870, NaN count: 436
744. current column: X1318, NaN count: 258
745. current column: X251, NaN count: 206
746. current column: X556, NaN count: 195
747. current column: X739, NaN count: 197
748. current column: X704, NaN count: 198
749. current column: X992, NaN count: 229
750. current column: X1427, NaN count: 199
751. current column: X621, NaN count: 198
752. current column: X98, NaN count: 0
753. current column: X1470, NaN count: 200
754. current column: X1091, NaN count: 231
755. current column: X648, NaN count: 226
756. current column: X1123, NaN count: 250
757. current column: X1196, NaN count: 226
758. current column: X448, NaN count: 192
759. current column: X1155, NaN count: 250
760. current column: X706, NaN count: 196
761. current column: X1029, NaN count: 200
762. current column: X1284, NaN count: 232
763. current column: X420, NaN count: 192
764. current column: X642, NaN count: 199
765. current column: X1281, NaN count: 230
766. current column: X1147, NaN count: 224
767. current column: X835, NaN count: 227
768. current column: X1230, NaN count: 199
769. current column: X1390, NaN count: 231
770. current column: X487, NaN count: 195
771. current column: X117, NaN count: 0
772. current column: X838, NaN count: 199
773. current column: X991, NaN count: 219
774. current column: X857, NaN count: 200
775. current column: X268, NaN count: 203

776. current column: X1422, NaN count: 198
777. current column: X488, NaN count: 195
778. current column: X1497, NaN count: 221
779. current column: X1413, NaN count: 198
780. current column: X854, NaN count: 228
781. current column: X458, NaN count: 196
782. current column: X708, NaN count: 196
783. current column: X27, NaN count: 1505
784. current column: X867, NaN count: 198
785. current column: X777, NaN count: 198
786. current column: X145, NaN count: 205
787. current column: X1403, NaN count: 258
788. current column: X531, NaN count: 196
789. current column: X507, NaN count: 196
790. current column: X575, NaN count: 223
791. current column: X1072, NaN count: 202
792. current column: X311, NaN count: 196
793. current column: X1038, NaN count: 200
794. current column: X1013, NaN count: 220
795. current column: X863, NaN count: 198
796. current column: X199, NaN count: 206
797. current column: X503, NaN count: 222
798. current column: X301, NaN count: 192
799. current column: X319, NaN count: 195
800. current column: X1045, NaN count: 203
801. current column: X1321, NaN count: 258
802. current column: X1117, NaN count: 223
803. current column: X168, NaN count: 207
804. current column: X1172, NaN count: 224
805. current column: X1418, NaN count: 198
806. current column: X1475, NaN count: 200
807. current column: X620, NaN count: 199
808. current column: X474, NaN count: 197
809. current column: X1432, NaN count: 199
810. current column: X463, NaN count: 203
811. current column: X1325, NaN count: 230
812. current column: X1105, NaN count: 201
813. current column: X1055, NaN count: 203
814. current column: X1354, NaN count: 230
815. current column: X1058, NaN count: 200
816. current column: X1449, NaN count: 199
817. current column: X147, NaN count: 202
818. current column: X753, NaN count: 197
819. current column: X583, NaN count: 221
820. current column: X1001, NaN count: 240
821. current column: X97, NaN count: 0
822. current column: X1489, NaN count: 227
823. current column: X806, NaN count: 198
824. current column: X1310, NaN count: 230
825. current column: X881, NaN count: 435
826. current column: X1273, NaN count: 199
827. current column: X1398, NaN count: 231
828. current column: X809, NaN count: 200
829. current column: X861, NaN count: 227
830. current column: X1461, NaN count: 200
831. current column: X907, NaN count: 436
832. current column: X188, NaN count: 205
833. current column: X1315, NaN count: 258
834. current column: X394, NaN count: 195
835. current column: X1494, NaN count: 229
836. current column: X745, NaN count: 221
837. current column: X1122, NaN count: 247
838. current column: X497, NaN count: 223
839. current column: X847, NaN count: 200
840. current column: X817, NaN count: 194
841. current column: X1300, NaN count: 258
842. current column: X264, NaN count: 208
843. current column: X395, NaN count: 197
844. current column: X584, NaN count: 222
845. current column: X1205, NaN count: 224
846. current column: X645, NaN count: 200
847. current column: X322, NaN count: 197
848. current column: X335, NaN count: 197
849. current column: X1385, NaN count: 467
850. current column: X1092, NaN count: 204
851. current column: X1016, NaN count: 216
852. current column: X1452, NaN count: 201
853. current column: X1460, NaN count: 227
854. current column: X193, NaN count: 486
855. current column: X624, NaN count: 200
856. current column: X1030, NaN count: 200
857. current column: X1424, NaN count: 198
858. current column: X969, NaN count: 243
859. current column: X1313, NaN count: 257
860. current column: X755, NaN count: 197
861. current column: X925, NaN count: 435
862. current column: X1109, NaN count: 232
863. current column: X651, NaN count: 204
864. current column: X504, NaN count: 197
865. current column: X1278, NaN count: 258
866. current column: X1134, NaN count: 224
867. current column: X808, NaN count: 227
868. current column: X21, NaN count: 1505
869. current column: X1298, NaN count: 230
870. current column: X461, NaN count: 196
871. current column: X1389, NaN count: 231
872. current column: X1152, NaN count: 222
873. current column: X1041, NaN count: 229
874. current column: X842, NaN count: 200
875. current column: X1330, NaN count: 229
876. current column: X456, NaN count: 197
877. current column: X1157, NaN count: 222
878. current column: X523, NaN count: 223
879. current column: X1448, NaN count: 199
880. current column: X438, NaN count: 159
881. current column: X1373, NaN count: 230
882. current column: X1306, NaN count: 258
883. current column: X1249, NaN count: 215
884. current column: X698, NaN count: 165
885. current column: X150, NaN count: 205
886. current column: X567, NaN count: 223
887. current column: X1442, NaN count: 199
888. current column: X1392, NaN count: 325
889. current column: X1095, NaN count: 232
890. current column: X769, NaN count: 196
891. current column: X512, NaN count: 197
892. current column: X742, NaN count: 213
893. current column: X801, NaN count: 212
894. current column: X6, NaN count: 1505
895. current column: X811, NaN count: 227
896. current column: X737, NaN count: 195
897. current column: X237, NaN count: 204
898. current column: X876, NaN count: 436
899. current column: X1450, NaN count: 227
900. current column: X669, NaN count: 198
901. current column: X1487, NaN count: 227
902. current column: X865, NaN count: 199
903. current column: X274, NaN count: 203
904. current column: X576, NaN count: 221
905. current column: X848, NaN count: 200
906. current column: X652, NaN count: 200
907. current column: X1165, NaN count: 222
908. current column: X1345, NaN count: 258
909. current column: X948, NaN count: 219
910. current column: X1015, NaN count: 215
911. current column: X532, NaN count: 222
912. current column: X1439, NaN count: 264
913. current column: X676, NaN count: 199
914. current column: X1137, NaN count: 224
915. current column: X1167, NaN count: 224
916. current column: X696, NaN count: 196
917. current column: X40, NaN count: 1505
918. current column: X761, NaN count: 198
919. current column: X1367, NaN count: 255
920. current column: X1185, NaN count: 222
921. current column: X912, NaN count: 435
922. current column: X375, NaN count: 197
923. current column: X727, NaN count: 166
924. current column: X1124, NaN count: 223
925. current column: X685, NaN count: 198
926. current column: X272, NaN count: 203
927. current column: X1188, NaN count: 223
928. current column: X758, NaN count: 194
929. current column: X663, NaN count: 199
930. current column: X892, NaN count: 434
931. current column: X1365, NaN count: 230
932. current column: X1393, NaN count: 258
933. current column: X1264, NaN count: 199
934. current column: X207, NaN count: 206
935. current column: X404, NaN count: 196
936. current column: X1407, NaN count: 199
937. current column: X1128, NaN count: 224
938. current column: X898, NaN count: 434
939. current column: X1138, NaN count: 224
940. current column: X971, NaN count: 219
941. current column: X1080, NaN count: 200
942. current column: X588, NaN count: 221
943. current column: X1193, NaN count: 250
944. current column: X490, NaN count: 195
945. current column: X66, NaN count: 1505
946. current column: X974, NaN count: 219
947. current column: X709, NaN count: 165
948. current column: X830, NaN count: 200
949. current column: X776, NaN count: 227
950. current column: X1469, NaN count: 227
951. current column: X1025, NaN count: 203
952. current column: X1067, NaN count: 232
953. current column: X1201, NaN count: 223
954. current column: X920, NaN count: 435
955. current column: X85, NaN count: 283
956. current column: X52, NaN count: 1505
957. current column: X78, NaN count: 0
958. current column: X1376, NaN count: 230
959. current column: X338, NaN count: 196
960. current column: X558, NaN count: 222
961. current column: X1081, NaN count: 200
962. current column: X316, NaN count: 197
963. current column: X543, NaN count: 197
964. current column: X343, NaN count: 192
965. current column: X1360, NaN count: 230
966. current column: X943, NaN count: 436
967. current column: X673, NaN count: 200
968. current column: X1361, NaN count: 230

969. current column: X515, NaN count: 196
970. current column: X1217, NaN count: 200
971. current column: X950, NaN count: 215
972. current column: X1386, NaN count: 258
973. current column: X530, NaN count: 221
974. current column: X1453, NaN count: 227
975. current column: X1156, NaN count: 222
976. current column: X582, NaN count: 223
977. current column: X660, NaN count: 226
978. current column: X113, NaN count: 0
979. current column: X840, NaN count: 201
980. current column: X998, NaN count: 216
981. current column: X799, NaN count: 204
982. current column: X1204, NaN count: 250
983. current column: X572, NaN count: 197
984. current column: X1174, NaN count: 249
985. current column: X807, NaN count: 200
986. current column: X1110, NaN count: 224
987. current column: X12, NaN count: 1505
988. current column: X985, NaN count: 214
989. current column: X1069, NaN count: 200
990. current column: X257, NaN count: 208
991. current column: X880, NaN count: 434
992. current column: X919, NaN count: 436
993. current column: X49, NaN count: 1505
994. current column: X1320, NaN count: 258
995. current column: X625, NaN count: 200
996. current column: X1149, NaN count: 222
997. current column: X1053, NaN count: 200
998. current column: X597, NaN count: 197
999. current column: X304, NaN count: 196
1000. current column: X650, NaN count: 198
1001. current column: X387, NaN count: 196
1002. current column: X465, NaN count: 203
1003. current column: X1051, NaN count: 200
1004. current column: X566, NaN count: 221
1005. current column: X614, NaN count: 196
1006. current column: X284, NaN count: 206
1007. current column: X1417, NaN count: 198
1008. current column: X960, NaN count: 219
1009. current column: X135, NaN count: 206
1010. current column: X964, NaN count: 219
1011. current column: X1079, NaN count: 230
1012. current column: X1077, NaN count: 200
1013. current column: X1291, NaN count: 258
1014. current column: X794, NaN count: 200
1015. current column: X344, NaN count: 196
1016. current column: X1126, NaN count: 249
1017. current column: X764, NaN count: 166
1018. current column: X33, NaN count: 1512
1019. current column: X1438, NaN count: 198
1020. current column: X714, NaN count: 197
1021. current column: X221, NaN count: 203
1022. current column: X1446, NaN count: 199
1023. current column: X1009, NaN count: 216
1024. current column: X1304, NaN count: 257
1025. current column: X1406, NaN count: 199
1026. current column: X60, NaN count: 1505
1027. current column: X672, NaN count: 200
1028. current column: X832, NaN count: 198
1029. current column: X293, NaN count: 207
1030. current column: X1312, NaN count: 230
1031. current column: X89, NaN count: 0
1032. current column: X1344, NaN count: 258
1033. current column: X1457, NaN count: 201
1034. current column: X191, NaN count: 207
1035. current column: X875, NaN count: 429
1036. current column: X1490, NaN count: 227
1037. current column: X46, NaN count: 1505
1038. current column: X1444, NaN count: 199
1039. current column: X609, NaN count: 222
1040. current column: X603, NaN count: 196
1041. current column: X819, NaN count: 227
1042. current column: X1004, NaN count: 216
1043. current column: X628, NaN count: 200
1044. current column: X1464, NaN count: 224
1045. current column: X1076, NaN count: 203
1046. current column: X675, NaN count: 199
1047. current column: X763, NaN count: 197
1048. current column: X546, NaN count: 222
1049. current column: X373, NaN count: 166
1050. current column: X238, NaN count: 207
1051. current column: X1384, NaN count: 229
1052. current column: X856, NaN count: 199
1053. current column: X1307, NaN count: 230
1054. current column: X538, NaN count: 223
1055. current column: X1370, NaN count: 233
1056. current column: X1096, NaN count: 203
1057. current column: X787, NaN count: 198
1058. current column: X1280, NaN count: 231
1059. current column: X1203, NaN count: 239
1060. current column: X1349, NaN count: 246
1061. current column: X779, NaN count: 221
1062. current column: X976, NaN count: 215
1063. current column: X730, NaN count: 195
1064. current column: X666, NaN count: 198
1065. current column: X417, NaN count: 196
1066. current column: X723, NaN count: 198
1067. current column: X1319, NaN count: 231
1068. current column: X994, NaN count: 219
1069. current column: X1301, NaN count: 257
1070. current column: X1397, NaN count: 230
1071. current column: X1248, NaN count: 200
1072. current column: X453, NaN count: 195
1073. current column: X542, NaN count: 196
1074. current column: X483, NaN count: 195
1075. current column: X374, NaN count: 197
1076. current column: X1098, NaN count: 200
1077. current column: X1275, NaN count: 199
1078. current column: X729, NaN count: 165
1079. current column: X362, NaN count: 192
1080. current column: X882, NaN count: 405
1081. current column: X1416, NaN count: 198
1082. current column: X1074, NaN count: 203
1083. current column: X619, NaN count: 227
1084. current column: X1028, NaN count: 203
1085. current column: X747, NaN count: 224
1086. current column: X1135, NaN count: 224
1087. current column: X519, NaN count: 197
1088. current column: X862, NaN count: 198
1089. current column: X162, NaN count: 205
1090. current column: X869, NaN count: 461
1091. current column: X146, NaN count: 208
1092. current column: X1335, NaN count: 232
1093. current column: X932, NaN count: 441
1094. current column: X1197, NaN count: 223
1095. current column: X722, NaN count: 197
1096. current column: X554, NaN count: 222
1097. current column: X578, NaN count: 195
1098. current column: X1331, NaN count: 231
1099. current column: X717, NaN count: 198
1100. current column: X1353, NaN count: 231
1101. current column: X1484, NaN count: 227
1102. current column: X993, NaN count: 214
1103. current column: X1433, NaN count: 199
1104. current column: X931, NaN count: 404
1105. current column: X846, NaN count: 199
1106. current column: X1357, NaN count: 251
1107. current column: X1048, NaN count: 200
1108. current column: X618, NaN count: 197
1109. current column: X1317, NaN count: 258
1110. current column: X963, NaN count: 902
1111. current column: X1308, NaN count: 258
1112. current column: X342, NaN count: 166
1113. current column: X561, NaN count: 222
1114. current column: X212, NaN count: 204
1115. current column: X1175, NaN count: 224
1116. current column: X734, NaN count: 224
1117. current column: X634, NaN count: 199
1118. current column: X156, NaN count: 204
1119. current column: X1056, NaN count: 200
1120. current column: X309, NaN count: 196
1121. current column: X813, NaN count: 199
1122. current column: X520, NaN count: 195
1123. current column: X1292, NaN count: 229
1124. current column: X754, NaN count: 198
1125. current column: X911, NaN count: 405
1126. current column: X1368, NaN count: 258
1127. current column: X307, NaN count: 183
1128. current column: X1133, NaN count: 268
1129. current column: X1198, NaN count: 223
1130. current column: X1477, NaN count: 224
1131. current column: X700, NaN count: 196
1132. current column: X411, NaN count: 192
1133. current column: X1189, NaN count: 223
1134. current column: X249, NaN count: 205
1135. current column: X1381, NaN count: 258
1136. current column: X56, NaN count: 2063
1137. current column: X336, NaN count: 196
1138. current column: X1294, NaN count: 229
1139. current column: X1060, NaN count: 227
1140. current column: X1387, NaN count: 258
1141. current column: X782, NaN count: 200
1142. current column: X630, NaN count: 198
1143. current column: X1023, NaN count: 202
1144. current column: X712, NaN count: 188
1145. current column: X356, NaN count: 170
1146. current column: X982, NaN count: 217
1147. current column: X1425, NaN count: 198
1148. current column: X210, NaN count: 205
1149. current column: X972, NaN count: 215
1150. current column: X513, NaN count: 223
1151. current column: X15, NaN count: 1505
1152. current column: X699, NaN count: 195
1153. current column: X1421, NaN count: 198
1154. current column: X1451, NaN count: 220
1155. current column: X1085, NaN count: 232
1156. current column: X718, NaN count: 198
1157. current column: X1062, NaN count: 231

1158. current column: X170, NaN count: 202
1159. current column: X95, NaN count: 0
1160. current column: X1199, NaN count: 247
1161. current column: X93, NaN count: 0
1162. current column: X841, NaN count: 199
1163. current column: X967, NaN count: 223
1164. current column: X687, NaN count: 198
1165. current column: X1022, NaN count: 201
1166. current column: X780, NaN count: 167
1167. current column: X1268, NaN count: 199
1168. current column: X887, NaN count: 436
1169. current column: X1388, NaN count: 229
1170. current column: X640, NaN count: 200
1171. current column: X90, NaN count: 0
1172. current column: X552, NaN count: 195
1173. current column: X1173, NaN count: 224
1174. current column: X935, NaN count: 435
1175. current column: X1118, NaN count: 229
1176. current column: X434, NaN count: 196
1177. current column: X1054, NaN count: 201
1178. current column: X562, NaN count: 197
1179. current column: X693, NaN count: 221
1180. current column: X1375, NaN count: 255
1181. current column: X1289, NaN count: 258
1182. current column: X1339, NaN count: 258
1183. current column: X182, NaN count: 203
1184. current column: X1491, NaN count: 227
1185. current column: X649, NaN count: 1507
1186. current column: X511, NaN count: 196
1187. current column: X1102, NaN count: 203
1188. current column: X916, NaN count: 436
1189. current column: X184, NaN count: 203
1190. current column: X547, NaN count: 221
1191. current column: X710, NaN count: 197
1192. current column: X868, NaN count: 436
1193. current column: X1044, NaN count: 232
1194. current column: X605, NaN count: 221
1195. current column: X1252, NaN count: 200
1196. current column: X579, NaN count: 221
1197. current column: X573, NaN count: 222
1198. current column: X1358, NaN count: 231
1199. current column: X485, NaN count: 197
1200. current column: X1377, NaN count: 258
1201. current column: X11, NaN count: 1505
1202. current column: X190, NaN count: 206
1203. current column: X1063, NaN count: 200
1204. current column: X25, NaN count: 1505
1205. current column: X234, NaN count: 206
1206. current column: X222, NaN count: 207
1207. current column: X1223, NaN count: 199
1208. current column: X1277, NaN count: 224
1209. current column: X980, NaN count: 219
1210. current column: X550, NaN count: 197
1211. current column: X661, NaN count: 198
1212. current column: X84, NaN count: 0
1213. current column: X1176, NaN count: 223
1214. current column: X858, NaN count: 198
1215. current column: X596, NaN count: 196
1216. current column: X1265, NaN count: 199
1217. current column: X1391, NaN count: 231
1218. current column: X715, NaN count: 196
1219. current column: X1419, NaN count: 198
1220. current column: X682, NaN count: 198
1221. current column: X444, NaN count: 192
1222. current column: X1192, NaN count: 223
1223. current column: X328, NaN count: 192
1224. current column: X171, NaN count: 205
1225. current column: X570, NaN count: 223
1226. current column: X720, NaN count: 217
1227. current column: X505, NaN count: 197
1228. current column: X852, NaN count: 227
1229. current column: X1279, NaN count: 255
1230. current column: X1225, NaN count: 200
1231. current column: X802, NaN count: 215
1232. current column: X499, NaN count: 197
1233. current column: X440, NaN count: 192
1234. current column: X1166, NaN count: 250
1235. current column: X1431, NaN count: 199
1236. current column: X1482, NaN count: 206
1237. current column: X23, NaN count: 1505
1238. current column: X441, NaN count: 195
1239. current column: X1070, NaN count: 202
1240. current column: X707, NaN count: 222
1241. current column: X493, NaN count: 223
1242. current column: X785, NaN count: 200
1243. current column: X873, NaN count: 414
1244. current column: X1179, NaN count: 224
1245. current column: X1125, NaN count: 224
1246. current column: X109, NaN count: 0
1247. current column: X224, NaN count: 208
1248. current column: X1259, NaN count: 198
1249. current column: X1143, NaN count: 248
1250. current column: X1324, NaN count: 230
1251. current column: X889, NaN count: 436
1252. current column: X689, NaN count: 200
1253. current column: X447, NaN count: 197
1254. current column: X1270, NaN count: 199
1255. current column: X827, NaN count: 226
1256. current column: X1037, NaN count: 201
1257. current column: X942, NaN count: 435
1258. current column: X1498, NaN count: 221
1259. current column: X678, NaN count: 225
1260. current column: X1100, NaN count: 232
1261. current column: X239, NaN count: 208
1262. current column: X1369, NaN count: 258
1263. current column: X436, NaN count: 196
1264. current column: X536, NaN count: 222
1265. current column: X933, NaN count: 404
1266. current column: X1035, NaN count: 789
1267. current column: X1194, NaN count: 250
1268. current column: X1441, NaN count: 199
1269. current column: X291, NaN count: 205
1270. current column: X1328, NaN count: 230
1271. current column: X1323, NaN count: 232
1272. current column: X616, NaN count: 197
1273. current column: X1195, NaN count: 224
1274. current column: X944, NaN count: 153
1275. current column: X1017, NaN count: 219
1276. current column: X1164, NaN count: 224
1277. current column: X656, NaN count: 198
1278. current column: X1287, NaN count: 229
1279. current column: X324, NaN count: 196
1280. current column: X767, NaN count: 224
1281. current column: X1271, NaN count: 199
1282. current column: X1288, NaN count: 230
1283. current column: X58, NaN count: 1515
1284. current column: X1033, NaN count: 220
1285. current column: X1163, NaN count: 223

In [35]:
train3 = pd.merge(train3, wthr, on="Time")
train3

,Time,X692,X1272,X553,X1299,X598,X1003,X1010,X1216,X1047,...,X767,X1271,X1288,X58,X1033,X1163,temp,wind,hue,hpa
0,2018-02-15 10:00,0.357,0.257,0.440,0.492,0.461,0.660,0.437,0.208,0.245,...,0.839,0.639,0.350,2.309,0.339,0.402,-2.6,4.9,37,1015.0
1,2018-02-15 11:00,0.387,0.276,0.426,0.532,0.265,0.554,0.376,0.547,0.148,...,1.214,0.975,0.369,2.309,0.429,0.406,-2.1,5.0,33,1014.9
2,2018-02-15 12:00,0.360,0.277,0.477,0.351,0.293,0.687,1.229,0.701,0.153,...,0.861,0.889,0.216,2.309,0.403,0.261,-0.9,4.3,28,1014.8
3,2018-02-15 13:00,0.333,0.281,0.432,0.335,0.255,0.516,0.669,0.506,0.139,...,0.356,0.620,0.957,2.309,0.314,0.256,0.6,4.9,20,1014.1
4,2018-02-15 14:00,0.350,0.257,0.468,0.298,0.443,0.436,0.682,0.670,0.135,...,0.318,0.600,1.189,2.309,0.420,0.404,1.5,4.3,26,1013.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1885,2018-06-29 19:00,0.275,0.212,0.425,0.108,0.153,0.180,0.296,0.292,0.144,...,0.205,0.198,0.240,0.691,0.223,0.224,23.3,2.2,85,995.7
1886,2018-06-29 20:00,1.423,2.113,1.789,0.884,1.178,0.768,1.190,1.057,1.159,...,1.619,2.488,2.486,4.052,1.202,0.224,22.5,2.1,89,996.2
1887,2018-06-29 21:00,0.275,0.212,0.425,0.108,0.153,0.180,0.296,0.292,0.144,...,0.205,0.198,0.240,4.453,0.223,0.224,21.7,0.7,94,996.9
1888,2018-06-29 22:00,0.275,0.212,0.425,0.108,0.153,0.180,0.296,0.292,0.144,...,0.205,0.198,0.240,4.135,0.223,0.224,21.2,1.2,96,998.0
1889,2018-06-29 23:00,0.084,0.187,0.123,0.134,0.119,0.055,0.092,0.093,0.044,...,0.131,0.083,0.218,4.211,0.061,0.137,20.5,1.4,98,998.5

In [36]:
train3['Time'] = pd.to_datetime(train3.Time)
train3 = train3.set_index('Time')

In [37]:
train3.head()

,X692,X1272,X553,X1299,X598,X1003,X1010,X1216,X1047,X381,...,X767,X1271,X1288,X58,X1033,X1163,temp,wind,hue,hpa
Time,,,,,,,,,,,,,,,,,,,,,
2018-02-15 10:00:00,0.357,0.257,0.440,0.492,0.461,0.660,0.437,0.208,0.245,0.192,...,0.839,0.639,0.350,2.309,0.339,0.402,-2.6,4.9,37,1015.0
2018-02-15 11:00:00,0.387,0.276,0.426,0.532,0.265,0.554,0.376,0.547,0.148,0.359,...,1.214,0.975,0.369,2.309,0.429,0.406,-2.1,5.0,33,1014.9
2018-02-15 12:00:00,0.360,0.277,0.477,0.351,0.293,0.687,1.229,0.701,0.153,0.274,...,0.861,0.889,0.216,2.309,0.403,0.261,-0.9,4.3,28,1014.8
2018-02-15 13:00:00,0.333,0.281,0.432,0.335,0.255,0.516,0.669,0.506,0.139,0.211,...,0.356,0.620,0.957,2.309,0.314,0.256,0.6,4.9,20,1014.1
2018-02-15 14:00:00,0.350,0.257,0.468,0.298,0.443,0.436,0.682,0.670,0.135,0.206,...,0.318,0.600,1.189,2.309,0.420,0.404,1.5,4.3,26,1013.6

In [66]:
len(train3)

1890

In [110]:
time = []; place_id = []; target = []; temp = []; wind = []; hue = []; hpa = [];

for i in tqdm_notebook(train3.columns):
    for j in range(len(train3)):
        place_id.append(i)
        time.append(train3.index[j])
        target.append(train3[i].iloc[j])
        temp.append(train3['temp'].iloc[j])
        wind.append(train3['wind'].iloc[j])
        hue.append(train3['hue'].iloc[j])
        hpa.append(train3['hpa'].iloc[j])
new_df = pd.DataFrame({'place_id': place_id, 'time':time, 'target': target, 'temp': temp, 'wind': wind, 'hue': hue, 'hpa': hpa })
new_df = new_df.dropna()
new_df = new_df.set_index('time')
new_df.head()

HBox(children=(IntProgress(value=0, max=1289), HTML(value='')))

                    place_id  target  temp  wind  hue     hpa
time
2018-02-15 10:00:00     X692   0.357  -2.6   4.9   37  1015.0
2018-02-15 11:00:00     X692   0.387  -2.1   5.0   33  1014.9
2018-02-15 12:00:00     X692   0.360  -0.9   4.3   28  1014.8
2018-02-15 13:00:00     X692   0.333   0.6   4.9   20  1014.1
2018-02-15 14:00:00     X692   0.350   1.5   4.3   26  1013.6

In [77]:
1885 * 1289

2429765

In [111]:
new_df_1 = new_df.copy()

In [100]:
new_df.iloc[:][2428650:]

                    place_id  target  temp  wind  hue     hpa
time
2018-02-15 10:00:00     temp    -2.6  -2.6   4.9   37  1015.0
2018-02-15 11:00:00     temp    -2.1  -2.1   5.0   33  1014.9
2018-02-15 12:00:00     temp    -0.9  -0.9   4.3   28  1014.8
2018-02-15 13:00:00     temp     0.6   0.6   4.9   20  1014.1
2018-02-15 14:00:00     temp     1.5   1.5   4.3   26  1013.6
...                      ...     ...   ...   ...  ...     ...
2018-06-29 19:00:00      hpa   995.7  23.3   2.2   85   995.7
2018-06-29 20:00:00      hpa   996.2  22.5   2.1   89   996.2
2018-06-29 21:00:00      hpa   996.9  21.7   0.7   94   996.9
2018-06-29 22:00:00      hpa   998.0  21.2   1.2   96   998.0
2018-06-29 23:00:00      hpa   998.5  20.5   1.4   98   998.5

[7560 rows x 6 columns]

In [117]:
new_df_1.index[2428650:]

DatetimeIndex(['2018-02-15 10:00:00', '2018-02-15 11:00:00',
               '2018-02-15 12:00:00', '2018-02-15 13:00:00',
               '2018-02-15 14:00:00', '2018-02-15 15:00:00',
               '2018-02-15 16:00:00', '2018-02-15 17:00:00',
               '2018-02-15 18:00:00', '2018-02-15 19:00:00',
               ...
               '2018-06-29 14:00:00', '2018-06-29 15:00:00',
               '2018-06-29 16:00:00', '2018-06-29 17:00:00',
               '2018-06-29 18:00:00', '2018-06-29 19:00:00',
               '2018-06-29 20:00:00', '2018-06-29 21:00:00',
               '2018-06-29 22:00:00', '2018-06-29 23:00:00'],
              dtype='datetime64[ns]', name='time', length=7560, freq=None)

In [121]:
new_df_1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2436210 entries, 2018-02-15 10:00:00 to 2018-06-29 23:00:00
Data columns (total 6 columns):
place_id    object
target      float64
temp        float64
wind        float64
hue         int64
hpa         float64
dtypes: float64(4), int64(1), object(1)
memory usage: 170.1+ MB

In [122]:
to_del = [2428650:2436210]

SyntaxError: invalid syntax (<ipython-input-122-8ed6d4294ca4>, line 1)

In [123]:
new_df_1 = new_df_1.iloc[:2428650]

In [124]:
new_df_1

                    place_id  target  temp  wind  hue     hpa
time
2018-02-15 10:00:00     X692   0.357  -2.6   4.9   37  1015.0
2018-02-15 11:00:00     X692   0.387  -2.1   5.0   33  1014.9
2018-02-15 12:00:00     X692   0.360  -0.9   4.3   28  1014.8
2018-02-15 13:00:00     X692   0.333   0.6   4.9   20  1014.1
2018-02-15 14:00:00     X692   0.350   1.5   4.3   26  1013.6
...                      ...     ...   ...   ...  ...     ...
2018-06-29 19:00:00    X1163   0.224  23.3   2.2   85   995.7
2018-06-29 20:00:00    X1163   0.224  22.5   2.1   89   996.2
2018-06-29 21:00:00    X1163   0.224  21.7   0.7   94   996.9
2018-06-29 22:00:00    X1163   0.224  21.2   1.2   96   998.0
2018-06-29 23:00:00    X1163   0.137  20.5   1.4   98   998.5

[2428650 rows x 6 columns]

In [63]:
new_df.to_csv("train_new.csv")

## test 처리

In [39]:
test_df = pd.read_csv('data/test.csv')
test_df

,Time,X26,X303,X241,X435,X402,X352,X305,X350,X326,...,X283,X329,X223,X266,X20,X443,X347,X75,X107,X230
0,2017.7.1 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.275,0.021,NaN
1,2017.7.1 1:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.222,0.021,NaN
2,2017.7.1 2:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.237,0.021,NaN
3,2017.7.1 3:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.229,0.020,NaN
4,2017.7.1 4:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.202,0.021,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2018.6.30 19:00,1.255,0.175,0.430,0.429,0.169,0.739,0.573,0.341,0.127,...,0.312,0.381,0.479,0.858,11.546,0.428,0.134,3.519,0.027,0.286
8756,2018.6.30 20:00,1.596,1.692,0.332,0.366,0.159,0.255,0.501,0.281,0.126,...,0.327,0.402,0.725,0.816,11.591,0.413,0.206,3.331,0.027,0.303
8757,2018.6.30 21:00,1.379,0.883,0.435,0.497,0.166,0.233,0.634,0.401,0.439,...,0.253,0.401,0.426,0.659,10.766,0.466,0.324,3.416,0.026,0.253
8758,2018.6.30 22:00,1.000,0.539,0.268,0.459,0.463,0.454,0.676,0.543,0.737,...,0.332,0.401,0.353,0.462,0.312,0.473,0.402,4.263,0.027,0.253
8759,2018.6.30 23:00,0.976,0.481,0.220,0.418,0.646,0.419,0.680,0.499,0.304,...,0.434,0.435,0.349,0.792,0.309,0.519,0.334,0.784,0.027,0.310

In [40]:
time_te = test_df.iloc[:, 0:1]
time_te

                 Time
0       2017.7.1 0:00
1       2017.7.1 1:00
2       2017.7.1 2:00
3       2017.7.1 3:00
4       2017.7.1 4:00
...               ...
8755  2018.6.30 19:00
8756  2018.6.30 20:00
8757  2018.6.30 21:00
8758  2018.6.30 22:00
8759  2018.6.30 23:00

[8760 rows x 1 columns]

In [41]:
t_wthr = pd.read_csv('test_wth.csv')
t_wthr = t_wthr.iloc[:,0:5]
t_wthr

                  Time  temp  wind   hue     hpa
0      2017-07-01 0:00  22.8   2.1  91.0  1000.0
1      2017-07-01 1:00  22.7   2.4  92.0   999.5
2      2017-07-01 2:00  22.3   1.9  95.0   999.4
3      2017-07-01 3:00  22.0   1.8  95.0   998.8
4      2017-07-01 4:00  21.8   2.4  95.0   998.7
...                ...   ...   ...   ...     ...
8755  2018-06-30 19:00  26.5   1.8  77.0  1001.6
8756  2018-06-30 20:00  24.5   2.4  80.0  1001.8
8757  2018-06-30 21:00  24.5   3.6  79.0  1002.3
8758  2018-06-30 22:00  24.1   1.4  88.0  1002.4
8759  2018-06-30 23:00  23.9   0.0  83.0  1002.6

[8760 rows x 5 columns]

In [42]:
test = test_df.dropna(how='all', axis=1)
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Columns: 201 entries, Time to X230
dtypes: float64(200), object(1)
memory usage: 13.4+ MB

In [44]:
t_mode1 =  pd.read_csv('f_mode1.csv')

In [45]:
t_mode1

,X26,X303,X241,X435,X402,X352,X305,X350,X326,X299,...,X283,X329,X223,X266,X20,X443,X347,X75,X107,X230
0,1.434,0.25,0.266,0.305,0.185,0.079,0.283,0.253,0.02,0.24,...,0.17,0.088,0.219,0.154,0.092,0.094,0.131,1.109,0.225,0.26

In [46]:
mt = t_mode1.columns
test2 = pd.DataFrame()   # 새로운 데이터프레임 생성
n=0  # 현재 칼럼카운트를 보여주기 위한 변수

# 미터ID 리스트 c에서 1개씩 for loop
for i in tqdm_notebook(mt):  
    n +=1   # 카운트 
    li = test[test[i].isnull()].index   # li: test데이터프레임의 특정 열(i)에서 Null인 셀 index추출 
    df = pd.DataFrame(test[i])    # df: test의 i열을 별개 데이터프레임으로 생성
    for t in li:    #  li(Null 인덱스)를 사용해 for loop
        df.loc[t] = t_mode1[i][0]  # null값에 t.hour 평균 대입
    print("%d. current column: %s, NaN count: %d" %(n, i, len(li)))   
    test2 = pd.concat([test2,df], axis=1)  # 평균 대치가 끝난 df를 test2에 concat해준다. 
    
test3 = pd.concat([time_te,test2],axis=1)

HBox(children=(IntProgress(value=0, max=200), HTML(value='')))

1. current column: X26, NaN count: 7003
2. current column: X303, NaN count: 1852
3. current column: X241, NaN count: 1894
4. current column: X435, NaN count: 2008
5. current column: X402, NaN count: 2003
6. current column: X352, NaN count: 1903
7. current column: X305, NaN count: 2021
8. current column: X350, NaN count: 1926
9. current column: X326, NaN count: 2037
10. current column: X299, NaN count: 2017
11. current column: X160, NaN count: 2088
12. current column: X125, NaN count: 0
13. current column: X211, NaN count: 1905
14. current column: X349, NaN count: 2016
15. current column: X407, NaN count: 2006
16. current column: X330, NaN count: 1985
17. current column: X132, NaN count: 1886
18. current column: X231, NaN count: 2094
19. current column: X225, NaN count: 2065
20. current column: X16, NaN count: 7003
21. current column: X286, NaN count: 2040
22. current column: X354, NaN count: 1969
23. current column: X353, NaN count: 2024
24. current column: X76, NaN count: 0
25. current column: X255, NaN count: 1929
26. current column: X106, NaN count: 0
27. current column: X393, NaN count: 1979
28. current column: X157, NaN count: 2121
29. current column: X323, NaN count: 2021
30. current column: X130, NaN count: 1923
31. current column: X269, NaN count: 2122
32. current column: X94, NaN count: 0
33. current column: X172, NaN count: 2092
34. current column: X289, NaN count: 2039
35. current column: X216, NaN count: 1926
36. current column: X123, NaN count: 0
37. current column: X398, NaN count: 2003
38. current column: X233, NaN count: 1930
39. current column: X214, NaN count: 1895
40. current column: X270, NaN count: 2093
41. current column: X371, NaN count: 2024
42. current column: X200, NaN count: 2096
43. current column: X111, NaN count: 0
44. current column: X163, NaN count: 1869
45. current column: X364, NaN count: 1979
46. current column: X378, NaN count: 1998
47. current column: X271, NaN count: 2121
48. current column: X462, NaN count: 2147
49. current column: X427, NaN count: 2009
50. current column: X73, NaN count: 112
51. current column: X7, NaN count: 7003
52. current column: X263, NaN count: 2065
53. current column: X450, NaN count: 1878
54. current column: X18, NaN count: 7003
55. current column: X206, NaN count: 2089
56. current column: X133, NaN count: 1822
57. current column: X41, NaN count: 7003
58. current column: X195, NaN count: 1927
59. current column: X155, NaN count: 2675
60. current column: X134, NaN count: 1926
61. current column: X297, NaN count: 1969
62. current column: X175, NaN count: 2090
63. current column: X254, NaN count: 1932
64. current column: X196, NaN count: 1897
65. current column: X481, NaN count: 4583
66. current column: X412, NaN count: 1863
67. current column: X337, NaN count: 2022
68. current column: X406, NaN count: 1871
69. current column: X67, NaN count: 0
70. current column: X414, NaN count: 1865
71. current column: X55, NaN count: 7003
72. current column: X91, NaN count: 0
73. current column: X260, NaN count: 1892
74. current column: X252, NaN count: 1927
75. current column: X5, NaN count: 7003
76. current column: X455, NaN count: 2232
77. current column: X43, NaN count: 7003
78. current column: X320, NaN count: 1945
79. current column: X276, NaN count: 2274
80. current column: X423, NaN count: 1987
81. current column: X218, NaN count: 2087
82. current column: X399, NaN count: 1875
83. current column: X213, NaN count: 2120
84. current column: X379, NaN count: 2015
85. current column: X468, NaN count: 2123
86. current column: X253, NaN count: 1930
87. current column: X247, NaN count: 2044
88. current column: X262, NaN count: 2085
89. current column: X248, NaN count: 1895
90. current column: X357, NaN count: 1981
91. current column: X215, NaN count: 1897
92. current column: X177, NaN count: 2091
93. current column: X228, NaN count: 1883
94. current column: X59, NaN count: 7003
95. current column: X10, NaN count: 7003
96. current column: X187, NaN count: 2076
97. current column: X245, NaN count: 2111
98. current column: X87, NaN count: 0
99. current column: X242, NaN count: 2123
100. current column: X376, NaN count: 1987
101. current column: X166, NaN count: 1894
102. current column: X472, NaN count: 2133
103. current column: X275, NaN count: 2253
104. current column: X126, NaN count: 0
105. current column: X120, NaN count: 0
106. current column: X313, NaN count: 1964
107. current column: X201, NaN count: 2089
108. current column: X110, NaN count: 0
109. current column: X408, NaN count: 1857
110. current column: X62, NaN count: 7003
111. current column: X419, NaN count: 1901
112. current column: X460, NaN count: 1850
113. current column: X367, NaN count: 2111
114. current column: X143, NaN count: 2096
115. current column: X312, NaN count: 2460
116. current column: X410, NaN count: 1998
117. current column: X389, NaN count: 1875
118. current column: X300, NaN count: 1961
119. current column: X61, NaN count: 7003
120. current column: X470, NaN count: 2131
121. current column: X445, NaN count: 2009
122. current column: X158, NaN count: 2099
123. current column: X421, NaN count: 1874
124. current column: X105, NaN count: 0
125. current column: X32, NaN count: 7003
126. current column: X178, NaN count: 2090
127. current column: X308, NaN count: 2023
128. current column: X217, NaN count: 1929
129. current column: X229, NaN count: 1894
130. current column: X358, NaN count: 2022
131. current column: X31, NaN count: 7003
132. current column: X148, NaN count: 2034
133. current column: X397, NaN count: 1981
134. current column: X363, NaN count: 1994
135. current column: X165, NaN count: 2088
136. current column: X30, NaN count: 7003
137. current column: X88, NaN count: 0
138. current column: X296, NaN count: 2045
139. current column: X219, NaN count: 2089
140. current column: X116, NaN count: 0
141. current column: X68, NaN count: 0
142. current column: X431, NaN count: 2003
143. current column: X302, NaN count: 2040
144. current column: X314, NaN count: 1992
145. current column: X124, NaN count: 0
146. current column: X405, NaN count: 2004
147. current column: X315, NaN count: 2022
148. current column: X51, NaN count: 7003
149. current column: X176, NaN count: 2121
150. current column: X396, NaN count: 2008
151. current column: X449, NaN count: 2003
152. current column: X383, NaN count: 2005
153. current column: X473, NaN count: 1962
154. current column: X205, NaN count: 2111
155. current column: X35, NaN count: 7003
156. current column: X161, NaN count: 2099
157. current column: X403, NaN count: 2004
158. current column: X341, NaN count: 2012
159. current column: X149, NaN count: 2035
160. current column: X82, NaN count: 0
161. current column: X377, NaN count: 2017
162. current column: X232, NaN count: 1924
163. current column: X333, NaN count: 2014
164. current column: X140, NaN count: 2084
165. current column: X44, NaN count: 7003
166. current column: X37, NaN count: 7003
167. current column: X42, NaN count: 7005
168. current column: X422, NaN count: 1879
169. current column: X50, NaN count: 7003
170. current column: X386, NaN count: 2005
171. current column: X80, NaN count: 0
172. current column: X250, NaN count: 1934
173. current column: X142, NaN count: 2087
174. current column: X235, NaN count: 2089
175. current column: X446, NaN count: 2006
176. current column: X331, NaN count: 1992
177. current column: X102, NaN count: 0
178. current column: X186, NaN count: 2061
179. current column: X243, NaN count: 2108
180. current column: X194, NaN count: 1931
181. current column: X183, NaN count: 2090
182. current column: X139, NaN count: 2087
183. current column: X459, NaN count: 1981
184. current column: X457, NaN count: 2003
185. current column: X70, NaN count: 0
186. current column: X368, NaN count: 2036
187. current column: X282, NaN count: 2117
188. current column: X426, NaN count: 1872
189. current column: X47, NaN count: 7003
190. current column: X192, NaN count: 1801
191. current column: X283, NaN count: 1888
192. current column: X329, NaN count: 1698
193. current column: X223, NaN count: 1929
194. current column: X266, NaN count: 2089
195. current column: X20, NaN count: 7003

196. current column: X443, NaN count: 1997
197. current column: X347, NaN count: 2012
198. current column: X75, NaN count: 0
199. current column: X107, NaN count: 0
200. current column: X230, NaN count: 2109

In [199]:
t_wthr

                  Time  temp  wind   hue     hpa
0      2017-07-01 0:00  22.8   2.1  91.0  1000.0
1      2017-07-01 1:00  22.7   2.4  92.0   999.5
2      2017-07-01 2:00  22.3   1.9  95.0   999.4
3      2017-07-01 3:00  22.0   1.8  95.0   998.8
4      2017-07-01 4:00  21.8   2.4  95.0   998.7
5      2017-07-01 5:00  21.8   1.3  94.0   999.1
6      2017-07-01 6:00  21.8   1.5  95.0   999.0
7      2017-07-01 7:00  21.9   1.4  93.0   999.8
8      2017-07-01 8:00  22.2   1.7  91.0   999.9
9      2017-07-01 9:00  23.1   1.5  86.0  1000.3
10    2017-07-01 10:00  23.3   1.5  85.0  1000.3
11    2017-07-01 11:00  24.4   1.3  79.0  1000.2
12    2017-07-01 12:00  25.2   2.2  65.0  1000.0
13    2017-07-01 13:00  26.6   2.6  64.0   999.3
14    2017-07-01 14:00  28.1   2.8  57.0   998.7
15    2017-07-01 15:00  28.1   3.6  59.0   998.6
16    2017-07-01 16:00  27.9   3.1  62.0   998.6
17    2017-07-01 17:00  26.5   4.1  73.0   998.5
18    2017-07-01 18:00  25.3   4.2  84.0   998.7
19    2017-07-01 19:00  23.5   4.2  91.0   999.0
20    2017-07-01 20:00  23.2   1.7  96.0   999.3
21    2017-07-01 21:00  23.2   2.0  95.0   999.6
22    2017-07-01 22:00  23.6   1.4  93.0  1000.4
23    2017-07-01 23:00  23.8   2.3  94.0  1000.4
24     2017-07-02 0:00  23.8   2.3  95.0  1000.1
25     2017-07-02 1:00  23.6   2.1  96.0   999.6
26     2017-07-02 2:00  23.4   2.9  97.0   999.3
27     2017-07-02 3:00  23.3   3.1  97.0   999.4
28     2017-07-02 4:00  23.3   2.4  98.0   999.4
29     2017-07-02 5:00  23.3   2.2  98.0   999.4
...                ...   ...   ...   ...     ...
8730  2018-06-29 18:00  24.4   2.2  78.0   995.3
8731  2018-06-29 19:00  23.3   2.2  85.0   995.7
8732  2018-06-29 20:00  22.5   2.1  89.0   996.2
8733  2018-06-29 21:00  21.7   0.7  94.0   996.9
8734  2018-06-29 22:00  21.2   1.2  96.0   998.0
8735  2018-06-29 23:00  20.5   1.4  98.0   998.5
8736   2018-06-30 0:00  20.1   0.0  98.0   999.2
8737   2018-06-30 1:00  20.2   0.0  98.0   999.4
8738   2018-06-30 2:00  19.7   0.0  98.0   999.6
8739   2018-06-30 3:00  19.7   0.0  98.0  1000.0
8740   2018-06-30 4:00  19.6   0.0  98.0   999.8
8741   2018-06-30 5:00  19.7   1.1  98.0  1000.3
8742   2018-06-30 6:00  20.4   0.6  98.0  1000.6
8743   2018-06-30 7:00  21.0   1.3  98.0  1000.8
8744   2018-06-30 8:00  22.4   0.2  93.0  1001.2
8745   2018-06-30 9:00  23.6   1.8  85.0  1001.5
8746  2018-06-30 10:00  24.1   2.2  84.0  1001.6
8747  2018-06-30 11:00  24.8   0.6  82.0  1001.9
8748  2018-06-30 12:00  26.2   1.8  75.0  1001.9
8749  2018-06-30 13:00  27.0   2.7  71.0  1001.3
8750  2018-06-30 14:00  27.3   1.8  74.0  1001.2
8751  2018-06-30 15:00  26.5   2.8  75.0  1001.3
8752  2018-06-30 16:00  28.3   2.3  67.0  1001.0
8753  2018-06-30 17:00  27.7   2.6  69.0  1001.1
8754  2018-06-30 18:00  27.2   2.5  72.0  1001.3
8755  2018-06-30 19:00  26.5   1.8  77.0  1001.6
8756  2018-06-30 20:00  24.5   2.4  80.0  1001.8
8757  2018-06-30 21:00  24.5   3.6  79.0  1002.3
8758  2018-06-30 22:00  24.1   1.4  88.0  1002.4
8759  2018-06-30 23:00  23.9   0.0  83.0  1002.6

[8760 rows x 5 columns]

In [185]:
test3

,Time,X26,X303,X241,X435,X402,X352,X305,X350,X326,...,X283,X329,X223,X266,X20,X443,X347,X75,X107,X230
0,2017.7.1 0:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,0.275,0.021,0.260
1,2017.7.1 1:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,0.222,0.021,0.260
2,2017.7.1 2:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,0.237,0.021,0.260
3,2017.7.1 3:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,0.229,0.020,0.260
4,2017.7.1 4:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,0.202,0.021,0.260
5,2017.7.1 5:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,0.251,0.021,0.260
6,2017.7.1 6:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,0.239,0.021,0.260
7,2017.7.1 7:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,0.207,0.020,0.260
8,2017.7.1 8:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,0.176,0.021,0.260
9,2017.7.1 9:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,0.733,0.021,0.260
10,2017.7.1 10:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,0.673,0.021,0.260
11,2017.7.1 11:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,0.697,0.021,0.260
12,2017.7.1 12:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,0.522,0.020,0.260
13,2017.7.1 13:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,2.966,0.021,0.260
14,2017.7.1 14:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,2.872,0.021,0.260
15,2017.7.1 15:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,2.460,0.021,0.260
16,2017.7.1 16:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,4.568,0.021,0.260
17,2017.7.1 17:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,2.888,0.021,0.260
18,2017.7.1 18:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,1.488,0.020,0.260
19,2017.7.1 19:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,0.493,0.021,0.260
20,2017.7.1 20:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,2.038,0.021,0.260
21,2017.7.1 21:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,2.074,0.021,0.260
22,2017.7.1 22:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,1.993,0.021,0.260
23,2017.7.1 23:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,0.448,0.021,0.260
24,2017.7.2 0:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,0.211,0.020,0.260
25,2017.7.2 1:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,0.218,0.021,0.260
26,2017.7.2 2:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,0.231,0.021,0.260
27,2017.7.2 3:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,0.171,0.021,0.260
28,2017.7.2 4:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,0.213,0.021,0.260
29,2017.7.2 5:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.092,0.094,0.131,0.196,0.021,0.260
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8730,2018.6.29 18:00,1.632,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.313,0.094,0.131,0.221,0.027,0.260
8731,2018.6.29 19:00,1.313,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.313,0.094,0.131,1.800,0.027,0.260
8732,2018.6.29 20:00,1.279,0.576,1.065,1.170,2.701,1.180,2.417,1.016,0.792,...,0.781,1.019,1.619,1.024,0.312,1.443,1.104,1.784,0.027,0.982
8733,2018.6.29 21:00,1.201,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.312,0.094,0.131,1.738,0.027,0.260
8734,2018.6.29 22:00,1.067,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.310,0.094,0.131,1.775,0.027,0.260
8735,2018.6.29 23:00,1.000,0.052,0.057,0.041,0.084,0.064,0.222,0.083,0.050,...,0.111,0.069,0.119,0.085,0.312,0.084,0.076,0.219,0.029,0.061
8736,2018.6.30 0:00,0.998,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.313,0.094,0.131,0.247,0.026,0.260
8737,2018.6.30 1:00,0.987,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.170,0.088,0.219,0.154,0.314,0.094,0.131,0.157,0.027,0.260
8738,2018.6.30 2:00,1.001,0.049,0.159,0.109,0.117,0.045,0.368,0.140,0.072,...,0.073,0.180,0.149,0.108,0.312,0.139,0.160,0.340,0.027,0.094
8739,2018.6.30 3:00,1.038,0.192,0.309,0.255,0.288,0.118,0.628,0.291,0.129,...,0.201,0.342,0.325,0.151,0.224,0.289,0.177,0.221,0.027,0.194
8740,2018.6.30 4:00,1.412,0.135,0.222,0.272,0.225,0.119,0.329,0.219,0.127,...,0.210,0.344,0.304,0.176,0.154,0.290,0.167,0.231,0.027,0.191
8741,2018.6.30 5:00,1.824,0.233,0.459,0.272,0.260,0.113,0.311,0.222,0.127,...,0.238,0.349,0.390,0.147,0.156,0.295,0.152,0.238,0.027,0.191
8742,2018.6.30 6:00,1.463,0.159,0.297,0.246,0.214,0.120,0.304,0.285,0.127,...,0.300,0.146,0.293,0.148,0.209,0.286,0.106,0.164,0.027,0.181
8743,2018.6.30 7:00,1.408,0.138,0.338,0.316,0.323,0.114,0.308,0.245,0.246,...,0.271,0.150,0.309,0.342,0.314,0.288,0.190,0.231,0.027,0.176
8744,2018.6.30 8:00,1.349,0.222,0.367,0.320,0.282,0.105,0.460,0.227,0.188,...,0.156,0.169,0.336,0.501,0.312,0.351,0.167,0.209,0.027,0.187
8745,2018.6.30 9:00,1.002,0.160,0.249,0.347,0.457,0.106,0.442,0.343,0.129,...,0.204,0.146,0.335,0.165,0.310,0.329,0.222,0.206,0.027,0.198
8746,2018.6.30 10:00,0.983,0.194,0.189,0.340,0.465,0.422,0.566,0.354,0.127,...,0.252,0.146,0.351,0.330,0.281,0.373,0.345,0.201,0.026,0.176
8747,2018.6.30 11:00,1.030,0.152,0.179,0.530,0.572,0.271,0.233,0.328,0.131,...,0.192,0.275,0.332,0.536,6.432,0.328,0.698,0.316,0.027,0.180
8748,2018.6.30 12:00,1.013,0.182,0.287,0.364,0.530,0.306,0.299,0.273,0.137,...,0.143,0.307,0.684,0.584,7.590,0.508,0.311,0.300,0.027,0.209
8749,2018.6.30 13:00,0.989,0.207,0.261,0.347,0.325,0.645,0.298,0.223,0.132,...,0.219,0.302,0.520,0.395,0.310,0.490,0.320,2.047,0.027,0.200
8750,2018.6.30 14:00,0.990,0.142,0.319,0.261,0.213,0.431,0.322,0.331,0.261,...,0.231,0.373,0.360,0.474,0.312,0.413,0.221,6.833,0.027,0.190
8751,2018.6.30 15:00,1.179,0.211,0.245,0.208,0.188,0.757,0.344,0.345,0.272,...,0.213,0.350,0.372,0.422,0.312,0.378,0.197,4.813,0.027,0.178
8752,2018.6.30 16:00,1.703,0.168,0.211,0.207,0.179,0.523,0.316,0.324,0.571,...,0.165,0.361,0.438,0.379,0.311,0.459,0.232,4.380,0.027,0.233
8753,2018.6.30 17:00,1.504,0.140,0.215,0.199,0.213,0.530,0.513,0.322,0.148,...,0.201,0.379,0.576,0.388,0.408,0.388,0.252,4.337,0.027,0.313
8754,2018.6.30 18:00,1.271,0.495,0.372,0.331,0.232,0.625,0.561,0.398,0.134,...,0.253,0.397,0.385,1.132,11.991,0.406,0.244,3.188,0.027,0.234
8755,2018.6.30 19:00,1.255,0.175,0.430,0.429,0.169,0.739,0.573,0.341,0.127,...,0.312,0.381,0.479,0.858,11.546,0.428,0.134,3.519,0.027,0.286
8756,2018.6.30 20:00,1.596,1.692,0.332,0.366,0.159,0.255,0.501,0.281,0.126,...,0.327,0.402,0.725,0.816,11.591,0.413,0.206,3.331,0.027,0.303
8757,2018.6.30 21:00,1.379,0.883,0.435,0.497,0.166,0.233,0.634,0.401,0.439,...,0.253,0.401,0.426,0.659,10.766,0.466,0.324,3.416,0.026,0.253
8758,2018.6.30 22:00,1.000,0.539,0.268,0.459,0.463,0.454,0.676,0.543,0.737,...,0.332,0.401,0.353,0.462,0.312,0.473,0.402,4.263,0.027,0.253
8759,2018.6.30 23:00,0.976,0.481,0.220,0.418,0.646,0.419,0.680,0.499,0.304,...,0.434,0.435,0.349,0.792,0.309,0.519,0.334,0.784,0.027,0.310

In [47]:
test3['Time'] = pd.to_datetime(test3.Time)
t_wthr['Time'] = pd.to_datetime(t_wthr.Time)

In [48]:
test4 = pd.merge(test3, t_wthr, on='Time')
test4

,Time,X26,X303,X241,X435,X402,X352,X305,X350,X326,...,X20,X443,X347,X75,X107,X230,temp,wind,hue,hpa
0,2017-07-01 00:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.092,0.094,0.131,0.275,0.021,0.260,22.8,2.1,91.0,1000.0
1,2017-07-01 01:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.092,0.094,0.131,0.222,0.021,0.260,22.7,2.4,92.0,999.5
2,2017-07-01 02:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.092,0.094,0.131,0.237,0.021,0.260,22.3,1.9,95.0,999.4
3,2017-07-01 03:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.092,0.094,0.131,0.229,0.020,0.260,22.0,1.8,95.0,998.8
4,2017-07-01 04:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,...,0.092,0.094,0.131,0.202,0.021,0.260,21.8,2.4,95.0,998.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-06-30 19:00:00,1.255,0.175,0.430,0.429,0.169,0.739,0.573,0.341,0.127,...,11.546,0.428,0.134,3.519,0.027,0.286,26.5,1.8,77.0,1001.6
8756,2018-06-30 20:00:00,1.596,1.692,0.332,0.366,0.159,0.255,0.501,0.281,0.126,...,11.591,0.413,0.206,3.331,0.027,0.303,24.5,2.4,80.0,1001.8
8757,2018-06-30 21:00:00,1.379,0.883,0.435,0.497,0.166,0.233,0.634,0.401,0.439,...,10.766,0.466,0.324,3.416,0.026,0.253,24.5,3.6,79.0,1002.3
8758,2018-06-30 22:00:00,1.000,0.539,0.268,0.459,0.463,0.454,0.676,0.543,0.737,...,0.312,0.473,0.402,4.263,0.027,0.253,24.1,1.4,88.0,1002.4
8759,2018-06-30 23:00:00,0.976,0.481,0.220,0.418,0.646,0.419,0.680,0.499,0.304,...,0.309,0.519,0.334,0.784,0.027,0.310,23.9,0.0,83.0,1002.6

In [49]:
test4 = test4.set_index('Time')

In [205]:
test4

,X26,X303,X241,X435,X402,X352,X305,X350,X326,X299,...,X20,X443,X347,X75,X107,X230,temp,wind,hue,hpa
Time,,,,,,,,,,,,,,,,,,,,,
2017-07-01 00:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,0.275,0.021,0.260,22.8,2.1,91.0,1000.0
2017-07-01 01:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,0.222,0.021,0.260,22.7,2.4,92.0,999.5
2017-07-01 02:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,0.237,0.021,0.260,22.3,1.9,95.0,999.4
2017-07-01 03:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,0.229,0.020,0.260,22.0,1.8,95.0,998.8
2017-07-01 04:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,0.202,0.021,0.260,21.8,2.4,95.0,998.7
2017-07-01 05:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,0.251,0.021,0.260,21.8,1.3,94.0,999.1
2017-07-01 06:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,0.239,0.021,0.260,21.8,1.5,95.0,999.0
2017-07-01 07:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,0.207,0.020,0.260,21.9,1.4,93.0,999.8
2017-07-01 08:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,0.176,0.021,0.260,22.2,1.7,91.0,999.9
2017-07-01 09:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,0.733,0.021,0.260,23.1,1.5,86.0,1000.3
2017-07-01 10:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,0.673,0.021,0.260,23.3,1.5,85.0,1000.3
2017-07-01 11:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,0.697,0.021,0.260,24.4,1.3,79.0,1000.2
2017-07-01 12:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,0.522,0.020,0.260,25.2,2.2,65.0,1000.0
2017-07-01 13:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,2.966,0.021,0.260,26.6,2.6,64.0,999.3
2017-07-01 14:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,2.872,0.021,0.260,28.1,2.8,57.0,998.7
2017-07-01 15:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,2.460,0.021,0.260,28.1,3.6,59.0,998.6
2017-07-01 16:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,4.568,0.021,0.260,27.9,3.1,62.0,998.6
2017-07-01 17:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,2.888,0.021,0.260,26.5,4.1,73.0,998.5
2017-07-01 18:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,1.488,0.020,0.260,25.3,4.2,84.0,998.7
2017-07-01 19:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,0.493,0.021,0.260,23.5,4.2,91.0,999.0
2017-07-01 20:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,2.038,0.021,0.260,23.2,1.7,96.0,999.3
2017-07-01 21:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,2.074,0.021,0.260,23.2,2.0,95.0,999.6
2017-07-01 22:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,1.993,0.021,0.260,23.6,1.4,93.0,1000.4
2017-07-01 23:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,0.448,0.021,0.260,23.8,2.3,94.0,1000.4
2017-07-02 00:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,0.211,0.020,0.260,23.8,2.3,95.0,1000.1
2017-07-02 01:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,0.218,0.021,0.260,23.6,2.1,96.0,999.6
2017-07-02 02:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,0.231,0.021,0.260,23.4,2.9,97.0,999.3
2017-07-02 03:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,0.171,0.021,0.260,23.3,3.1,97.0,999.4
2017-07-02 04:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,0.213,0.021,0.260,23.3,2.4,98.0,999.4
2017-07-02 05:00:00,1.434,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.092,0.094,0.131,0.196,0.021,0.260,23.3,2.2,98.0,999.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-06-29 18:00:00,1.632,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.313,0.094,0.131,0.221,0.027,0.260,24.4,2.2,78.0,995.3
2018-06-29 19:00:00,1.313,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.313,0.094,0.131,1.800,0.027,0.260,23.3,2.2,85.0,995.7
2018-06-29 20:00:00,1.279,0.576,1.065,1.170,2.701,1.180,2.417,1.016,0.792,0.987,...,0.312,1.443,1.104,1.784,0.027,0.982,22.5,2.1,89.0,996.2
2018-06-29 21:00:00,1.201,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.312,0.094,0.131,1.738,0.027,0.260,21.7,0.7,94.0,996.9
2018-06-29 22:00:00,1.067,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.310,0.094,0.131,1.775,0.027,0.260,21.2,1.2,96.0,998.0
2018-06-29 23:00:00,1.000,0.052,0.057,0.041,0.084,0.064,0.222,0.083,0.050,0.074,...,0.312,0.084,0.076,0.219,0.029,0.061,20.5,1.4,98.0,998.5
2018-06-30 00:00:00,0.998,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.313,0.094,0.131,0.247,0.026,0.260,20.1,0.0,98.0,999.2
2018-06-30 01:00:00,0.987,0.250,0.266,0.305,0.185,0.079,0.283,0.253,0.020,0.240,...,0.314,0.094,0.131,0.157,0.027,0.260,20.2,0.0,98.0,999.4
2018-06-30 02:00:00,1.001,0.049,0.159,0.109,0.117,0.045,0.368,0.140,0.072,0.149,...,0.312,0.139,0.160,0.340,0.027,0.094,19.7,0.0,98.0,999.6
2018-06-30 03:00:00,1.038,0.192,0.309,0.255,0.288,0.118,0.628,0.291,0.129,0.300,...,0.224,0.289,0.177,0.221,0.027,0.194,19.7,0.0,98.0,1000.0
2018-06-30 04:00:00,1.412,0.135,0.222,0.272,0.225,0.119,0.329,0.219,0.127,0.297,...,0.154,0.290,0.167,0.231,0.027,0.191,19.6,0.0,98.0,999.8
2018-06-30 05:00:00,1.824,0.233,0.459,0.272,0.260,0.113,0.311,0.222,0.127,0.319,...,0.156,0.295,0.152,0.238,0.027,0.191,19.7,1.1,98.0,1000.3
2018-06-30 06:00:00,1.463,0.159,0.297,0.246,0.214,0.120,0.304,0.285,0.127,0.304,...,0.209,0.286,0.106,0.164,0.027,0.181,20.4,0.6,98.0,1000.6
2018-06-30 07:00:00,1.408,0.138,0.338,0.316,0.323,0.114,0.308,0.245,0.246,0.159,...,0.314,0.288,0.190,0.231,0.027,0.176,21.0,1.3,98.0,1000.8
2018-06-30 08:00:00,1.349,0.222,0.367,0.320,0.282,0.105,0.460,0.227,0.188,0.389,...,0.312,0.351,0.167,0.209,0.027,0.187,22.4,0.2,93.0,1001.2
2018-06-30 09:00:00,1.002,0.160,0.249,0.347,0.457,0.106,0.442,0.343,0.129,0.253,...,0.310,0.329,0.222,0.206,0.027,0.198,23.6,1.8,85.0,1001.5
2018-06-30 10:00:00,0.983,0.194,0.189,0.340,0.465,0.422,0.566,0.354,0.127,0.238,...,0.281,0.373,0.345,0.201,0.026,0.176,24.1,2.2,84.0,1001.6
2018-06-30 11:00:00,1.030,0.152,0.179,0.530,0.572,0.271,0.233,0.328,0.131,0.142,...,6.432,0.328,0.698,0.316,0.027,0.180,24.8,0.6,82.0,1001.9
2018-06-30 12:00:00,1.013,0.182,0.287,0.364,0.530,0.306,0.299,0.273,0.137,0.120,...,7.590,0.508,0.311,0.300,0.027,0.209,26.2,1.8,75.0,1001.9
2018-06-30 13:00:00,0.989,0.207,0.261,0.347,0.325,0.645,0.298,0.223,0.132,0.146,...,0.310,0.490,0.320,2.047,0.027,0.200,27.0,2.7,71.0,1001.3
2018-06-30 14:00:00,0.990,0.142,0.319,0.261,0.213,0.431,0.322,0.331,0.261,0.142,...,0.312,0.413,0.221,6.833,0.027,0.190,27.3,1.8,74.0,1001.2
2018-06-30 15:00:00,1.179,0.211,0.245,0.208,0.188,0.757,0.344,0.345,0.272,0.110,...,0.312,0.378,0.197,4.813,0.027,0.178,26.5,2.8,75.0,1001.3
2018-06-30 16:00:00,1.703,0.168,0.211,0.207,0.179,0.523,0.316,0.324,0.571,0.301,...,0.311,0.459,0.232,4.380,0.027,0.233,28.3,2.3,67.0,1001.0
2018-06-30 17:00:00,1.504,0.140,0.215,0.199,0.213,0.530,0.513,0.322,0.148,0.223,...,0.408,0.388,0.252,4.337,0.027,0.313,27.7,2.6,69.0,1001.1
2018-06-30 18:00:00,1.271,0.495,0.372,0.331,0.232,0.625,0.561,0.398,0.134,0.347,...,11.991,0.406,0.244,3.188,0.027,0.234,27.2,2.5,72.0,1001.3
2018-06-30 19:00:00,1.255,0.175,0.430,0.429,0.169,0.739,0.573,0.341,0.127,0.286,...,11.546,0.428,0.134,3.519,0.027,0.286,26.5,1.8,77.0,1001.6
2018-06-30 20:00:00,1.596,1.692,0.332,0.366,0.159,0.255,0.501,0.281,0.126,0.230,...,11.591,0.413,0.206,3.331,0.027,0.303,24.5,2.4,80.0,1001.8
2018-06-30 21:00:00,1.379,0.883,0.435,0.497,0.166,0.233,0.634,0.401,0.439,0.346,...,10.766,0.466,0.324,3.416,0.026,0.253,24.5,3.6,79.0,1002.3
2018-06-30 22:00:00,1.000,0.539,0.268,0.459,0.463,0.454,0.676,0.543,0.737,0.466,...,0.312,0.473,0.402,4.263,0.027,0.253,24.1,1.4,88.0,1002.4
2018-06-30 23:00:00,0.976,0.481,0.220,0.418,0.646,0.419,0.680,0.499,0.304,0.405,...,0.309,0.519,0.334,0.784,0.027,0.310,23.9,0.0,83.0,1002.6

In [129]:
1787040 - 35040

1752000

In [50]:
time = []; place_id = []; target = []; temp = []; wind = []; hue = []; hpa = [];

for i in tqdm_notebook(test4.columns):
    for j in range(len(test4)):
        place_id.append(i)
        time.append(test4.index[j])
        target.append(test4[i].iloc[j])
        temp.append(test4['temp'].iloc[j])
        wind.append(test4['wind'].iloc[j])
        hue.append(test4['hue'].iloc[j])
        hpa.append(test4['hpa'].iloc[j])
new_df_test = pd.DataFrame({'place_id': place_id, 'time':time, 'target': target, 'temp': temp, 'wind': wind, 'hue': hue, 'hpa': hpa })
new_df_test = new_df_test.dropna()
new_df_test = new_df_test.set_index('time')
new_df_test.head()

HBox(children=(IntProgress(value=0, max=204), HTML(value='')))

                    place_id  target  temp  wind   hue     hpa
time
2017-07-01 00:00:00      X26   1.434  22.8   2.1  91.0  1000.0
2017-07-01 01:00:00      X26   1.434  22.7   2.4  92.0   999.5
2017-07-01 02:00:00      X26   1.434  22.3   1.9  95.0   999.4
2017-07-01 03:00:00      X26   1.434  22.0   1.8  95.0   998.8
2017-07-01 04:00:00      X26   1.434  21.8   2.4  95.0   998.7

In [131]:
new_df_test = new_df_test.iloc[:1752000]

In [133]:
new_df_test_1 = new_df_test.copy()

In [140]:
import itertools
from statsmodels.tsa.arima_model import ARIMA 
submission = pd.read_csv('data/submission.csv')

In [135]:
p=d=q = range(0,2)
pdq = list(itertools.product(p,d,q))
pdq

[(0, 0, 0),
 (0, 0, 1),
 (0, 1, 0),
 (0, 1, 1),
 (1, 0, 0),
 (1, 0, 1),
 (1, 1, 0),
 (1, 1, 1)]

In [136]:
def get_optimal_params(y):
    param_dict = {}
    for param in pdq:
        try:
            model = ARIMA(y, order=param)
            results_ARIMA = model.fit(disp=-1)
            param_dict[results_ARIMA.aic] = param
        except:
            continue

    min_aic = min(param_dict.keys())
    optimal_params = param_dict[min_aic]
    return optimal_params

In [141]:
# agg라는 dictionary를 생성하여, 각 미터ID를 key로, 예측시간 및 값 리스트를 value로 저장
agg={}

for key in tqdm_notebook(new_df_test_1['place_id'].unique()): # 미터ID리스트를 unique()함수로 추출, for loop
    temp = new_df_test.loc[new_df_test_1['place_id']==key] # new_df에서 key와 일치하는 place_id를 가지는 부분을 temp에 할당
    temp_1h=temp.resample('1h').sum() # 1시간 단위 resampling(일종의 timeseries압축)
    temp_1day=temp.resample('D').sum() # 1일 단위 resampling

    # 1 시간별 예측
    model = ARIMA(temp_1h['target'],  # target 을 추측하고자 함
                  order=get_optimal_params(temp_1h['target'])) # AIC를 최소화하는 최적의 파라미터 
    results_ARIMA = model.fit(disp=-1)  
    fcst = results_ARIMA.forecast(24) # 24시간 예측

    a = pd.DataFrame() # a: 예측값을 담을 데이터프레임 생성
    
    for i in range(24):
        a['X2018_7_1_'+str(i+1)+'h']=[fcst[0][i]] # column명 지정 및 예측값 대입

        
    # 1 일별 예측
    model = ARIMA(temp_1day['target'], 
                  order=get_optimal_params(temp_1day['target'])) 
    results_ARIMA = model.fit(disp=-1)
    fcst = results_ARIMA.forecast(10) # 10일을 예측

    for i in range(10):
        a['X2018_7_'+str(i+1)+'_d']=[fcst[0][i]] # column명 지정 및 예측값 대입
    
    
    # 월별 예측
    # 일별 예측의 sum 사용
    fcst = results_ARIMA.forecast(153)
    
    # column명을 지정 및 예측값 대입
    a['X2018_7_m'] = [np.sum(fcst[0][:31])] # 7월 
    a['X2018_8_m'] = [np.sum(fcst[0][31:62])] # 8월
    a['X2018_9_m'] = [np.sum(fcst[0][62:92])] # 9월
    a['X2018_10_m'] = [np.sum(fcst[0][92:123])] # 10월
    a['X2018_11_m'] = [np.sum(fcst[0][123:153])] # 11월
    
    # a 에 meter_id를 현재 예측하고 있는 열의 id(key)로 대입
    a['meter_id'] = key 
    
    # agg{ 미터ID: 시간별(subimssion.columns는 예측시간칼럼들) a의 예측값}
    agg[key] = a[submission.columns.tolist()]
    print(key)
print('---- Modeling Done ----')

HBox(children=(IntProgress(value=0, max=200), HTML(value='')))

X26
X303
X241
X435
X402
X352
X305
X350
X326
X299
X160
X125
X211
X349
X407
X330
X132
X231
X225
X16
X286
X354
X353
X76
X255
X106
X393
X157
X323
X130
X269
X94
X172
X289
X216
X123
X398
X233
X214
X270
X371
X200
X111
X163
X364
X378
X271
X462
X427
X73
X7
X263
X450
X18
X206
X133
X41
X195
X155
X134
X297
X175
X254
X196
X481
X412
X337
X406
X67
X414
X55
X91
X260
X252
X5
X455
X43
X320
X276
X423
X218
X399
X213
X379
X468
X253
X247
X262
X248
X357
X215
X177
X228
X59
X10
X187
X245
X87
X242
X376
X166
X472
X275
X126
X120
X313
X201
X110
X408
X62
X419
X460
X367
X143
X312
X410
X389
X300
X61
X470
X445
X158
X421
X105
X32
X178
X308
X217
X229
X358
X31
X148
X397
X363
X165
X30
X88
X296
X219
X116
X68
X431
X302
X314
X124
X405
X315
X51
X176
X396
X449
X383
X473
X205
X35
X161
X403
X341
X149
X82
X377
X232
X333
X140
X44
X37
X42
X422
X50
X386
X80
X250
X142
X235
X446
X331
X102
X186
X243
X194
X183
X139
X459
X457
X70
X368
X282
X426
X47
X192
X283
X329
X223
X266
X20
X443
X347
X75
X107
X230

---- Modeling Done ----

In [142]:
output1 = pd.concat(agg, ignore_index = False)
output2 = output1.reset_index().drop(['level_0', 'level_1'], axis=1)
output2['id'] = output2['meter_id'].str.replace('X','').astype(int)
output2 = output2.sort_values(by='id', ascending=True).drop(['id'], axis=1).reset_index(drop=True)
output2.head()

,meter_id,X2018_7_1_1h,X2018_7_1_2h,X2018_7_1_3h,X2018_7_1_4h,X2018_7_1_5h,X2018_7_1_6h,X2018_7_1_7h,X2018_7_1_8h,X2018_7_1_9h,...,X2018_7_6_d,X2018_7_7_d,X2018_7_8_d,X2018_7_9_d,X2018_7_10_d,X2018_7_m,X2018_8_m,X2018_9_m,X2018_10_m,X2018_11_m
0,X5,6.849510,6.689826,6.602653,6.555072,6.529107,6.514946,6.507228,6.503029,6.500751,...,152.463941,152.443042,152.435868,152.436102,152.440334,4730.212240,4735.712612,4591.110672,4752.582776,4607.436636
1,X7,1.342853,1.372029,1.397167,1.418827,1.437490,1.453570,1.467425,1.479362,1.489648,...,42.628761,42.478598,42.407362,42.376357,42.365857,1334.131603,1325.062243,1292.216341,1345.518196,1312.012424
2,X10,2.297198,2.461578,2.602899,2.724392,2.828836,2.918620,2.995799,3.062139,3.119160,...,87.402158,87.279284,87.183967,87.098259,87.015901,2701.829075,2605.055705,2447.305152,2452.708276,2299.872156
3,X16,3.371386,3.539948,3.680263,3.797065,3.894294,3.975230,4.042604,4.098687,4.145372,...,114.964914,114.863567,114.822959,114.812149,114.815957,3578.370220,3579.390259,3480.292264,3613.213753,3513.024677
4,X18,2.499759,2.508434,2.515430,2.521070,2.525619,2.529286,2.532243,2.534626,2.536547,...,62.058246,62.005153,61.976172,61.960352,61.951716,1925.492898,1920.181389,1858.240054,1920.181389,1858.240054

In [143]:
output2.to_csv('subm1.csv', index=False)

In [51]:
train_x = new_df.drop("target", axis=1)
train_y = new_df['target']

x_test = new_df_test

In [52]:
dev_X, val_X, dev_y, val_y = train_test_split(train_x, train_y, test_size = 0.2, random_state = 42)

In [53]:
def run_lgb(train_X, train_y, val_X, val_y, test_X):
    params = {
        "objective" : "regression",
        "metric" : "rmse",
        "num_leaves" : 40,
        "learning_rate" : 0.004,
        "bagging_fraction" : 0.6,
        "feature_fraction" : 0.6,
        "bagging_frequency" : 6,
        "bagging_seed" : 42,
        "verbosity" : -1,
        "seed": 42
    }
    
    lgtrain = lgb.Dataset(train_X, label=train_y)
    lgval = lgb.Dataset(val_X, label=val_y)
    evals_result = {}
    model = lgb.train(params, lgtrain, 5000, 
                      valid_sets=[lgtrain, lgval], 
                      early_stopping_rounds=100, 
                      verbose_eval=150, 
                      evals_result=evals_result)
    
    pred_test_y = np.expm1(model.predict(test_X, num_iteration=model.best_iteration))
    return pred_test_y, model, evals_result

In [54]:
pred_test, model, evals_result = run_lgb(dev_X, dev_y, val_X, val_y, x_test)
print("LightGBM Training Completed...")

ValueError: DataFrame.dtypes for data must be int, float or bool.
Did not expect the data types in the following fields: place_id

In [222]:
sub = pd.DataFrame()
sub["target"] =  pred_test

In [223]:
print(sub.head())
sub.to_csv('sub_lgb_xgb_cat.csv', index=False)

     target
0  2.594813
1  2.594813
2  2.594813
3  2.594813
4  2.594813