In [1]:
import pandas as pd
import seaborn as sns
import scipy as sp
import numpy as np
import matplotlib as plt
from collections import Counter
from tqdm import tqdm_notebook
import tensorflow as tf
from multiprocessing import Pool

In [6]:
train = pd.read_csv('data/train.csv')

In [7]:
data = train.copy()

In [302]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16909 entries, 0 to 16908
Columns: 1286 entries, Time to X1163
dtypes: float64(1285), object(1)
memory usage: 165.9+ MB

In [9]:
stats

,X692,X1272,X553,X1299,X4,X598,X1003,X1010,X1216,X1047,...,X1164,X656,X1287,X324,X767,X1271,X1288,X58,X1033,X1163
count,3064.000000,3065.000000,3041.000000,3006.000000,0.0,3041.000000,2937.000000,3048.000000,3064.000000,3062.000000,...,3040.000000,3066.000000,3035.000000,6766.000000,3040.000000,3065.000000,3034.000000,1747.000000,3044.000000,3041.000000
mean,0.371506,0.410571,0.519877,0.260363,NaN,0.268325,0.378017,0.424614,0.302138,0.273101,...,0.410577,0.441267,0.271726,0.141011,0.384662,0.552852,0.487484,2.881876,0.356959,0.339762
std,0.190358,0.272845,0.236184,0.231955,NaN,0.149223,0.267603,0.267227,0.157183,0.184067,...,0.270049,0.295568,0.146547,0.116648,0.254653,0.386933,0.277884,1.915190,0.189310,0.198999
min,0.049000,0.066000,0.053000,0.017000,NaN,0.034000,0.052000,0.052000,0.071000,0.037000,...,0.058000,0.074000,0.022000,0.007000,0.048000,0.045000,0.041000,0.216000,0.038000,0.057000
25%,0.271000,0.225000,0.416000,0.114000,NaN,0.162000,0.207000,0.285000,0.212000,0.163000,...,0.266000,0.242000,0.198000,0.055000,0.214000,0.251000,0.280000,1.360500,0.242000,0.218000
50%,0.329000,0.338000,0.485000,0.176500,NaN,0.228000,0.274000,0.347500,0.281000,0.216000,...,0.332000,0.384000,0.233000,0.122000,0.317500,0.477000,0.432000,2.469000,0.326000,0.290000
75%,0.430000,0.536000,0.581000,0.339000,NaN,0.346000,0.483000,0.466000,0.344000,0.313750,...,0.475000,0.545000,0.309500,0.173000,0.500000,0.758000,0.663750,4.209500,0.432250,0.449000
max,4.104000,4.837000,6.232000,5.624000,NaN,2.718000,5.418000,4.426000,2.899000,2.684000,...,5.929000,4.562000,3.209000,1.768000,4.443000,7.773000,4.414000,9.088000,3.921000,5.049000

In [8]:
no_data = ['X3','X4','X1','X22','X34','X24','X45','X58','X64','X622','X756','X834','X915','X1024','X1241']
sub = data.drop(no_data, axis=1)
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16909 entries, 0 to 16908
Columns: 1286 entries, Time to X1163
dtypes: float64(1285), object(1)
memory usage: 165.9+ MB

In [304]:
stats = sub.describe()
[i for i in range(1285) if stats.iloc[0][i] == 0]

[]

In [31]:
sub_t = sub.iloc[:, 1:]

In [48]:
stats = sub_t.describe()
X = []
x = [i for i in range(1286) if stats.iloc[0][i] >= 8000]
X.append(['X{}'.format(x) for x in x])

In [24]:
mode0 = pd.read_csv('data/freq.csv', names= ['values'])

In [25]:
mode0

     values
0      X692
1     0.275
2     X1272
3     0.212
4      X553
...     ...
2585  2.309
2586  X1033
2587  0.223
2588  X1163
2589  0.224

[2590 rows x 1 columns]

In [26]:
col = []
val = []
for i in range(len(mode0)):
    if i % 2 == 0:
        col.append(mode0.iloc[i])
    else:
        val.append(mode0.iloc[i])

In [27]:
col1 = pd.DataFrame(col)
val1 = pd.DataFrame(val)

In [28]:
col_d = col1.reset_index(drop=True)
val_d = val1.reset_index(drop=True)

In [29]:
col_t = col_d.T
val_t = val_d.T

In [44]:
val_t[0]

values    0.275
Name: 0, dtype: object

In [21]:
mode2.to_csv('mode1.csv', header=False, index=False)

In [30]:
mode2 = pd.concat([col_t , val_t])

In [32]:
mode2.iloc[1:2,0:1]

            0
values  0.275

In [22]:
mode2 = mode2.reset_index(drop=True)

In [11]:
mode3 = pd.read_csv('mode1.csv')

In [12]:
mode3

,X692,X1272,X553,X1299,X598,X1003,X1010,X1216,X1047,X381,...,X1164,X656,X1287,X324,X767,X1271,X1288,X58,X1033,X1163
0,0.275,0.212,0.425,0.108,0.153,0.18,0.296,0.292,0.144,0.148,...,0.291,0.164,0.209,0.048,0.205,0.198,0.24,2.309,0.223,0.224

In [276]:
mode3.iloc[0, 0]

0.275

In [51]:
sub1 = sub.iloc[13647:16910]

In [330]:
len(sub1)

3262

In [52]:
sub1

,Time,X692,X1272,X553,X1299,X598,X1003,X1010,X1216,X1047,...,X1017,X1164,X656,X1287,X324,X767,X1271,X1288,X1033,X1163
13647,2018-02-15 02:00,0.314,0.440,0.461,0.308,0.174,0.341,0.400,0.279,0.192,...,0.530,0.656,0.219,0.222,0.094,0.355,0.149,0.390,0.347,0.135
13648,2018-02-15 03:00,0.309,0.292,0.524,0.279,0.198,0.343,0.393,0.272,0.142,...,0.526,0.659,0.224,0.282,0.071,0.164,0.142,0.404,0.293,0.137
13649,2018-02-15 04:00,0.327,0.298,0.486,0.364,0.155,0.388,0.388,0.273,0.142,...,0.687,0.598,0.201,0.257,0.062,0.136,0.174,0.216,0.346,0.169
13650,2018-02-15 05:00,0.303,0.254,0.514,0.953,0.198,0.338,0.402,0.263,0.139,...,0.864,0.593,0.191,0.258,0.132,0.128,0.168,0.258,0.325,0.325
13651,2018-02-15 06:00,0.273,0.290,0.486,0.547,0.153,0.492,0.352,0.496,0.147,...,0.661,0.714,0.184,0.215,0.407,0.198,0.168,0.197,0.306,0.188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16904,2018-06-30 19:00,0.271,0.754,0.327,0.468,0.314,0.769,0.790,0.558,0.149,...,0.750,0.523,0.455,0.295,0.056,0.295,2.089,0.619,0.345,0.565
16905,2018-06-30 20:00,0.341,0.827,0.478,0.356,0.434,0.680,0.819,0.470,0.160,...,0.670,0.350,0.799,0.287,0.057,0.548,2.168,0.723,0.388,0.620
16906,2018-06-30 21:00,0.535,0.516,0.558,0.496,0.479,0.590,0.910,0.424,0.468,...,0.631,0.446,0.754,0.433,0.060,0.677,2.028,0.766,0.440,0.573
16907,2018-06-30 22:00,0.379,0.494,0.605,0.320,0.555,0.604,1.044,0.412,0.480,...,0.533,0.567,0.504,0.384,0.210,1.019,1.055,0.735,0.393,0.629
16908,2018-06-30 23:00,0.388,0.482,0.651,0.284,0.452,0.629,1.116,0.400,0.274,...,0.477,0.495,0.410,0.343,0.420,0.746,0.738,0.689,0.323,0.422

In [75]:
sub1.iloc[:,1:2].isnull().sum()

X692    200
dtype: int64

In [76]:
sub1['X692'].mode()

0    0.275
dtype: float64

In [78]:
sub1['X692'] = sub1['X692'].fillna(sub1['X692'].mode())

C:\Users\rkm14\.conda\envs\python_3.7\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [63]:
for i in tqdm_notebook(range(0,1285)):
    sub2 = sub1.iloc[:,i+1:i+2].fillna(val_t[i])

HBox(children=(IntProgress(value=0, max=1285), HTML(value='')))

In [69]:
sub1.isnull().sum()

Time       0
X692     200
X1272    199
X553     223
X1299    258
        ...
X767     224
X1271    199
X1288    230
X1033    220
X1163    223
Length: 1286, dtype: int64

In [65]:
sub2.to_csv("sub3.csv")

In [22]:
mode3.iloc[:, 0:1]

    X692
0  0.275

In [66]:
filt = pd.read_csv('sub3.csv')

In [67]:
filt.isnull().sum()

Unnamed: 0      0
X1163         223
dtype: int64