In [3]:
import pandas as pd
import seaborn as sns
import scipy as sp
import numpy as np
import matplotlib as plt
from collections import Counter
from tqdm import tqdm_notebook
import tensorflow as tf
from multiprocessing import Pool

C:\ProgramData\Anaconda3\envs\[tf]\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [4]:
train = pd.read_csv('data/train.csv')

In [5]:
data = train.copy()

In [137]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16909 entries, 0 to 16908
Columns: 1301 entries, Time to X1163
dtypes: float64(1300), object(1)
memory usage: 167.8+ MB

In [6]:
sub = data.dropna(how='all', axis=1)
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16909 entries, 0 to 16908
Columns: 1293 entries, Time to X1163
dtypes: float64(1292), object(1)
memory usage: 166.8+ MB

In [140]:
stats = sub.describe()
[i for i in range(1285) if stats.iloc[0][i] == 0]

[]

In [7]:
mode0 = pd.read_csv('data/freq.csv', names= ['values'])

In [8]:
mode0

     values
0      X692
1     0.275
2     X1272
3     0.212
4      X553
5     0.425
6     X1299
7     0.108
8      X598
9     0.153
10    X1003
11     0.18
12    X1010
13    0.296
14    X1216
15    0.292
16    X1047
17    0.144
18     X381
19    0.148
20     X466
21    0.173
22    X1420
23    0.386
24     X686
25    0.149
26     X711
27    0.517
28    X1251
29    0.196
...     ...
2542  X1323
2543  0.217
2544   X616
2545  0.141
2546  X1195
2547  0.164
2548   X944
2549  0.643
2550  X1017
2551   0.16
2552  X1164
2553  0.291
2554   X656
2555  0.164
2556  X1287
2557  0.209
2558   X324
2559  0.048
2560   X767
2561  0.205
2562  X1271
2563  0.198
2564  X1288
2565   0.24
2566    X58
2567  2.309
2568  X1033
2569  0.223
2570  X1163
2571  0.224

[2572 rows x 1 columns]

In [9]:
col = []
val = []
for i in range(len(mode0)):
    if i % 2 == 0:
        col.append(mode0.iloc[i])
    else:
        val.append(mode0.iloc[i])

In [11]:
val1 = val1.astype(float)

In [10]:
col1 = pd.DataFrame(col)
val1 = pd.DataFrame(val)

In [200]:
type(val1.iloc[1].astype(float))

pandas.core.series.Series

In [15]:
col_d = col1.reset_index(drop=True)
val_d = val1.reset_index(drop=True)

In [21]:
col_t = col_d.T
val_t = val_d.T

In [58]:
sub1 = sub.iloc[13647:16910]

In [59]:
sub1

,Time,X692,X1272,X553,X1299,X598,X1003,X1010,X1216,X1047,...,X1164,X656,X1287,X324,X767,X1271,X1288,X58,X1033,X1163
13647,2018-02-15 02:00,0.314,0.440,0.461,0.308,0.174,0.341,0.400,0.279,0.192,...,0.656,0.219,0.222,0.094,0.355,0.149,0.390,NaN,0.347,0.135
13648,2018-02-15 03:00,0.309,0.292,0.524,0.279,0.198,0.343,0.393,0.272,0.142,...,0.659,0.224,0.282,0.071,0.164,0.142,0.404,NaN,0.293,0.137
13649,2018-02-15 04:00,0.327,0.298,0.486,0.364,0.155,0.388,0.388,0.273,0.142,...,0.598,0.201,0.257,0.062,0.136,0.174,0.216,NaN,0.346,0.169
13650,2018-02-15 05:00,0.303,0.254,0.514,0.953,0.198,0.338,0.402,0.263,0.139,...,0.593,0.191,0.258,0.132,0.128,0.168,0.258,NaN,0.325,0.325
13651,2018-02-15 06:00,0.273,0.290,0.486,0.547,0.153,0.492,0.352,0.496,0.147,...,0.714,0.184,0.215,0.407,0.198,0.168,0.197,NaN,0.306,0.188
13652,2018-02-15 07:00,0.798,0.377,0.506,0.538,0.222,0.714,0.543,0.465,0.146,...,0.776,0.267,0.218,0.052,0.148,0.149,0.270,NaN,0.337,0.122
13653,2018-02-15 08:00,0.497,0.247,0.721,0.529,0.277,1.066,0.884,0.307,0.443,...,0.892,0.584,0.253,0.065,0.167,0.322,0.217,NaN,0.310,0.738
13654,2018-02-15 09:00,0.428,0.272,0.397,0.595,0.381,0.716,0.488,0.141,0.176,...,0.902,1.894,0.246,0.052,0.505,0.888,0.313,NaN,0.291,0.480
13655,2018-02-15 10:00,0.357,0.257,0.440,0.492,0.461,0.660,0.437,0.208,0.245,...,0.802,0.925,0.244,0.061,0.839,0.639,0.350,NaN,0.339,0.402
13656,2018-02-15 11:00,0.387,0.276,0.426,0.532,0.265,0.554,0.376,0.547,0.148,...,1.038,0.603,0.238,0.056,1.214,0.975,0.369,NaN,0.429,0.406
13657,2018-02-15 12:00,0.360,0.277,0.477,0.351,0.293,0.687,1.229,0.701,0.153,...,0.680,0.542,0.257,0.084,0.861,0.889,0.216,NaN,0.403,0.261
13658,2018-02-15 13:00,0.333,0.281,0.432,0.335,0.255,0.516,0.669,0.506,0.139,...,0.595,0.582,0.253,0.083,0.356,0.620,0.957,NaN,0.314,0.256
13659,2018-02-15 14:00,0.350,0.257,0.468,0.298,0.443,0.436,0.682,0.670,0.135,...,0.577,0.639,0.254,0.084,0.318,0.600,1.189,NaN,0.420,0.404
13660,2018-02-15 15:00,0.751,0.262,0.427,0.295,0.462,0.531,0.701,0.530,0.324,...,0.544,0.668,0.275,0.079,0.474,0.440,0.990,NaN,0.492,0.423
13661,2018-02-15 16:00,1.499,0.260,0.438,0.278,0.348,0.494,1.366,0.570,0.486,...,0.923,0.772,0.369,0.103,1.094,0.439,0.950,NaN,0.176,0.308
13662,2018-02-15 17:00,1.339,0.241,0.414,0.328,0.192,0.469,1.105,0.725,0.633,...,0.771,0.749,0.477,0.108,1.156,0.406,0.816,NaN,0.166,0.192
13663,2018-02-15 18:00,1.241,0.267,0.588,0.277,0.146,0.889,0.542,0.997,0.640,...,0.817,1.384,0.546,0.079,1.550,0.616,0.610,NaN,0.184,0.239
13664,2018-02-15 19:00,0.741,0.253,0.708,0.359,0.138,1.082,2.024,0.719,0.319,...,1.054,1.024,0.230,0.086,1.126,0.629,0.670,NaN,0.175,0.551
13665,2018-02-15 20:00,0.226,0.088,0.313,0.234,0.062,0.564,0.297,0.226,0.067,...,0.297,0.345,0.081,0.026,0.551,0.274,0.258,NaN,0.072,0.221
13666,2018-02-15 21:00,0.470,0.250,0.779,0.591,0.131,1.272,0.702,0.718,0.173,...,0.827,0.821,0.373,0.176,0.844,0.689,1.186,NaN,0.284,0.426
13667,2018-02-15 22:00,0.367,0.348,0.635,0.515,0.150,1.049,0.719,0.601,0.158,...,0.842,0.543,0.398,0.402,0.824,0.536,1.168,NaN,0.151,0.439
13668,2018-02-15 23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13669,2018-02-16 00:00,0.156,0.118,0.189,0.153,0.188,0.257,0.234,0.225,0.050,...,0.350,0.129,0.090,0.060,0.237,0.045,0.507,NaN,0.082,0.272
13670,2018-02-16 01:00,0.317,0.264,0.536,0.381,0.271,0.302,0.525,0.387,0.183,...,0.607,0.236,0.249,0.247,0.453,0.162,0.274,NaN,0.206,0.212
13671,2018-02-16 02:00,0.298,0.323,0.407,0.381,0.251,0.278,0.509,0.364,0.260,...,0.663,0.391,0.323,0.168,0.505,0.250,0.234,NaN,0.149,0.149
13672,2018-02-16 03:00,0.335,0.265,0.488,0.193,0.258,0.304,0.420,0.335,0.189,...,0.599,0.403,0.278,0.140,0.262,0.224,0.162,NaN,0.188,0.123
13673,2018-02-16 04:00,0.356,0.256,0.412,0.165,0.164,0.238,0.415,0.340,0.153,...,0.643,0.281,0.265,0.151,0.249,0.702,0.166,NaN,0.161,0.167
13674,2018-02-16 05:00,0.308,0.302,0.419,0.175,0.169,0.281,0.490,0.441,0.127,...,0.751,0.228,0.469,0.136,0.190,0.445,0.249,NaN,0.182,0.217
13675,2018-02-16 06:00,0.501,0.358,0.394,0.152,0.149,0.355,0.423,0.362,0.130,...,0.806,0.261,0.303,0.222,0.175,0.157,0.264,NaN,0.149,0.157
13676,2018-02-16 07:00,0.698,0.337,0.413,0.149,0.216,0.672,0.437,0.432,0.140,...,0.504,0.361,0.200,0.383,0.488,0.185,0.167,NaN,0.273,0.134
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16879,2018-06-29 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.475,NaN,NaN
16880,2018-06-29 19:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.691,NaN,NaN
16881,2018-06-29 20:00,1.423,2.113,1.789,0.884,1.178,0.768,1.190,1.057,1.159,...,NaN,1.495,1.208,1.189,1.619,2.488,2.486,4.052,1.202,NaN
16882,2018-06-29 21:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.453,NaN,NaN
16883,2018-06-29 22:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.135,NaN,NaN
16884,2018-06-29 23:00,0.084,0.187,0.123,0.134,0.119,0.055,0.092,0.093,0.044,...,NaN,0.079,0.076,0.078,0.131,0.083,0.218,4.211,0.061,0.137
16885,2018-06-30 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.526,NaN,NaN
16886,2018-06-30 01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.900,NaN,NaN
16887,2018-06-30 02:00,0.113,0.226,0.248,0.080,0.161,0.096,0.141,0.155,0.197,...,0.174,0.122,0.097,0.033,0.239,0.134,0.246,5.201,0.102,0.127
16888,2018-06-30 03:00,0.264,0.443,0.428,0.160,0.283,0.189,0.292,0.363,0.339,...,0.293,0.239,0.202,0.073,0.336,0.222,0.465,5.300,0.310,0.251
16889,2018-06-30 04:00,0.251,0.445,0.451,0.167,0.192,0.237,0.279,0.375,0.309,...,0.328,0.181,0.192,0.072,0.239,0.289,0.312,5.240,0.254,0.283
16890,2018-06-30 05:00,0.244,0.383,0.345,0.156,0.151,0.193,0.296,0.322,0.216,...,0.329,0.281,0.659,0.094,0.224,0.359,0.255,4.139,0.389,0.376
16891,2018-06-30 06:00,0.294,0.347,0.395,0.152,0.178,0.287,0.528,0.229,0.156,...,0.406,0.207,0.355,0.199,0.213,0.513,0.293,0.313,0.211,0.249
16892,2018-06-30 07:00,0.392,0.420,0.566,0.131,0.160,0.375,0.354,0.206,0.195,...,1.151,0.365,0.318,0.451,0.233,0.461,0.249,0.311,0.246,0.227
16893,2018-06-30 08:00,0.327,0.414,0.504,0.145,0.212,0.361,0.482,0.194,0.253,...,0.509,0.944,0.251,0.477,0.529,0.614,0.259,0.303,0.290,0.305
16894,2018-06-30 09:00,0.339,0.449,0.510,0.137,0.437,0.304,1.006,0.225,0.304,...,0.450,0.301,0.326,0.418,0.478,1.309,0.230,0.297,0.361,0.349
16895,2018-06-30 10:00,0.253,0.510,0.513,0.142,0.495,0.255,0.831,0.199,0.323,...,0.394,0.256,0.288,0.366,0.644,0.783,0.267,0.297,0.498,0.297
16896,2018-06-30 11:00,0.369,0.696,0.477,0.180,0.342,0.192,0.377,0.197,0.246,...,0.424,0.386,0.444,0.214,0.636,1.402,0.230,0.298,0.360,0.374
16897,2018-06-30 12:00,0.541,0.749,0.593,0.162,0.392,0.382,0.323,0.225,0.208,...,0.322,0.545,0.390,0.065,0.415,1.584,0.224,0.267,0.559,0.252
16898,2018-06-30 13:00,0.371,0.708,0.426,0.154,0.404,0.299,1.292,0.223,0.214,...,0.344,0.568,0.235,0.069,0.249,1.709,0.595,0.233,0.412,0.322
16899,2018-06-30 14:00,0.275,0.688,0.450,0.159,0.351,0.253,1.153,0.282,0.225,...,0.299,0.526,0.253,0.061,0.273,1.031,0.447,0.285,0.374,0.503
16900,2018-06-30 15:00,0.328,0.484,0.454,0.180,0.445,0.329,1.172,0.330,0.153,...,0.303,0.675,0.231,0.061,0.256,0.900,0.754,0.262,0.358,0.402
16901,2018-06-30 16:00,0.498,0.543,0.468,0.171,0.344,0.444,0.388,0.887,0.155,...,0.325,0.657,0.242,0.061,0.231,0.581,0.441,0.234,0.332,0.399
16902,2018-06-30 17:00,0.396,0.631,0.397,0.170,0.475,0.567,0.371,0.600,0.162,...,0.440,0.444,0.229,0.061,0.273,0.510,0.651,0.234,0.341,0.258
16903,2018-06-30 18:00,0.331,0.666,0.415,0.312,0.288,0.628,1.255,0.611,0.165,...,0.747,0.362,0.309,0.060,0.236,1.313,0.524,0.240,0.334,0.438
16904,2018-06-30 19:00,0.271,0.754,0.327,0.468,0.314,0.769,0.790,0.558,0.149,...,0.523,0.455,0.295,0.056,0.295,2.089,0.619,1.063,0.345,0.565
16905,2018-06-30 20:00,0.341,0.827,0.478,0.356,0.434,0.680,0.819,0.470,0.160,...,0.350,0.799,0.287,0.057,0.548,2.168,0.723,4.760,0.388,0.620
16906,2018-06-30 21:00,0.535,0.516,0.558,0.496,0.479,0.590,0.910,0.424,0.468,...,0.446,0.754,0.433,0.060,0.677,2.028,0.766,5.386,0.440,0.573
16907,2018-06-30 22:00,0.379,0.494,0.605,0.320,0.555,0.604,1.044,0.412,0.480,...,0.567,0.504,0.384,0.210,1.019,1.055,0.735,7.150,0.393,0.629
16908,2018-06-30 23:00,0.388,0.482,0.651,0.284,0.452,0.629,1.116,0.400,0.274,...,0.495,0.410,0.343,0.420,0.746,0.738,0.689,8.346,0.323,0.422

In [44]:
mode3 = pd.concat([col_t,val_t])

In [45]:
mode3

,0,1,2,3,4,5,6,7,8,9,...,1276,1277,1278,1279,1280,1281,1282,1283,1284,1285
values,X692,X1272,X553,X1299,X598,X1003,X1010,X1216,X1047,X381,...,X1164,X656,X1287,X324,X767,X1271,X1288,X58,X1033,X1163
values,0.275,0.212,0.425,0.108,0.153,0.18,0.296,0.292,0.144,0.148,...,0.291,0.164,0.209,0.048,0.205,0.198,0.24,2.309,0.223,0.224

In [47]:
mode3 = mode3.reset_index(drop=True)
mode3.to_csv('f_mode1.csv', index=False, header=None)

In [49]:
mode3 = pd.read_csv('f_mode.csv')
mode3

,X692,X1272,X553,X1299,X598,X1003,X1010,X1216,X1047,X381,...,X1164,X656,X1287,X324,X767,X1271,X1288,X58,X1033,X1163
0,0.275,0.212,0.425,0.108,0.153,0.18,0.296,0.292,0.144,0.148,...,0.291,0.164,0.209,0.048,0.205,0.198,0.24,2.309,0.223,0.224

In [175]:
a = mode3.columns.values[0]
type(a)

str

In [199]:
c = mode3.columns
c[1]

'X1272'

In [207]:
mode3.shape

(1, 1286)

In [208]:
sub1.shape

(3262, 1293)

In [246]:
mode3

,X692,X1272,X553,X1299,X598,X1003,X1010,X1216,X1047,X381,...,X1164,X656,X1287,X324,X767,X1271,X1288,X58,X1033,X1163
0,0.275,0.212,0.425,0.108,0.153,0.18,0.296,0.292,0.144,0.148,...,0.291,0.164,0.209,0.048,0.205,0.198,0.24,2.309,0.223,0.224

In [252]:
sub2.head()

       X1272   X553  X1299   X598  X1003  X1010  X1216  X1047   X381
13647  0.440  0.461  0.308  0.174  0.341  0.400  0.279  0.192  0.281
13648  0.292  0.524  0.279  0.198  0.343  0.393  0.272  0.142  0.295
13649  0.298  0.486  0.364  0.155  0.388  0.388  0.273  0.142  0.174
13650  0.254  0.514  0.953  0.198  0.338  0.402  0.263  0.139  0.156
13651  0.290  0.486  0.547  0.153  0.492  0.352  0.496  0.147  0.158

In [250]:
li

Int64Index([13668, 13692, 13716, 13740, 13764, 13788, 13812, 13836, 13860,
            13902,
            ...
            16875, 16876, 16877, 16878, 16879, 16880, 16882, 16883, 16885,
            16886],
           dtype='int64', length=192)

In [270]:
i = c[0]
li = sub1[sub1[i].isnull()].index
df = pd.DataFrame(sub1[i])
df.loc[li[0]] = 1
df.loc[li[0]]

X1272    1.0
Name: 13668, dtype: float64

In [272]:
c = mode3.columns
sub2 = pd.DataFrame()   # ìƒˆë¡œìš´ ë°ì´í„°í”„ë ˆìž„ ìƒì„±
n=0  # í˜„ìž¬ ì¹¼ëŸ¼ì¹´ìš´íŠ¸ë¥¼ ë³´ì—¬ì£¼ê¸° ìœ„í•œ ë³€ìˆ˜

# ë¯¸í„°ID ë¦¬ìŠ¤íŠ¸ cì—ì„œ 1ê°œì”© for loop
for i in c:  
    n +=1   # ì¹´ìš´íŠ¸ 
    li = sub1[sub1[i].isnull()].index   # li: testë°ì´í„°í”„ë ˆìž„ì˜ íŠ¹ì • ì—´(i)ì—ì„œ Nullì¸ ì…€ indexì¶”ì¶œ 
    df = pd.DataFrame(sub1[i])    # df: testì˜ iì—´ì„ ë³„ê°œ ë°ì´í„°í”„ë ˆìž„ìœ¼ë¡œ ìƒì„±
    for t in li:    #  li(Null ì¸ë±ìŠ¤)ë¥¼ ì‚¬ìš©í•´ for loop
        df.loc[t] = mode3[i][0]  # nullê°’ì— t.hour í‰ê·  ëŒ€ìž…
    print("%d. current column: %s, NaN count: %d" %(n, i, len(li)))   
    sub2 = pd.concat([sub2,df], axis=1)   # í‰ê·  ëŒ€ì¹˜ê°€ ëë‚œ dfë¥¼ test2ì— concatí•´ì¤€ë‹¤.

1. current column: X692, NaN count: 200
2. current column: X1272, NaN count: 199
3. current column: X553, NaN count: 223
4. current column: X1299, NaN count: 258
5. current column: X598, NaN count: 223
6. current column: X1003, NaN count: 327
7. current column: X1010, NaN count: 216
8. current column: X1216, NaN count: 200
9. current column: X1047, NaN count: 202
10. current column: X381, NaN count: 192
11. current column: X466, NaN count: 203
12. current column: X1420, NaN count: 199
13. current column: X686, NaN count: 199
14. current column: X711, NaN count: 196
15. current column: X1251, NaN count: 200
16. current column: X828, NaN count: 200
17. current column: X1350, NaN count: 258
18. current column: X1066, NaN count: 203
19. current column: X1293, NaN count: 231
20. current column: X1148, NaN count: 223
21. current column: X451, NaN count: 196
22. current column: X174, NaN count: 204
23. current column: X74, NaN count: 2858
24. current column: X626, NaN count: 200
25. current column: X1083, NaN count: 215
26. current column: X1000, NaN count: 219
27. current column: X632, NaN count: 200
28. current column: X1380, NaN count: 232
29. current column: X607, NaN count: 223
30. current column: X680, NaN count: 197
31. current column: X977, NaN count: 216
32. current column: X492, NaN count: 222
33. current column: X968, NaN count: 244
34. current column: X891, NaN count: 435
35. current column: X122, NaN count: 0
36. current column: X489, NaN count: 223
37. current column: X86, NaN count: 0
38. current column: X392, NaN count: 196
39. current column: X1007, NaN count: 216
40. current column: X549, NaN count: 223
41. current column: X1343, NaN count: 230
42. current column: X437, NaN count: 166
43. current column: X551, NaN count: 223
44. current column: X287, NaN count: 208
45. current column: X138, NaN count: 591
46. current column: X339, NaN count: 196
47. current column: X1210, NaN count: 200
48. current column: X127, NaN count: 3129
49. current column: X644, NaN count: 200
50. current column: X1472, NaN count: 200
51. current column: X604, NaN count: 221
52. current column: X1356, NaN count: 258
53. current column: X173, NaN count: 202
54. current column: X1399, NaN count: 231
55. current column: X859, NaN count: 199
56. current column: X281, NaN count: 204
57. current column: X514, NaN count: 197
58. current column: X345, NaN count: 197
59. current column: X997, NaN count: 216
60. current column: X657, NaN count: 467
61. current column: X1495, NaN count: 227
62. current column: X9, NaN count: 2405
63. current column: X894, NaN count: 435
64. current column: X577, NaN count: 222
65. current column: X1178, NaN count: 223
66. current column: X81, NaN count: 0
67. current column: X853, NaN count: 199
68. current column: X1455, NaN count: 200
69. current column: X494, NaN count: 222
70. current column: X759, NaN count: 198
71. current column: X1471, NaN count: 212
72. current column: X1263, NaN count: 199
73. current column: X96, NaN count: 0
74. current column: X631, NaN count: 227
75. current column: X1050, NaN count: 203
76. current column: X137, NaN count: 204
77. current column: X659, NaN count: 198
78. current column: X565, NaN count: 197
79. current column: X995, NaN count: 219
80. current column: X1145, NaN count: 222
81. current column: X683, NaN count: 197
82. current column: X953, NaN count: 216
83. current column: X1309, NaN count: 259
84. current column: X1493, NaN count: 227
85. current column: X701, NaN count: 196
86. current column: X1499, NaN count: 225
87. current column: X1146, NaN count: 250
88. current column: X1408, NaN count: 198
89. current column: X615, NaN count: 196
90. current column: X866, NaN count: 199
91. current column: X1364, NaN count: 230
92. current column: X1218, NaN count: 199
93. current column: X1333, NaN count: 258
94. current column: X1445, NaN count: 200
95. current column: X79, NaN count: 1895
96. current column: X327, NaN count: 196
97. current column: X1362, NaN count: 234
98. current column: X743, NaN count: 166
99. current column: X899, NaN count: 404
100. current column: X1111, NaN count: 248
101. current column: X528, NaN count: 223
102. current column: X1371, NaN count: 231
103. current column: X851, NaN count: 227
104. current column: X1274, NaN count: 200
105. current column: X1005, NaN count: 215
106. current column: X1057, NaN count: 232
107. current column: X209, NaN count: 208
108. current column: X1363, NaN count: 258
109. current column: X491, NaN count: 196
110. current column: X164, NaN count: 206
111. current column: X803, NaN count: 227
112. current column: X277, NaN count: 203
113. current column: X774, NaN count: 199
114. current column: X288, NaN count: 207
115. current column: X388, NaN count: 192
116. current column: X924, NaN count: 403
117. current column: X495, NaN count: 221
118. current column: X1132, NaN count: 222
119. current column: X261, NaN count: 194
120. current column: X1336, NaN count: 258
121. current column: X1429, NaN count: 199
122. current column: X749, NaN count: 198
123. current column: X929, NaN count: 462
124. current column: X833, NaN count: 199
125. current column: X885, NaN count: 435
126. current column: X1107, NaN count: 201
127. current column: X1228, NaN count: 203
128. current column: X1258, NaN count: 198
129. current column: X1261, NaN count: 225
130. current column: X104, NaN count: 0
131. current column: X981, NaN count: 216
132. current column: X824, NaN count: 397
133. current column: X424, NaN count: 196
134. current column: X765, NaN count: 200
135. current column: X1002, NaN count: 219
136. current column: X1014, NaN count: 216
137. current column: X1342, NaN count: 231
138. current column: X1346, NaN count: 257
139. current column: X902, NaN count: 436
140. current column: X1486, NaN count: 227
141. current column: X413, NaN count: 196
142. current column: X928, NaN count: 435
143. current column: X1303, NaN count: 258
144. current column: X600, NaN count: 223
145. current column: X674, NaN count: 198
146. current column: X608, NaN count: 223
147. current column: X220, NaN count: 203
148. current column: X1378, NaN count: 231
149. current column: X733, NaN count: 198
150. current column: X227, NaN count: 208
151. current column: X1130, NaN count: 250
152. current column: X1256, NaN count: 200
153. current column: X202, NaN count: 208
154. current column: X384, NaN count: 192
155. current column: X1129, NaN count: 224
156. current column: X1447, NaN count: 200
157. current column: X1352, NaN count: 258
158. current column: X516, NaN count: 197
159. current column: X1269, NaN count: 200
160. current column: X845, NaN count: 199
161. current column: X646, NaN count: 198
162. current column: X725, NaN count: 198
163. current column: X1094, NaN count: 200
164. current column: X790, NaN count: 199
165. current column: X65, NaN count: 1505
166. current column: X990, NaN count: 214
167. current column: X988, NaN count: 219
168. current column: X369, NaN count: 196
169. current column: X906, NaN count: 435
170. current column: X208, NaN count: 208
171. current column: X1474, NaN count: 200
172. current column: X54, NaN count: 1505
173. current column: X818, NaN count: 198
174. current column: X643, NaN count: 199
175. current column: X1187, NaN count: 224
176. current column: X797, NaN count: 200
177. current column: X306, NaN count: 219
178. current column: X321, NaN count: 195
179. current column: X203, NaN count: 208
180. current column: X1401, NaN count: 232
181. current column: X365, NaN count: 195
182. current column: X432, NaN count: 196
183. current column: X1207, NaN count: 200
184. current column: X789, NaN count: 198
185. current column: X555, NaN count: 197
186. current column: X904, NaN count: 436
187. current column: X285, NaN count: 209
188. current column: X1253, NaN count: 199
189. current column: X1383, NaN count: 229
190. current column: X860, NaN count: 200
191. current column: X295, NaN count: 208
192. current column: X1031, NaN count: 200
193. current column: X1232, NaN count: 199
194. current column: X258, NaN count: 206
195. current column: X13, NaN count: 3253
196. current column: X267, NaN count: 204

197. current column: X951, NaN count: 246
198. current column: X965, NaN count: 219
199. current column: X772, NaN count: 224
200. current column: X886, NaN count: 438
201. current column: X593, NaN count: 195
202. current column: X1121, NaN count: 223
203. current column: X1171, NaN count: 224
204. current column: X888, NaN count: 436
205. current column: X1332, NaN count: 258
206. current column: X690, NaN count: 199
207. current column: X1087, NaN count: 208
208. current column: X1213, NaN count: 200
209. current column: X665, NaN count: 202
210. current column: X795, NaN count: 210
211. current column: X430, NaN count: 190
212. current column: X484, NaN count: 200
213. current column: X114, NaN count: 0
214. current column: X1296, NaN count: 258
215. current column: X843, NaN count: 200
216. current column: X280, NaN count: 206
217. current column: X1158, NaN count: 250
218. current column: X1090, NaN count: 203
219. current column: X355, NaN count: 196
220. current column: X290, NaN count: 207
221. current column: X930, NaN count: 435
222. current column: X978, NaN count: 216
223. current column: X961, NaN count: 243
224. current column: X439, NaN count: 196
225. current column: X728, NaN count: 202
226. current column: X103, NaN count: 0
227. current column: X518, NaN count: 195
228. current column: X1108, NaN count: 230
229. current column: X1221, NaN count: 200
230. current column: X831, NaN count: 227
231. current column: X53, NaN count: 1505
232. current column: X973, NaN count: 243
233. current column: X1436, NaN count: 198
234. current column: X796, NaN count: 227
235. current column: X1161, NaN count: 224
236. current column: X69, NaN count: 0
237. current column: X1082, NaN count: 200
238. current column: X1240, NaN count: 199
239. current column: X1181, NaN count: 223
240. current column: X895, NaN count: 458
241. current column: X1285, NaN count: 239
242. current column: X1112, NaN count: 223
243. current column: X136, NaN count: 204
244. current column: X535, NaN count: 196
245. current column: X1043, NaN count: 203
246. current column: X1282, NaN count: 230
247. current column: X922, NaN count: 435
248. current column: X1255, NaN count: 198
249. current column: X1311, NaN count: 231
250. current column: X128, NaN count: 208
251. current column: X1097, NaN count: 200
252. current column: X1131, NaN count: 250
253. current column: X1088, NaN count: 200
254. current column: X226, NaN count: 206
255. current column: X1428, NaN count: 199
256. current column: X1006, NaN count: 218
257. current column: X864, NaN count: 198
258. current column: X571, NaN count: 196
259. current column: X1465, NaN count: 200
260. current column: X989, NaN count: 214
261. current column: X1068, NaN count: 203
262. current column: X592, NaN count: 197
263. current column: X664, NaN count: 225
264. current column: X1075, NaN count: 201
265. current column: X1078, NaN count: 230
266. current column: X509, NaN count: 223
267. current column: X1224, NaN count: 200
268. current column: X346, NaN count: 197
269. current column: X1011, NaN count: 219
270. current column: X633, NaN count: 200
271. current column: X325, NaN count: 196
272. current column: X1229, NaN count: 200
273. current column: X1061, NaN count: 203
274. current column: X770, NaN count: 197
275. current column: X1120, NaN count: 223
276. current column: X1478, NaN count: 200
277. current column: X1018, NaN count: 216
278. current column: X1415, NaN count: 199
279. current column: X1191, NaN count: 242
280. current column: X945, NaN count: 157
281. current column: X77, NaN count: 0
282. current column: X703, NaN count: 166
283. current column: X557, NaN count: 209
284. current column: X1160, NaN count: 223
285. current column: X1276, NaN count: 199
286. current column: X560, NaN count: 223
287. current column: X1396, NaN count: 258
288. current column: X1426, NaN count: 199
289. current column: X966, NaN count: 215
290. current column: X1012, NaN count: 425
291. current column: X471, NaN count: 203
292. current column: X179, NaN count: 207
293. current column: X17, NaN count: 1521
294. current column: X1139, NaN count: 224
295. current column: X1142, NaN count: 224
296. current column: X800, NaN count: 227
297. current column: X279, NaN count: 208
298. current column: X1144, NaN count: 223
299. current column: X1316, NaN count: 230
300. current column: X741, NaN count: 166
301. current column: X732, NaN count: 197
302. current column: X750, NaN count: 198
303. current column: X1027, NaN count: 230
304. current column: X476, NaN count: 197
305. current column: X1026, NaN count: 201
306. current column: X677, NaN count: 200
307. current column: X1266, NaN count: 201
308. current column: X746, NaN count: 166
309. current column: X259, NaN count: 205
310. current column: X877, NaN count: 434
311. current column: X1234, NaN count: 199
312. current column: X298, NaN count: 207
313. current column: X537, NaN count: 221
314. current column: X1093, NaN count: 229
315. current column: X1141, NaN count: 223
316. current column: X506, NaN count: 223
317. current column: X975, NaN count: 216
318. current column: X1246, NaN count: 200
319. current column: X1190, NaN count: 250
320. current column: X361, NaN count: 196
321. current column: X14, NaN count: 1505
322. current column: X48, NaN count: 1505
323. current column: X1414, NaN count: 199
324. current column: X391, NaN count: 192
325. current column: X348, NaN count: 192
326. current column: X1236, NaN count: 199
327. current column: X99, NaN count: 0
328. current column: X1168, NaN count: 249
329. current column: X1159, NaN count: 248
330. current column: X1184, NaN count: 222
331. current column: X775, NaN count: 227
332. current column: X390, NaN count: 159
333. current column: X724, NaN count: 223
334. current column: X2, NaN count: 1505
335. current column: X778, NaN count: 199
336. current column: X370, NaN count: 196
337. current column: X144, NaN count: 177
338. current column: X1483, NaN count: 200
339. current column: X691, NaN count: 199
340. current column: X934, NaN count: 435
341. current column: X611, NaN count: 222
342. current column: X409, NaN count: 164
343. current column: X952, NaN count: 216
344. current column: X1297, NaN count: 256
345. current column: X641, NaN count: 225
346. current column: X629, NaN count: 200
347. current column: X900, NaN count: 435
348. current column: X1500, NaN count: 227
349. current column: X72, NaN count: 0
350. current column: X1222, NaN count: 200
351. current column: X1459, NaN count: 200
352. current column: X115, NaN count: 0
353. current column: X1456, NaN count: 200
354. current column: X1382, NaN count: 258
355. current column: X1065, NaN count: 201
356. current column: X613, NaN count: 221
357. current column: X482, NaN count: 196
358. current column: X559, NaN count: 221
359. current column: X1283, NaN count: 230
360. current column: X310, NaN count: 404
361. current column: X1086, NaN count: 202
362. current column: X955, NaN count: 214
363. current column: X534, NaN count: 196
364. current column: X1430, NaN count: 199
365. current column: X1073, NaN count: 200
366. current column: X452, NaN count: 197
367. current column: X740, NaN count: 198
368. current column: X197, NaN count: 207
369. current column: X1046, NaN count: 202
370. current column: X897, NaN count: 460
371. current column: X1322, NaN count: 258
372. current column: X947, NaN count: 215
373. current column: X671, NaN count: 199
374. current column: X1404, NaN count: 228
375. current column: X100, NaN count: 0
376. current column: X1034, NaN count: 203
377. current column: X1295, NaN count: 231
378. current column: X1150, NaN count: 250
379. current column: X83, NaN count: 0
380. current column: X1052, NaN count: 230
381. current column: X539, NaN count: 223
382. current column: X820, NaN count: 227
383. current column: X826, NaN count: 199
384. current column: X786, NaN count: 199
385. current column: X294, NaN count: 206
386. current column: X382, NaN count: 164
387. current column: X783, NaN count: 227
388. current column: X623, NaN count: 200
389. current column: X757, NaN count: 219

390. current column: X1326, NaN count: 258
391. current column: X19, NaN count: 1505
392. current column: X351, NaN count: 197
393. current column: X938, NaN count: 436
394. current column: X771, NaN count: 538
395. current column: X927, NaN count: 405
396. current column: X1402, NaN count: 258
397. current column: X1400, NaN count: 230
398. current column: X1434, NaN count: 199
399. current column: X921, NaN count: 435
400. current column: X1340, NaN count: 258
401. current column: X1250, NaN count: 200
402. current column: X236, NaN count: 204
403. current column: X890, NaN count: 435
404. current column: X1202, NaN count: 250
405. current column: X1247, NaN count: 198
406. current column: X180, NaN count: 204
407. current column: X662, NaN count: 198
408. current column: X415, NaN count: 192
409. current column: X198, NaN count: 207
410. current column: X805, NaN count: 198
411. current column: X360, NaN count: 196
412. current column: X526, NaN count: 195
413. current column: X1154, NaN count: 223
414. current column: X1153, NaN count: 224
415. current column: X956, NaN count: 219
416. current column: X702, NaN count: 196
417. current column: X590, NaN count: 201
418. current column: X1151, NaN count: 250
419. current column: X401, NaN count: 972
420. current column: X36, NaN count: 2892
421. current column: X1239, NaN count: 199
422. current column: X454, NaN count: 196
423. current column: X594, NaN count: 223
424. current column: X681, NaN count: 200
425. current column: X850, NaN count: 200
426. current column: X153, NaN count: 203
427. current column: X1355, NaN count: 230
428. current column: X602, NaN count: 221
429. current column: X781, NaN count: 198
430. current column: X1479, NaN count: 217
431. current column: X1262, NaN count: 201
432. current column: X903, NaN count: 436
433. current column: X874, NaN count: 2487
434. current column: X1254, NaN count: 198
435. current column: X273, NaN count: 203
436. current column: X318, NaN count: 160
437. current column: X748, NaN count: 196
438. current column: X599, NaN count: 223
439. current column: X636, NaN count: 200
440. current column: X837, NaN count: 682
441. current column: X1237, NaN count: 199
442. current column: X1032, NaN count: 200
443. current column: X1208, NaN count: 220
444. current column: X1101, NaN count: 200
445. current column: X751, NaN count: 197
446. current column: X1411, NaN count: 199
447. current column: X946, NaN count: 215
448. current column: X1443, NaN count: 199
449. current column: X1480, NaN count: 223
450. current column: X1488, NaN count: 228
451. current column: X1036, NaN count: 203
452. current column: X821, NaN count: 198
453. current column: X332, NaN count: 195
454. current column: X501, NaN count: 197
455. current column: X1245, NaN count: 200
456. current column: X760, NaN count: 224
457. current column: X849, NaN count: 199
458. current column: X1366, NaN count: 258
459. current column: X695, NaN count: 223
460. current column: X433, NaN count: 196
461. current column: X1467, NaN count: 200
462. current column: X541, NaN count: 223
463. current column: X788, NaN count: 198
464. current column: X918, NaN count: 432
465. current column: X923, NaN count: 461
466. current column: X639, NaN count: 224
467. current column: X581, NaN count: 221
468. current column: X256, NaN count: 208
469. current column: X688, NaN count: 200
470. current column: X1492, NaN count: 227
471. current column: X521, NaN count: 222
472. current column: X1334, NaN count: 230
473. current column: X1064, NaN count: 201
474. current column: X1437, NaN count: 199
475. current column: X416, NaN count: 195
476. current column: X1115, NaN count: 250
477. current column: X670, NaN count: 198
478. current column: X836, NaN count: 227
479. current column: X872, NaN count: 449
480. current column: X28, NaN count: 1505
481. current column: X996, NaN count: 220
482. current column: X498, NaN count: 197
483. current column: X1177, NaN count: 224
484. current column: X385, NaN count: 165
485. current column: X121, NaN count: 0
486. current column: X1290, NaN count: 258
487. current column: X152, NaN count: 204
488. current column: X908, NaN count: 435
489. current column: X816, NaN count: 224
490. current column: X1180, NaN count: 223
491. current column: X896, NaN count: 436
492. current column: X627, NaN count: 198
493. current column: X822, NaN count: 199
494. current column: X768, NaN count: 198
495. current column: X1040, NaN count: 227
496. current column: X1348, NaN count: 258
497. current column: X1021, NaN count: 232
498. current column: X804, NaN count: 227
499. current column: X477, NaN count: 198
500. current column: X169, NaN count: 177
501. current column: X884, NaN count: 462
502. current column: X1314, NaN count: 258
503. current column: X879, NaN count: 435
504. current column: X1106, NaN count: 200
505. current column: X601, NaN count: 197
506. current column: X151, NaN count: 205
507. current column: X810, NaN count: 199
508. current column: X366, NaN count: 196
509. current column: X467, NaN count: 203
510. current column: X653, NaN count: 200
511. current column: X1468, NaN count: 200
512. current column: X668, NaN count: 215
513. current column: X716, NaN count: 198
514. current column: X63, NaN count: 1505
515. current column: X500, NaN count: 196
516. current column: X823, NaN count: 200
517. current column: X1113, NaN count: 222
518. current column: X1454, NaN count: 200
519. current column: X141, NaN count: 207
520. current column: X744, NaN count: 198
521. current column: X372, NaN count: 196
522. current column: X986, NaN count: 214
523. current column: X731, NaN count: 198
524. current column: X1127, NaN count: 250
525. current column: X1136, NaN count: 223
526. current column: X1347, NaN count: 231
527. current column: X475, NaN count: 199
528. current column: X1244, NaN count: 199
529. current column: X428, NaN count: 196
530. current column: X181, NaN count: 204
531. current column: X941, NaN count: 435
532. current column: X606, NaN count: 224
533. current column: X38, NaN count: 1674
534. current column: X762, NaN count: 165
535. current column: X1302, NaN count: 232
536. current column: X574, NaN count: 218
537. current column: X544, NaN count: 195
538. current column: X240, NaN count: 206
539. current column: X317, NaN count: 196
540. current column: X694, NaN count: 225
541. current column: X108, NaN count: 0
542. current column: X580, NaN count: 413
543. current column: X1481, NaN count: 227
544. current column: X1395, NaN count: 231
545. current column: X429, NaN count: 192
546. current column: X1242, NaN count: 199
547. current column: X926, NaN count: 452
548. current column: X1071, NaN count: 200
549. current column: X1206, NaN count: 198
550. current column: X909, NaN count: 489
551. current column: X893, NaN count: 435
552. current column: X359, NaN count: 197
553. current column: X1423, NaN count: 199
554. current column: X773, NaN count: 199
555. current column: X814, NaN count: 198
556. current column: X959, NaN count: 214
557. current column: X1162, NaN count: 250
558. current column: X540, NaN count: 197
559. current column: X612, NaN count: 223
560. current column: X752, NaN count: 198
561. current column: X949, NaN count: 155
562. current column: X784, NaN count: 227
563. current column: X815, NaN count: 227
564. current column: X791, NaN count: 227
565. current column: X905, NaN count: 436
566. current column: X185, NaN count: 204
567. current column: X469, NaN count: 202
568. current column: X1103, NaN count: 224
569. current column: X159, NaN count: 204
570. current column: X39, NaN count: 1505
571. current column: X1462, NaN count: 224
572. current column: X970, NaN count: 216
573. current column: X1186, NaN count: 224
574. current column: X647, NaN count: 199
575. current column: X1329, NaN count: 231
576. current column: X736, NaN count: 197
577. current column: X244, NaN count: 204
578. current column: X1209, NaN count: 222
579. current column: X839, NaN count: 200
580. current column: X1337, NaN count: 231
581. current column: X502, NaN count: 197
582. current column: X265, NaN count: 207

583. current column: X478, NaN count: 197
584. current column: X278, NaN count: 204
585. current column: X522, NaN count: 195
586. current column: X792, NaN count: 200
587. current column: X1219, NaN count: 605
588. current column: X1182, NaN count: 224
589. current column: X658, NaN count: 198
590. current column: X1059, NaN count: 231
591. current column: X1243, NaN count: 198
592. current column: X844, NaN count: 225
593. current column: X292, NaN count: 205
594. current column: X1410, NaN count: 199
595. current column: X1379, NaN count: 230
596. current column: X589, NaN count: 196
597. current column: X1140, NaN count: 222
598. current column: X1305, NaN count: 230
599. current column: X1359, NaN count: 230
600. current column: X684, NaN count: 199
601. current column: X999, NaN count: 219
602. current column: X871, NaN count: 436
603. current column: X829, NaN count: 199
604. current column: X1084, NaN count: 200
605. current column: X638, NaN count: 200
606. current column: X1409, NaN count: 198
607. current column: X510, NaN count: 195
608. current column: X8, NaN count: 3260
609. current column: X987, NaN count: 234
610. current column: X1019, NaN count: 231
611. current column: X425, NaN count: 166
612. current column: X617, NaN count: 212
613. current column: X1476, NaN count: 227
614. current column: X1496, NaN count: 227
615. current column: X563, NaN count: 221
616. current column: X568, NaN count: 221
617. current column: X958, NaN count: 215
618. current column: X984, NaN count: 219
619. current column: X655, NaN count: 199
620. current column: X1220, NaN count: 199
621. current column: X1042, NaN count: 201
622. current column: X1485, NaN count: 227
623. current column: X610, NaN count: 222
624. current column: X1267, NaN count: 199
625. current column: X735, NaN count: 196
626. current column: X525, NaN count: 197
627. current column: X129, NaN count: 208
628. current column: X1170, NaN count: 250
629. current column: X1405, NaN count: 199
630. current column: X1211, NaN count: 199
631. current column: X812, NaN count: 227
632. current column: X587, NaN count: 221
633. current column: X825, NaN count: 199
634. current column: X957, NaN count: 218
635. current column: X112, NaN count: 0
636. current column: X654, NaN count: 201
637. current column: X524, NaN count: 197
638. current column: X901, NaN count: 434
639. current column: X1394, NaN count: 258
640. current column: X545, NaN count: 222
641. current column: X1099, NaN count: 227
642. current column: X936, NaN count: 436
643. current column: X1341, NaN count: 233
644. current column: X1200, NaN count: 223
645. current column: X914, NaN count: 436
646. current column: X679, NaN count: 198
647. current column: X564, NaN count: 195
648. current column: X798, NaN count: 199
649. current column: X793, NaN count: 199
650. current column: X442, NaN count: 192
651. current column: X479, NaN count: 203
652. current column: X635, NaN count: 199
653. current column: X1089, NaN count: 203
654. current column: X917, NaN count: 434
655. current column: X1215, NaN count: 199
656. current column: X1257, NaN count: 200
657. current column: X586, NaN count: 221
658. current column: X119, NaN count: 0
659. current column: X726, NaN count: 198
660. current column: X954, NaN count: 215
661. current column: X883, NaN count: 436
662. current column: X29, NaN count: 1505
663. current column: X1119, NaN count: 250
664. current column: X1463, NaN count: 372
665. current column: X1286, NaN count: 2120
666. current column: X517, NaN count: 222
667. current column: X1260, NaN count: 200
668. current column: X1039, NaN count: 203
669. current column: X380, NaN count: 195
670. current column: X1327, NaN count: 258
671. current column: X1020, NaN count: 203
672. current column: X595, NaN count: 221
673. current column: X910, NaN count: 405
674. current column: X101, NaN count: 0
675. current column: X878, NaN count: 436
676. current column: X1233, NaN count: 200
677. current column: X246, NaN count: 207
678. current column: X57, NaN count: 1517
679. current column: X1374, NaN count: 258
680. current column: X464, NaN count: 204
681. current column: X486, NaN count: 222
682. current column: X1008, NaN count: 215
683. current column: X529, NaN count: 222
684. current column: X167, NaN count: 206
685. current column: X1231, NaN count: 199
686. current column: X979, NaN count: 219
687. current column: X766, NaN count: 656
688. current column: X1435, NaN count: 199
689. current column: X705, NaN count: 1988
690. current column: X1458, NaN count: 200
691. current column: X569, NaN count: 1063
692. current column: X1466, NaN count: 299
693. current column: X1214, NaN count: 200
694. current column: X508, NaN count: 195
695. current column: X334, NaN count: 420
696. current column: X1227, NaN count: 198
697. current column: X983, NaN count: 215
698. current column: X548, NaN count: 196
699. current column: X1104, NaN count: 200
700. current column: X1226, NaN count: 200
701. current column: X400, NaN count: 195
702. current column: X585, NaN count: 197
703. current column: X962, NaN count: 215
704. current column: X1116, NaN count: 223
705. current column: X1473, NaN count: 226
706. current column: X527, NaN count: 197
707. current column: X1338, NaN count: 258
708. current column: X131, NaN count: 206
709. current column: X591, NaN count: 221
710. current column: X1440, NaN count: 199
711. current column: X1351, NaN count: 258
712. current column: X937, NaN count: 435
713. current column: X418, NaN count: 378
714. current column: X1412, NaN count: 198
715. current column: X913, NaN count: 434
716. current column: X855, NaN count: 225
717. current column: X496, NaN count: 196
718. current column: X189, NaN count: 206
719. current column: X721, NaN count: 196
720. current column: X697, NaN count: 198
721. current column: X738, NaN count: 198
722. current column: X533, NaN count: 221
723. current column: X204, NaN count: 204
724. current column: X71, NaN count: 3247
725. current column: X1235, NaN count: 198
726. current column: X637, NaN count: 200
727. current column: X92, NaN count: 0
728. current column: X1049, NaN count: 200
729. current column: X1114, NaN count: 250
730. current column: X1183, NaN count: 224
731. current column: X340, NaN count: 194
732. current column: X1169, NaN count: 223
733. current column: X1212, NaN count: 199
734. current column: X1238, NaN count: 199
735. current column: X1372, NaN count: 257
736. current column: X667, NaN count: 198
737. current column: X480, NaN count: 202
738. current column: X154, NaN count: 207
739. current column: X940, NaN count: 410
740. current column: X713, NaN count: 166
741. current column: X719, NaN count: 198
742. current column: X939, NaN count: 463
743. current column: X870, NaN count: 436
744. current column: X1318, NaN count: 258
745. current column: X251, NaN count: 206
746. current column: X556, NaN count: 195
747. current column: X739, NaN count: 197
748. current column: X704, NaN count: 198
749. current column: X992, NaN count: 229
750. current column: X1427, NaN count: 199
751. current column: X621, NaN count: 198
752. current column: X98, NaN count: 0
753. current column: X1470, NaN count: 200
754. current column: X1091, NaN count: 231
755. current column: X648, NaN count: 226
756. current column: X1123, NaN count: 250
757. current column: X1196, NaN count: 226
758. current column: X448, NaN count: 192
759. current column: X1155, NaN count: 250
760. current column: X706, NaN count: 196
761. current column: X1029, NaN count: 200
762. current column: X1284, NaN count: 232
763. current column: X420, NaN count: 192
764. current column: X642, NaN count: 199
765. current column: X1281, NaN count: 230
766. current column: X1147, NaN count: 224
767. current column: X835, NaN count: 227
768. current column: X1230, NaN count: 199
769. current column: X1390, NaN count: 231
770. current column: X487, NaN count: 195
771. current column: X117, NaN count: 0
772. current column: X838, NaN count: 199
773. current column: X991, NaN count: 219
774. current column: X857, NaN count: 200
775. current column: X268, NaN count: 203

776. current column: X1422, NaN count: 198
777. current column: X488, NaN count: 195
778. current column: X1497, NaN count: 221
779. current column: X1413, NaN count: 198
780. current column: X854, NaN count: 228
781. current column: X458, NaN count: 196
782. current column: X708, NaN count: 196
783. current column: X27, NaN count: 1505
784. current column: X867, NaN count: 198
785. current column: X777, NaN count: 198
786. current column: X145, NaN count: 205
787. current column: X1403, NaN count: 258
788. current column: X531, NaN count: 196
789. current column: X507, NaN count: 196
790. current column: X575, NaN count: 223
791. current column: X1072, NaN count: 202
792. current column: X311, NaN count: 196
793. current column: X1038, NaN count: 200
794. current column: X1013, NaN count: 220
795. current column: X863, NaN count: 198
796. current column: X199, NaN count: 206
797. current column: X503, NaN count: 222
798. current column: X301, NaN count: 192
799. current column: X319, NaN count: 195
800. current column: X1045, NaN count: 203
801. current column: X1321, NaN count: 258
802. current column: X1117, NaN count: 223
803. current column: X168, NaN count: 207
804. current column: X1172, NaN count: 224
805. current column: X1418, NaN count: 198
806. current column: X1475, NaN count: 200
807. current column: X620, NaN count: 199
808. current column: X474, NaN count: 197
809. current column: X1432, NaN count: 199
810. current column: X463, NaN count: 203
811. current column: X1325, NaN count: 230
812. current column: X1105, NaN count: 201
813. current column: X1055, NaN count: 203
814. current column: X1354, NaN count: 230
815. current column: X1058, NaN count: 200
816. current column: X1449, NaN count: 199
817. current column: X147, NaN count: 202
818. current column: X753, NaN count: 197
819. current column: X583, NaN count: 221
820. current column: X1001, NaN count: 240
821. current column: X97, NaN count: 0
822. current column: X1489, NaN count: 227
823. current column: X806, NaN count: 198
824. current column: X1310, NaN count: 230
825. current column: X881, NaN count: 435
826. current column: X1273, NaN count: 199
827. current column: X1398, NaN count: 231
828. current column: X809, NaN count: 200
829. current column: X861, NaN count: 227
830. current column: X1461, NaN count: 200
831. current column: X907, NaN count: 436
832. current column: X188, NaN count: 205
833. current column: X1315, NaN count: 258
834. current column: X394, NaN count: 195
835. current column: X1494, NaN count: 229
836. current column: X745, NaN count: 221
837. current column: X1122, NaN count: 247
838. current column: X497, NaN count: 223
839. current column: X847, NaN count: 200
840. current column: X817, NaN count: 194
841. current column: X1300, NaN count: 258
842. current column: X264, NaN count: 208
843. current column: X395, NaN count: 197
844. current column: X584, NaN count: 222
845. current column: X1205, NaN count: 224
846. current column: X645, NaN count: 200
847. current column: X322, NaN count: 197
848. current column: X335, NaN count: 197
849. current column: X1385, NaN count: 467
850. current column: X1092, NaN count: 204
851. current column: X1016, NaN count: 216
852. current column: X1452, NaN count: 201
853. current column: X1460, NaN count: 227
854. current column: X193, NaN count: 486
855. current column: X624, NaN count: 200
856. current column: X1030, NaN count: 200
857. current column: X1424, NaN count: 198
858. current column: X969, NaN count: 243
859. current column: X1313, NaN count: 257
860. current column: X755, NaN count: 197
861. current column: X925, NaN count: 435
862. current column: X1109, NaN count: 232
863. current column: X651, NaN count: 204
864. current column: X504, NaN count: 197
865. current column: X1278, NaN count: 258
866. current column: X1134, NaN count: 224
867. current column: X808, NaN count: 227
868. current column: X21, NaN count: 1505
869. current column: X1298, NaN count: 230
870. current column: X118, NaN count: 3262
871. current column: X461, NaN count: 196
872. current column: X1389, NaN count: 231
873. current column: X1152, NaN count: 222
874. current column: X1041, NaN count: 229
875. current column: X842, NaN count: 200
876. current column: X1330, NaN count: 229
877. current column: X456, NaN count: 197
878. current column: X1157, NaN count: 222
879. current column: X523, NaN count: 223
880. current column: X1448, NaN count: 199
881. current column: X438, NaN count: 159
882. current column: X1373, NaN count: 230
883. current column: X1306, NaN count: 258
884. current column: X1249, NaN count: 215
885. current column: X698, NaN count: 165
886. current column: X150, NaN count: 205
887. current column: X567, NaN count: 223
888. current column: X1442, NaN count: 199
889. current column: X1392, NaN count: 325
890. current column: X1095, NaN count: 232
891. current column: X769, NaN count: 196
892. current column: X512, NaN count: 197
893. current column: X742, NaN count: 213
894. current column: X801, NaN count: 212
895. current column: X6, NaN count: 1505
896. current column: X811, NaN count: 227
897. current column: X737, NaN count: 195
898. current column: X237, NaN count: 204
899. current column: X876, NaN count: 436
900. current column: X1450, NaN count: 227
901. current column: X669, NaN count: 198
902. current column: X1487, NaN count: 227
903. current column: X865, NaN count: 199
904. current column: X274, NaN count: 203
905. current column: X576, NaN count: 221
906. current column: X848, NaN count: 200
907. current column: X652, NaN count: 200
908. current column: X1165, NaN count: 222
909. current column: X1345, NaN count: 258
910. current column: X948, NaN count: 219
911. current column: X1015, NaN count: 215
912. current column: X532, NaN count: 222
913. current column: X1439, NaN count: 264
914. current column: X676, NaN count: 199
915. current column: X1137, NaN count: 224
916. current column: X1167, NaN count: 224
917. current column: X696, NaN count: 196
918. current column: X40, NaN count: 1505
919. current column: X761, NaN count: 198
920. current column: X1367, NaN count: 255
921. current column: X1185, NaN count: 222
922. current column: X912, NaN count: 435
923. current column: X375, NaN count: 197
924. current column: X727, NaN count: 166
925. current column: X1124, NaN count: 223
926. current column: X685, NaN count: 198
927. current column: X272, NaN count: 203
928. current column: X1188, NaN count: 223
929. current column: X758, NaN count: 194
930. current column: X663, NaN count: 199
931. current column: X892, NaN count: 434
932. current column: X1365, NaN count: 230
933. current column: X1393, NaN count: 258
934. current column: X1264, NaN count: 199
935. current column: X207, NaN count: 206
936. current column: X404, NaN count: 196
937. current column: X1407, NaN count: 199
938. current column: X1128, NaN count: 224
939. current column: X898, NaN count: 434
940. current column: X1138, NaN count: 224
941. current column: X971, NaN count: 219
942. current column: X1080, NaN count: 200
943. current column: X588, NaN count: 221
944. current column: X1193, NaN count: 250
945. current column: X490, NaN count: 195
946. current column: X66, NaN count: 1505
947. current column: X974, NaN count: 219
948. current column: X709, NaN count: 165
949. current column: X830, NaN count: 200
950. current column: X776, NaN count: 227
951. current column: X1469, NaN count: 227
952. current column: X1025, NaN count: 203
953. current column: X1067, NaN count: 232
954. current column: X1201, NaN count: 223
955. current column: X920, NaN count: 435
956. current column: X85, NaN count: 283
957. current column: X52, NaN count: 1505
958. current column: X78, NaN count: 0
959. current column: X1376, NaN count: 230
960. current column: X338, NaN count: 196
961. current column: X558, NaN count: 222
962. current column: X1081, NaN count: 200
963. current column: X316, NaN count: 197
964. current column: X543, NaN count: 197
965. current column: X343, NaN count: 192
966. current column: X1360, NaN count: 230
967. current column: X943, NaN count: 436
968. current column: X673, NaN count: 200

969. current column: X1361, NaN count: 230
970. current column: X515, NaN count: 196
971. current column: X1217, NaN count: 200
972. current column: X950, NaN count: 215
973. current column: X1386, NaN count: 258
974. current column: X530, NaN count: 221
975. current column: X1453, NaN count: 227
976. current column: X1156, NaN count: 222
977. current column: X582, NaN count: 223
978. current column: X660, NaN count: 226
979. current column: X113, NaN count: 0
980. current column: X840, NaN count: 201
981. current column: X998, NaN count: 216
982. current column: X799, NaN count: 204
983. current column: X1204, NaN count: 250
984. current column: X572, NaN count: 197
985. current column: X1174, NaN count: 249
986. current column: X807, NaN count: 200
987. current column: X1110, NaN count: 224
988. current column: X12, NaN count: 1505
989. current column: X985, NaN count: 214
990. current column: X1069, NaN count: 200
991. current column: X257, NaN count: 208
992. current column: X880, NaN count: 434
993. current column: X919, NaN count: 436
994. current column: X49, NaN count: 1505
995. current column: X1320, NaN count: 258
996. current column: X625, NaN count: 200
997. current column: X1149, NaN count: 222
998. current column: X1053, NaN count: 200
999. current column: X597, NaN count: 197
1000. current column: X304, NaN count: 196
1001. current column: X650, NaN count: 198
1002. current column: X387, NaN count: 196
1003. current column: X465, NaN count: 203
1004. current column: X1051, NaN count: 200
1005. current column: X566, NaN count: 221
1006. current column: X614, NaN count: 196
1007. current column: X284, NaN count: 206
1008. current column: X1417, NaN count: 198
1009. current column: X960, NaN count: 219
1010. current column: X135, NaN count: 206
1011. current column: X964, NaN count: 219
1012. current column: X1079, NaN count: 230
1013. current column: X1077, NaN count: 200
1014. current column: X1291, NaN count: 258
1015. current column: X794, NaN count: 200
1016. current column: X344, NaN count: 196
1017. current column: X1126, NaN count: 249
1018. current column: X764, NaN count: 166
1019. current column: X33, NaN count: 1512
1020. current column: X1438, NaN count: 198
1021. current column: X714, NaN count: 197
1022. current column: X221, NaN count: 203
1023. current column: X1446, NaN count: 199
1024. current column: X1009, NaN count: 216
1025. current column: X1304, NaN count: 257
1026. current column: X1406, NaN count: 199
1027. current column: X60, NaN count: 1505
1028. current column: X672, NaN count: 200
1029. current column: X832, NaN count: 198
1030. current column: X293, NaN count: 207
1031. current column: X1312, NaN count: 230
1032. current column: X89, NaN count: 0
1033. current column: X1344, NaN count: 258
1034. current column: X1457, NaN count: 201
1035. current column: X191, NaN count: 207
1036. current column: X875, NaN count: 429
1037. current column: X1490, NaN count: 227
1038. current column: X46, NaN count: 1505
1039. current column: X1444, NaN count: 199
1040. current column: X609, NaN count: 222
1041. current column: X603, NaN count: 196
1042. current column: X819, NaN count: 227
1043. current column: X1004, NaN count: 216
1044. current column: X628, NaN count: 200
1045. current column: X1464, NaN count: 224
1046. current column: X1076, NaN count: 203
1047. current column: X675, NaN count: 199
1048. current column: X763, NaN count: 197
1049. current column: X546, NaN count: 222
1050. current column: X373, NaN count: 166
1051. current column: X238, NaN count: 207
1052. current column: X1384, NaN count: 229
1053. current column: X856, NaN count: 199
1054. current column: X1307, NaN count: 230
1055. current column: X538, NaN count: 223
1056. current column: X1370, NaN count: 233
1057. current column: X1096, NaN count: 203
1058. current column: X787, NaN count: 198
1059. current column: X1280, NaN count: 231
1060. current column: X1203, NaN count: 239
1061. current column: X1349, NaN count: 246
1062. current column: X779, NaN count: 221
1063. current column: X976, NaN count: 215
1064. current column: X730, NaN count: 195
1065. current column: X666, NaN count: 198
1066. current column: X417, NaN count: 196
1067. current column: X723, NaN count: 198
1068. current column: X1319, NaN count: 231
1069. current column: X994, NaN count: 219
1070. current column: X1301, NaN count: 257
1071. current column: X1397, NaN count: 230
1072. current column: X1248, NaN count: 200
1073. current column: X453, NaN count: 195
1074. current column: X542, NaN count: 196
1075. current column: X483, NaN count: 195
1076. current column: X374, NaN count: 197
1077. current column: X1098, NaN count: 200
1078. current column: X1275, NaN count: 199
1079. current column: X729, NaN count: 165
1080. current column: X362, NaN count: 192
1081. current column: X882, NaN count: 405
1082. current column: X1416, NaN count: 198
1083. current column: X1074, NaN count: 203
1084. current column: X619, NaN count: 227
1085. current column: X1028, NaN count: 203
1086. current column: X747, NaN count: 224
1087. current column: X1135, NaN count: 224
1088. current column: X519, NaN count: 197
1089. current column: X862, NaN count: 198
1090. current column: X162, NaN count: 205
1091. current column: X869, NaN count: 461
1092. current column: X146, NaN count: 208
1093. current column: X1335, NaN count: 232
1094. current column: X932, NaN count: 441
1095. current column: X1197, NaN count: 223
1096. current column: X722, NaN count: 197
1097. current column: X554, NaN count: 222
1098. current column: X578, NaN count: 195
1099. current column: X1331, NaN count: 231
1100. current column: X717, NaN count: 198
1101. current column: X1353, NaN count: 231
1102. current column: X1484, NaN count: 227
1103. current column: X993, NaN count: 214
1104. current column: X1433, NaN count: 199
1105. current column: X931, NaN count: 404
1106. current column: X846, NaN count: 199
1107. current column: X1357, NaN count: 251
1108. current column: X1048, NaN count: 200
1109. current column: X618, NaN count: 197
1110. current column: X1317, NaN count: 258
1111. current column: X963, NaN count: 902
1112. current column: X1308, NaN count: 258
1113. current column: X342, NaN count: 166
1114. current column: X561, NaN count: 222
1115. current column: X212, NaN count: 204
1116. current column: X1175, NaN count: 224
1117. current column: X734, NaN count: 224
1118. current column: X634, NaN count: 199
1119. current column: X156, NaN count: 204
1120. current column: X1056, NaN count: 200
1121. current column: X309, NaN count: 196
1122. current column: X813, NaN count: 199
1123. current column: X520, NaN count: 195
1124. current column: X1292, NaN count: 229
1125. current column: X754, NaN count: 198
1126. current column: X911, NaN count: 405
1127. current column: X1368, NaN count: 258
1128. current column: X307, NaN count: 183
1129. current column: X1133, NaN count: 268
1130. current column: X1198, NaN count: 223
1131. current column: X1477, NaN count: 224
1132. current column: X700, NaN count: 196
1133. current column: X411, NaN count: 192
1134. current column: X1189, NaN count: 223
1135. current column: X249, NaN count: 205
1136. current column: X1381, NaN count: 258
1137. current column: X56, NaN count: 2063
1138. current column: X336, NaN count: 196
1139. current column: X1294, NaN count: 229
1140. current column: X1060, NaN count: 227
1141. current column: X1387, NaN count: 258
1142. current column: X782, NaN count: 200
1143. current column: X630, NaN count: 198
1144. current column: X1023, NaN count: 202
1145. current column: X712, NaN count: 188
1146. current column: X356, NaN count: 170
1147. current column: X982, NaN count: 217
1148. current column: X1425, NaN count: 198
1149. current column: X210, NaN count: 205
1150. current column: X972, NaN count: 215
1151. current column: X513, NaN count: 223
1152. current column: X15, NaN count: 1505
1153. current column: X699, NaN count: 195
1154. current column: X1421, NaN count: 198
1155. current column: X1451, NaN count: 220
1156. current column: X1085, NaN count: 232
1157. current column: X718, NaN count: 198

1158. current column: X1062, NaN count: 231
1159. current column: X170, NaN count: 202
1160. current column: X95, NaN count: 0
1161. current column: X1199, NaN count: 247
1162. current column: X93, NaN count: 0
1163. current column: X841, NaN count: 199
1164. current column: X967, NaN count: 223
1165. current column: X687, NaN count: 198
1166. current column: X1022, NaN count: 201
1167. current column: X780, NaN count: 167
1168. current column: X1268, NaN count: 199
1169. current column: X887, NaN count: 436
1170. current column: X1388, NaN count: 229
1171. current column: X640, NaN count: 200
1172. current column: X90, NaN count: 0
1173. current column: X552, NaN count: 195
1174. current column: X1173, NaN count: 224
1175. current column: X935, NaN count: 435
1176. current column: X1118, NaN count: 229
1177. current column: X434, NaN count: 196
1178. current column: X1054, NaN count: 201
1179. current column: X562, NaN count: 197
1180. current column: X693, NaN count: 221
1181. current column: X1375, NaN count: 255
1182. current column: X1289, NaN count: 258
1183. current column: X1339, NaN count: 258
1184. current column: X182, NaN count: 203
1185. current column: X1491, NaN count: 227
1186. current column: X649, NaN count: 1507
1187. current column: X511, NaN count: 196
1188. current column: X1102, NaN count: 203
1189. current column: X916, NaN count: 436
1190. current column: X184, NaN count: 203
1191. current column: X547, NaN count: 221
1192. current column: X710, NaN count: 197
1193. current column: X868, NaN count: 436
1194. current column: X1044, NaN count: 232
1195. current column: X605, NaN count: 221
1196. current column: X1252, NaN count: 200
1197. current column: X579, NaN count: 221
1198. current column: X573, NaN count: 222
1199. current column: X1358, NaN count: 231
1200. current column: X485, NaN count: 197
1201. current column: X1377, NaN count: 258
1202. current column: X11, NaN count: 1505
1203. current column: X190, NaN count: 206
1204. current column: X1063, NaN count: 200
1205. current column: X25, NaN count: 1505
1206. current column: X234, NaN count: 206
1207. current column: X222, NaN count: 207
1208. current column: X1223, NaN count: 199
1209. current column: X1277, NaN count: 224
1210. current column: X980, NaN count: 219
1211. current column: X550, NaN count: 197
1212. current column: X661, NaN count: 198
1213. current column: X84, NaN count: 0
1214. current column: X1176, NaN count: 223
1215. current column: X858, NaN count: 198
1216. current column: X596, NaN count: 196
1217. current column: X1265, NaN count: 199
1218. current column: X1391, NaN count: 231
1219. current column: X715, NaN count: 196
1220. current column: X1419, NaN count: 198
1221. current column: X682, NaN count: 198
1222. current column: X444, NaN count: 192
1223. current column: X1192, NaN count: 223
1224. current column: X328, NaN count: 192
1225. current column: X171, NaN count: 205
1226. current column: X570, NaN count: 223
1227. current column: X720, NaN count: 217
1228. current column: X505, NaN count: 197
1229. current column: X852, NaN count: 227
1230. current column: X1279, NaN count: 255
1231. current column: X1225, NaN count: 200
1232. current column: X802, NaN count: 215
1233. current column: X499, NaN count: 197
1234. current column: X440, NaN count: 192
1235. current column: X1166, NaN count: 250
1236. current column: X1431, NaN count: 199
1237. current column: X1482, NaN count: 206
1238. current column: X23, NaN count: 1505
1239. current column: X441, NaN count: 195
1240. current column: X1070, NaN count: 202
1241. current column: X707, NaN count: 222
1242. current column: X493, NaN count: 223
1243. current column: X785, NaN count: 200
1244. current column: X873, NaN count: 414
1245. current column: X1179, NaN count: 224
1246. current column: X1125, NaN count: 224
1247. current column: X109, NaN count: 0
1248. current column: X224, NaN count: 208
1249. current column: X1259, NaN count: 198
1250. current column: X1143, NaN count: 248
1251. current column: X1324, NaN count: 230
1252. current column: X889, NaN count: 436
1253. current column: X689, NaN count: 200
1254. current column: X447, NaN count: 197
1255. current column: X1270, NaN count: 199
1256. current column: X827, NaN count: 226
1257. current column: X1037, NaN count: 201
1258. current column: X942, NaN count: 435
1259. current column: X1498, NaN count: 221
1260. current column: X678, NaN count: 225
1261. current column: X1100, NaN count: 232
1262. current column: X239, NaN count: 208
1263. current column: X1369, NaN count: 258
1264. current column: X436, NaN count: 196
1265. current column: X536, NaN count: 222
1266. current column: X933, NaN count: 404
1267. current column: X1035, NaN count: 789
1268. current column: X1194, NaN count: 250
1269. current column: X1441, NaN count: 199
1270. current column: X291, NaN count: 205
1271. current column: X1328, NaN count: 230
1272. current column: X1323, NaN count: 232
1273. current column: X616, NaN count: 197
1274. current column: X1195, NaN count: 224
1275. current column: X944, NaN count: 153
1276. current column: X1017, NaN count: 219
1277. current column: X1164, NaN count: 224
1278. current column: X656, NaN count: 198
1279. current column: X1287, NaN count: 229
1280. current column: X324, NaN count: 196
1281. current column: X767, NaN count: 224
1282. current column: X1271, NaN count: 199
1283. current column: X1288, NaN count: 230
1284. current column: X58, NaN count: 1515
1285. current column: X1033, NaN count: 220
1286. current column: X1163, NaN count: 223

In [274]:
sub2.isnull().sum()

X692     0
X1272    0
X553     0
X1299    0
X598     0
X1003    0
X1010    0
X1216    0
X1047    0
X381     0
X466     0
X1420    0
X686     0
X711     0
X1251    0
X828     0
X1350    0
X1066    0
X1293    0
X1148    0
X451     0
X174     0
X74      0
X626     0
X1083    0
X1000    0
X632     0
X1380    0
X607     0
X680     0
        ..
X1037    0
X942     0
X1498    0
X678     0
X1100    0
X239     0
X1369    0
X436     0
X536     0
X933     0
X1035    0
X1194    0
X1441    0
X291     0
X1328    0
X1323    0
X616     0
X1195    0
X944     0
X1017    0
X1164    0
X656     0
X1287    0
X324     0
X767     0
X1271    0
X1288    0
X58      0
X1033    0
X1163    0
Length: 1286, dtype: int64

In [202]:
for i in (range(1285)):
    a = mode3.columns
    b = mode3[a[i]][0]
    sub2 = sub1[a[i]].fillna(pd.DataFrame({ a[i] : b }))

ValueError: If using all scalar values, you must pass an index