In [2]:
import pandas as pd
import seaborn as sns
import scipy as sp
import numpy as np
import matplotlib as plt
from collections import Counter

In [27]:
train = pd.read_csv('data/train.csv')

In [299]:
data = train.copy()

In [302]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16909 entries, 0 to 16908
Columns: 1286 entries, Time to X1163
dtypes: float64(1285), object(1)
memory usage: 165.9+ MB

In [9]:
stats

,X692,X1272,X553,X1299,X4,X598,X1003,X1010,X1216,X1047,...,X1164,X656,X1287,X324,X767,X1271,X1288,X58,X1033,X1163
count,3064.000000,3065.000000,3041.000000,3006.000000,0.0,3041.000000,2937.000000,3048.000000,3064.000000,3062.000000,...,3040.000000,3066.000000,3035.000000,6766.000000,3040.000000,3065.000000,3034.000000,1747.000000,3044.000000,3041.000000
mean,0.371506,0.410571,0.519877,0.260363,NaN,0.268325,0.378017,0.424614,0.302138,0.273101,...,0.410577,0.441267,0.271726,0.141011,0.384662,0.552852,0.487484,2.881876,0.356959,0.339762
std,0.190358,0.272845,0.236184,0.231955,NaN,0.149223,0.267603,0.267227,0.157183,0.184067,...,0.270049,0.295568,0.146547,0.116648,0.254653,0.386933,0.277884,1.915190,0.189310,0.198999
min,0.049000,0.066000,0.053000,0.017000,NaN,0.034000,0.052000,0.052000,0.071000,0.037000,...,0.058000,0.074000,0.022000,0.007000,0.048000,0.045000,0.041000,0.216000,0.038000,0.057000
25%,0.271000,0.225000,0.416000,0.114000,NaN,0.162000,0.207000,0.285000,0.212000,0.163000,...,0.266000,0.242000,0.198000,0.055000,0.214000,0.251000,0.280000,1.360500,0.242000,0.218000
50%,0.329000,0.338000,0.485000,0.176500,NaN,0.228000,0.274000,0.347500,0.281000,0.216000,...,0.332000,0.384000,0.233000,0.122000,0.317500,0.477000,0.432000,2.469000,0.326000,0.290000
75%,0.430000,0.536000,0.581000,0.339000,NaN,0.346000,0.483000,0.466000,0.344000,0.313750,...,0.475000,0.545000,0.309500,0.173000,0.500000,0.758000,0.663750,4.209500,0.432250,0.449000
max,4.104000,4.837000,6.232000,5.624000,NaN,2.718000,5.418000,4.426000,2.899000,2.684000,...,5.929000,4.562000,3.209000,1.768000,4.443000,7.773000,4.414000,9.088000,3.921000,5.049000

In [300]:
no_data = ['X3','X4','X1','X22','X34','X24','X45','X58','X64','X622','X756','X834','X915','X1024','X1241']
sub = data.drop(no_data, axis=1)
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16909 entries, 0 to 16908
Columns: 1286 entries, Time to X1163
dtypes: float64(1285), object(1)
memory usage: 165.9+ MB

In [304]:
stats = sub.describe()
[i for i in range(1285) if stats.iloc[0][i] == 0]

[]

In [31]:
sub_t = sub.iloc[:, 1:]

In [48]:
stats = sub_t.describe()
X = []
x = [i for i in range(1286) if stats.iloc[0][i] >= 8000]
X.append(['X{}'.format(x) for x in x])

In [55]:
mode0 = pd.read_csv('data/freq.csv', names= ['values'])

In [87]:
mode0

     values
0      X692
1     0.275
2     X1272
3     0.212
4      X553
5     0.425
6     X1299
7     0.108
8      X598
9     0.153
10    X1003
11     0.18
12    X1010
13    0.296
14    X1216
15    0.292
16    X1047
17    0.144
18     X381
19    0.148
20     X466
21    0.173
22    X1420
23    0.386
24     X686
25    0.149
26     X711
27    0.517
28    X1251
29    0.196
...     ...
2560  X1323
2561  0.217
2562   X616
2563  0.141
2564  X1195
2565  0.164
2566   X944
2567  0.643
2568  X1017
2569   0.16
2570  X1164
2571  0.291
2572   X656
2573  0.164
2574  X1287
2575  0.209
2576   X324
2577  0.048
2578   X767
2579  0.205
2580  X1271
2581  0.198
2582  X1288
2583   0.24
2584    X58
2585  2.309
2586  X1033
2587  0.223
2588  X1163
2589  0.224

[2590 rows x 1 columns]

In [106]:
col = []
val = []
for i in range(len(mode0)):
    if i % 2 == 0:
        col.append(mode0.iloc[i])
    else:
        val.append(mode0.iloc[i])

In [144]:
col1 = pd.DataFrame(col)
val1 = pd.DataFrame(val)

In [156]:
col_d = col1.reset_index(drop=True)
val_d = val1.reset_index(drop=True)

In [180]:
col_t = col_d.T
val_t = val_d.T

In [267]:
mode2.to_csv('mode1.csv', header=False, index=False)

In [238]:
mode2 = pd.concat([col_t , val_t])

In [220]:
mode2 = mode2.reset_index(drop=True)

In [268]:
mode3 = pd.read_csv('mode1.csv')

In [270]:
mode3

,X692,X1272,X553,X1299,X598,X1003,X1010,X1216,X1047,X381,...,X1164,X656,X1287,X324,X767,X1271,X1288,X58,X1033,X1163
0,0.275,0.212,0.425,0.108,0.153,0.18,0.296,0.292,0.144,0.148,...,0.291,0.164,0.209,0.048,0.205,0.198,0.24,2.309,0.223,0.224

In [276]:
mode3.iloc[0, 0]

0.275

In [305]:
sub1 = sub.iloc[13647:16910]

In [330]:
len(sub1)

3262

In [334]:
for i in range(0,1285):
    for k in range(0,3261):
        new = {'sub1.iloc[k:k+1,i+1:i+2]':mode3.iloc[k:k+1, i:i+1]}
        sub2 = sub1.fillna(new)

KeyboardInterrupt:

In [315]:
sub2.to_csv("sub2.csv")