In [1]:
import pandas as pd
import numpy as np

# Competition을 위한 데이터 처리 예제

- mem_data.csv 파일의 GENDER 열과 MEM_ID열은 모델링에 사용됨에 따라 수정하시면 안됩니다.

In [86]:
mem_data = pd.read_csv('data/mem_data.csv')
mem_tr = pd.read_csv('data/mem_transaction.csv')
s_info = pd.read_csv('data/store_info.csv')

In [87]:
mem_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10764 entries, 0 to 10763
Data columns (total 15 columns):
MEM_ID         10764 non-null int64
M_STORE_ID     10764 non-null int64
GENDER         10764 non-null object
BIRTH_DT       5997 non-null object
BIRTH_SL       10764 non-null object
ZIP_CD         10764 non-null object
RGST_DT        10764 non-null object
VISIT_CNT      10764 non-null float64
SALES_AMT      10764 non-null float64
LAST_VST_DT    10764 non-null object
USABLE_PNT     10764 non-null float64
USED_PNT       10764 non-null float64
ACC_PNT        10764 non-null float64
USABLE_INIT    10764 non-null float64
SMS            10764 non-null object
dtypes: float64(6), int64(2), object(7)
memory usage: 1.2+ MB

In [88]:
mem_data.head()

,MEM_ID,M_STORE_ID,GENDER,BIRTH_DT,BIRTH_SL,ZIP_CD,RGST_DT,VISIT_CNT,SALES_AMT,LAST_VST_DT,USABLE_PNT,USED_PNT,ACC_PNT,USABLE_INIT,SMS
0,1134945,1084,M,NaN,S,-,2006-02-04 11:51:08.233000000,8.0,337000.0,2007-01-19 21:46:12.827000000,6740.0,0.0,6740.0,3202.0,Y
1,38458,539,F,1973-07-11,S,420-721,2006-02-04 11:51:08.233000000,22.0,1438500.0,2007-10-18 19:57:45.503000000,1732.0,12000.0,13732.0,17762.0,Y
2,7009,1113,F,1973-04-06,S,-,2006-02-04 11:51:08.233000000,8.0,309300.0,2007-05-30 15:21:10.863000000,6372.0,0.0,6372.0,1856.0,Y
3,91791,2273,UNKNOWN,1968-09-05,S,487-820,2006-02-04 11:51:08.233000000,11.0,170400.0,2007-10-16 15:55:52.483000000,3408.0,0.0,3408.0,236.0,Y
4,1374842,1300,M,NaN,S,-,2006-02-04 11:51:08.233000000,3.0,110300.0,2007-03-25 12:49:30.170000000,2206.0,0.0,2206.0,1522.0,Y

In [89]:
mem_data.BIRTH_SL.value_counts()

S    8973
L    1791
Name: BIRTH_SL, dtype: int64

In [90]:
mem_tr.head()

,STORE_ID,SELL_DT,MEMP_STY,MEM_ID,MEMP_DT,SELL_AMT,MEMP_TP
0,125,20060227,O,1225434,2006-02-27 13:57:44.750000000,15500,A
1,125,20060303,O,1181938,2006-03-03 15:43:56.987000000,22600,A
2,125,20060322,O,6093,2006-03-22 18:08:45.563000000,11000,A
3,125,20060403,O,1398202,2006-04-03 13:36:27.040000000,14400,A
4,125,20060418,O,1225434,2006-04-18 16:04:39.583000000,6600,A

In [91]:
s_info.head()

   STORE_ID  STORE_REGION
0       128             2
1       129             2
2       130            11
3       133            16
4       136            13

In [92]:
mem_data.GENDER.value_counts()

F          3767
M          3767
UNKNOWN    3230
Name: GENDER, dtype: int64

In [93]:
mem_data.SMS.value_counts()

Y    10575
N      189
Name: SMS, dtype: int64

In [94]:
mem_data.BIRTH_DT.isnull().sum()

4767

## **[mem_data 처리]**

**[변수 처리 1]** SMS 수신동의 정수 처리하기

In [95]:
mem_data.SMS.value_counts()

Y    10575
N      189
Name: SMS, dtype: int64

In [96]:
mem_data.SMS = (mem_data.SMS=='Y').astype(int)
mem_data.SMS.value_counts()

1    10575
0      189
Name: SMS, dtype: int64

**[변수 처리 2]** 양/음력(BIRTH_SL) 정수 처리하기

In [97]:
mem_data.BIRTH_SL = (mem_data.BIRTH_SL=='Y').astype(int)
mem_data.BIRTH_SL.value_counts()

0    10764
Name: BIRTH_SL, dtype: int64

**[변수 처리 3]** 구매 합계(SALES_AMT) 로그 처리 하기
- 참고 : 로그처리에는 음수가 들어갈 수 없음 / 0이 있을 경우 1을 더하고 처리

In [98]:
f = mem_data.SALES_AMT.where(mem_data.SALES_AMT>=0, other=0) # 음수처리
f = np.log(f+1)
mem_data.SALES_AMT = f

**[변수 처리 4]** 로그 처리가 필요하다고 생각되는 변수를 로그처리 하기

In [99]:
f = mem_data.USABLE_PNT.where(mem_data.SALES_AMT>=0, other=0) # 음수처리
f = np.log(f+1)
mem_data.USABLE_PNT = f

In [100]:
f = mem_data.USED_PNT.where(mem_data.SALES_AMT>=0, other=0) # 음수처리
f = np.log(f+1)
mem_data.USED_PNT = f

In [101]:
f = mem_data.ACC_PNT.where(mem_data.SALES_AMT>=0, other=0) # 음수처리
f = np.log(f+1)
mem_data.ACC_PNT = f

In [102]:
f = mem_data.USABLE_INIT.where(mem_data.SALES_AMT>=0, other=0) # 음수처리
f = np.log(f+1)
mem_data.USABLE_INIT = f

In [103]:
mem_data.head()

,MEM_ID,M_STORE_ID,GENDER,BIRTH_DT,BIRTH_SL,ZIP_CD,RGST_DT,VISIT_CNT,SALES_AMT,LAST_VST_DT,USABLE_PNT,USED_PNT,ACC_PNT,USABLE_INIT,SMS
0,1134945,1084,M,NaN,0,-,2006-02-04 11:51:08.233000000,8.0,12.727841,2007-01-19 21:46:12.827000000,8.815964,0.000000,8.815964,8.071843,1
1,38458,539,F,1973-07-11,0,420-721,2006-02-04 11:51:08.233000000,22.0,14.179112,2007-10-18 19:57:45.503000000,7.457609,9.392745,9.527557,9.784873,1
2,7009,1113,F,1973-04-06,0,-,2006-02-04 11:51:08.233000000,8.0,12.642070,2007-05-30 15:21:10.863000000,8.759826,0.000000,8.759826,7.526718,1
3,91791,2273,UNKNOWN,1968-09-05,0,487-820,2006-02-04 11:51:08.233000000,11.0,12.045910,2007-10-16 15:55:52.483000000,8.134174,0.000000,8.134174,5.468060,1
4,1374842,1300,M,NaN,0,-,2006-02-04 11:51:08.233000000,3.0,11.610968,2007-03-25 12:49:30.170000000,7.699389,0.000000,7.699389,7.328437,1

**[변수 생성 1]** 최근 방문 일자(LAST_VST_DT)로부터 경과일 구하기

In [104]:
f = pd.to_datetime(mem_data.LAST_VST_DT) # 날짜가 Object 이므로 숫자 처리
f = (pd.to_datetime('2007-12-13') - f).dt.days #방문이 얼마나 오래되었는지 ,time 등으로 알고 싶은 것으로 바꿀 수 있다.
mem_data['E_DAY'] = f
mem_data.E_DAY.head()

0    327
1     55
2    196
3     57
4    262
Name: E_DAY, dtype: int64

In [105]:
f = pd.to_datetime(mem_data.LAST_VST_DT)

In [106]:
f = (pd.to_datetime('2007-12-13') - f)

In [107]:
f[f.isna()]

Series([], Name: LAST_VST_DT, dtype: timedelta64[ns])

In [108]:
mem_data.LAST_VST_DT[1612]

'2006-06-02 11:31:20.640000000'

In [109]:
f.isna().sum()

0

**[변수 생성 2]** 등록일(RGST_DT)로부터 경과일 구하기

In [110]:
f = pd.to_datetime(mem_data.RGST_DT) # 날짜가 Object 이므로 숫자 처리
f = (pd.to_datetime('2007-12-13') - f).dt.days #방문이 얼마나 오래되었는지 ,time 등으로 알고 싶은 것으로 바꿀 수 있다.
mem_data['RG_DAY'] = f
mem_data.RG_DAY.head(30)

0     676
1     676
2     676
3     676
4     676
5     676
6     675
7     676
8     676
9     676
10    676
11    676
12    667
13    676
14    676
15    676
16    676
17    676
18    676
19    676
20    676
21    676
22    676
23    676
24    676
25    676
26    676
27    676
28    676
29    676
Name: RG_DAY, dtype: int64

In [111]:
mem_data.head()

,MEM_ID,M_STORE_ID,GENDER,BIRTH_DT,BIRTH_SL,ZIP_CD,RGST_DT,VISIT_CNT,SALES_AMT,LAST_VST_DT,USABLE_PNT,USED_PNT,ACC_PNT,USABLE_INIT,SMS,E_DAY,RG_DAY
0,1134945,1084,M,NaN,0,-,2006-02-04 11:51:08.233000000,8.0,12.727841,2007-01-19 21:46:12.827000000,8.815964,0.000000,8.815964,8.071843,1,327,676
1,38458,539,F,1973-07-11,0,420-721,2006-02-04 11:51:08.233000000,22.0,14.179112,2007-10-18 19:57:45.503000000,7.457609,9.392745,9.527557,9.784873,1,55,676
2,7009,1113,F,1973-04-06,0,-,2006-02-04 11:51:08.233000000,8.0,12.642070,2007-05-30 15:21:10.863000000,8.759826,0.000000,8.759826,7.526718,1,196,676
3,91791,2273,UNKNOWN,1968-09-05,0,487-820,2006-02-04 11:51:08.233000000,11.0,12.045910,2007-10-16 15:55:52.483000000,8.134174,0.000000,8.134174,5.468060,1,57,676
4,1374842,1300,M,NaN,0,-,2006-02-04 11:51:08.233000000,3.0,11.610968,2007-03-25 12:49:30.170000000,7.699389,0.000000,7.699389,7.328437,1,262,676

**[변수 생성 3]** 우편번호(ZIP_CD)에서 광역행정구역 데이터 가져오기
- 참고: 6자리 우편번호의 구성 : https://ko.wikipedia.org/wiki/대한민국의_우편번호#6자리_우편번호_(1988~2015)

In [112]:
mem_data.ZIP_CD.head()

0          -
1    420-721
2          -
3    487-820
4          -
Name: ZIP_CD, dtype: object

In [134]:
mem_data.ZIP_CD[1][2]

'0'

In [114]:
# 리스트를 구할때 첫번째 글자만 가져올때
f = [x[0] for x in mem_data.ZIP_CD]

In [115]:
f = [x[0] for x in mem_data.ZIP_CD]
mem_data['R_REGION'] = f
mem_data.R_REGION = mem_data.R_REGION.where(mem_data.R_REGION != '-', other=0).astype(int)
mem_data.R_REGION.head()

0    0
1    4
2    0
3    4
4    0
Name: R_REGION, dtype: int32

In [116]:
mem_data.head()

,MEM_ID,M_STORE_ID,GENDER,BIRTH_DT,BIRTH_SL,ZIP_CD,RGST_DT,VISIT_CNT,SALES_AMT,LAST_VST_DT,USABLE_PNT,USED_PNT,ACC_PNT,USABLE_INIT,SMS,E_DAY,RG_DAY,R_REGION
0,1134945,1084,M,NaN,0,-,2006-02-04 11:51:08.233000000,8.0,12.727841,2007-01-19 21:46:12.827000000,8.815964,0.000000,8.815964,8.071843,1,327,676,0
1,38458,539,F,1973-07-11,0,420-721,2006-02-04 11:51:08.233000000,22.0,14.179112,2007-10-18 19:57:45.503000000,7.457609,9.392745,9.527557,9.784873,1,55,676,4
2,7009,1113,F,1973-04-06,0,-,2006-02-04 11:51:08.233000000,8.0,12.642070,2007-05-30 15:21:10.863000000,8.759826,0.000000,8.759826,7.526718,1,196,676,0
3,91791,2273,UNKNOWN,1968-09-05,0,487-820,2006-02-04 11:51:08.233000000,11.0,12.045910,2007-10-16 15:55:52.483000000,8.134174,0.000000,8.134174,5.468060,1,57,676,4
4,1374842,1300,M,NaN,0,-,2006-02-04 11:51:08.233000000,3.0,11.610968,2007-03-25 12:49:30.170000000,7.699389,0.000000,7.699389,7.328437,1,262,676,0

**[변수 생성 4]** 우편번호(ZIP_CD)에서 광역행정구역과 구를 합쳐서 데이터 가져오기

## **[다른 데이터와 연동하여 변수 생성]**

**[변수 생성 1]** 평균 구매액 구하기

In [138]:
f = mem_tr.groupby('MEM_ID')['SELL_AMT'].agg({'TOTAL_AMT':'mean'}).reset_index()
mem_data = mem_data.merge(f, how='left')
mem_data.iloc[:,-1] = mem_data.iloc[:,-1].fillna(0)

C:\ProgramData\Anaconda3\envs\[tf]\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

**[변수 생성 2]** 포인트 적립 횟수 구하기

In [139]:
f = mem_tr[mem_tr.MEMP_TP=='A'].groupby('MEM_ID')['SELL_AMT'].agg({'POINT_N':'size'}).reset_index()
mem_data = mem_data.merge(f, how='left')
mem_data.iloc[:,-1] = mem_data.iloc[:,-1].fillna(0)

C:\ProgramData\Anaconda3\envs\[tf]\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

**[변수 생성 3]** 요일 구매 패턴 구하기 : 주중형 / 주말형

In [140]:
mem_data.head()

,MEM_ID,M_STORE_ID,GENDER,BIRTH_DT,BIRTH_SL,ZIP_CD,RGST_DT,VISIT_CNT,SALES_AMT,LAST_VST_DT,USABLE_PNT,USED_PNT,ACC_PNT,USABLE_INIT,SMS,E_DAY,RG_DAY,R_REGION,TOTAL_AMT,POINT_N
0,1134945,1084,M,NaN,0,-,2006-02-04 11:51:08.233000000,8.0,12.727841,2007-01-19 21:46:12.827000000,8.815964,0.000000,8.815964,8.071843,1,327,676,0,16262.500000,8
1,38458,539,F,1973-07-11,0,420-721,2006-02-04 11:51:08.233000000,22.0,14.179112,2007-10-18 19:57:45.503000000,7.457609,9.392745,9.527557,9.784873,1,55,676,4,25018.181818,22
2,7009,1113,F,1973-04-06,0,-,2006-02-04 11:51:08.233000000,8.0,12.642070,2007-05-30 15:21:10.863000000,8.759826,0.000000,8.759826,7.526718,1,196,676,0,22025.000000,8
3,91791,2273,UNKNOWN,1968-09-05,0,487-820,2006-02-04 11:51:08.233000000,11.0,12.045910,2007-10-16 15:55:52.483000000,8.134174,0.000000,8.134174,5.468060,1,57,676,4,14418.181818,11
4,1374842,1300,M,NaN,0,-,2006-02-04 11:51:08.233000000,3.0,11.610968,2007-03-25 12:49:30.170000000,7.699389,0.000000,7.699389,7.328437,1,262,676,0,11400.000000,3

**[변수 생성 4]** 시간대별 표인트 적립 건수 구하기 : Morning(09-12) / Afternoon(13-17) / Evening(18-20)

**[변수 처리]** 생성한 변수중 큰 값들 로그 처리

In [141]:
f1 = mem_data.TOTAL_AMT.where(mem_data.SALES_AMT>=0, other=0) # 음수처리
f1 = np.log(f1+1)
mem_data.TOTAL_AMT = f1

In [142]:
mem_data

,MEM_ID,M_STORE_ID,GENDER,BIRTH_DT,BIRTH_SL,ZIP_CD,RGST_DT,VISIT_CNT,SALES_AMT,LAST_VST_DT,USABLE_PNT,USED_PNT,ACC_PNT,USABLE_INIT,SMS,E_DAY,RG_DAY,R_REGION,TOTAL_AMT,POINT_N
0,1134945,1084,M,NaN,0,-,2006-02-04 11:51:08.233000000,8.0,12.727841,2007-01-19 21:46:12.827000000,8.815964,0.000000,8.815964,8.071843,1,327,676,0,9.696679,8
1,38458,539,F,1973-07-11,0,420-721,2006-02-04 11:51:08.233000000,22.0,14.179112,2007-10-18 19:57:45.503000000,7.457609,9.392745,9.527557,9.784873,1,55,676,4,10.127398,22
2,7009,1113,F,1973-04-06,0,-,2006-02-04 11:51:08.233000000,8.0,12.642070,2007-05-30 15:21:10.863000000,8.759826,0.000000,8.759826,7.526718,1,196,676,0,9.999979,8
3,91791,2273,UNKNOWN,1968-09-05,0,487-820,2006-02-04 11:51:08.233000000,11.0,12.045910,2007-10-16 15:55:52.483000000,8.134174,0.000000,8.134174,5.468060,1,57,676,4,9.576315,11
4,1374842,1300,M,NaN,0,-,2006-02-04 11:51:08.233000000,3.0,11.610968,2007-03-25 12:49:30.170000000,7.699389,0.000000,7.699389,7.328437,1,262,676,0,9.341456,3
5,719600,130,UNKNOWN,1977-01-23,0,-,2006-02-04 11:51:08.233000000,3.0,10.793455,2007-07-19 22:04:01.567000000,6.882437,0.000000,6.882437,4.890349,1,146,676,0,9.549262,3
6,1383660,1024,M,NaN,0,-,2006-02-05 16:56:58,2.0,10.419331,2006-09-09 14:55:21.687000000,6.508769,0.000000,6.508769,4.709530,1,459,675,0,9.546884,2
7,911717,10792,M,NaN,0,-,2006-02-04 11:51:08.233000000,18.0,12.334470,2007-10-21 17:16:03.257000000,8.422663,0.000000,8.422663,6.736967,1,52,676,0,9.239457,18
8,172362,799,UNKNOWN,NaN,0,-,2006-02-04 11:51:08.233000000,2.0,10.968216,2006-07-31 15:13:01.703000000,7.112327,0.000000,7.112327,6.240276,1,499,676,0,9.692828,2
9,272744,997,UNKNOWN,1978-11-04,0,-,2006-02-04 11:51:08.233000000,42.0,14.279308,2007-10-31 14:34:27.783000000,9.223750,10.043293,10.408345,8.993800,1,42,676,0,10.363928,36
10,858104,1626,M,NaN,0,-,2006-02-04 11:51:08.233000000,2.0,11.199597,2007-02-10 21:38:15.343000000,7.288244,0.000000,7.288244,6.970730,1,305,676,0,9.205428,2
11,310857,997,UNKNOWN,1980-09-26,0,-,2006-02-04 11:51:08.233000000,4.0,11.979805,2007-06-23 13:59:34.830000000,5.998937,8.188967,8.294799,6.949856,0,172,676,0,10.198058,4
12,1401226,997,F,1980-11-25,0,-,2006-02-13 02:40:01.153000000,4.0,10.691968,2006-12-11 20:41:41.150000000,6.781058,0.000000,6.842683,0.000000,1,366,667,0,9.305741,4
13,1244806,975,UNKNOWN,NaN,0,-,2006-02-04 11:51:08.233000000,1.0,10.915107,2006-07-12 16:43:25.907000000,7.003974,0.000000,7.003974,6.459904,1,518,676,0,10.047631,1
14,898849,997,F,1960-11-18,0,-,2006-02-04 11:51:08.233000000,4.0,11.991027,2007-05-12 12:16:23.400000000,8.227643,0.000000,8.227643,7.186144,1,214,676,0,10.078533,4
15,742071,1027,UNKNOWN,NaN,0,-,2006-02-04 11:51:08.233000000,3.0,11.448931,2007-01-25 18:47:09.917000000,7.537430,0.000000,7.537430,7.072422,1,321,676,0,9.190240,3
16,204048,573,M,NaN,0,435-846,2006-02-04 11:51:08.233000000,11.0,12.932899,2007-10-03 17:00:31.853000000,8.121183,8.517393,9.031812,8.376781,1,70,676,4,9.767933,11
17,634238,1266,F,1989-04-28,0,-,2006-02-04 11:51:08.233000000,3.0,10.705512,2007-03-03 13:48:03.507000000,6.794587,0.000000,6.794587,5.758902,1,284,676,0,9.169623,3
18,326946,997,F,1980-07-12,0,-,2006-02-04 11:51:08.233000000,20.0,12.640128,2007-11-03 17:42:42.657000000,7.369601,7.972811,8.408940,7.579168,1,39,676,0,9.281529,19
19,87530,2273,UNKNOWN,1979-08-11,0,480-812,2006-02-04 11:51:08.233000000,7.0,11.872005,2006-12-22 11:52:38.060000000,8.157370,0.000000,8.157370,6.876265,1,355,676,4,9.513688,7
20,172217,799,UNKNOWN,NaN,0,-,2006-02-04 11:51:08.233000000,4.0,11.112463,2007-03-04 14:44:52.160000000,7.293698,0.000000,7.293698,6.304449,1,283,676,0,9.202913,4
21,616759,997,F,1990-02-12,0,-,2006-02-04 11:51:08.233000000,2.0,10.126671,2007-09-07 17:04:25.670000000,6.526495,0.000000,6.526495,5.910797,1,96,676,0,8.101981,2
22,24045,797,UNKNOWN,1985-11-20,0,405-843,2006-02-04 11:51:08.233000000,5.0,12.812575,2006-10-11 17:13:58.547000000,9.015906,0.000000,9.015906,8.508556,1,427,676,4,10.077483,5
23,883533,997,UNKNOWN,1969-10-03,0,-,2006-02-04 11:51:08.233000000,7.0,11.807094,2007-10-02 13:32:53.027000000,6.437752,7.696667,7.946264,7.551187,1,71,676,0,8.628147,7
24,1342155,997,M,1984-02-28,0,-,2006-02-04 11:51:08.233000000,1.0,8.779711,2007-07-21 11:22:54.047000000,4.875197,0.000000,4.875197,0.000000,1,144,676,0,8.779711,1
25,1182459,2036,UNKNOWN,1977-06-29,0,-,2006-02-04 11:51:08.233000000,1.0,11.100451,2007-04-28 15:43:25.890000000,7.189168,0.000000,7.189168,6.270988,1,228,676,0,10.591647,1
26,1300156,1851,F,1987-11-03,0,-,2006-02-04 11:51:08.233000000,6.0,11.113954,2007-11-01 18:17:46.573000000,7.202661,0.000000,7.202661,6.282267,1,41,676,0,8.814974,6
27,1120080,1085,M,NaN,0,-,2006-02-04 11:51:08.233000000,1.0,9.803722,2006-07-24 14:56:01.767000000,5.894403,0.000000,5.894403,4.488636,1,506,676,0,9.525224,1
28,862770,997,F,1986-11-18,0,-,2006-02-04 11:51:08.233000000,1.0,10.379753,2006-03-15 12:34:20.620000000,6.499787,0.000000,6.499787,6.188264,1,637,676,0,8.974745,1
29,1343835,1870,M,NaN,0,-,2006-02-04 11:51:08.233000000,3.0,10.807726,2007-02-20 14:44:28.403000000,6.896694,0.000000,6.896694,4.204693,1,295,676,0,9.640021,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10734,1040951,1300,M,NaN,0,-,2006-02-04 11:51:08.233000000,4.0,11.166215,2007-08-14 20:49:46.907000000,7.254885,0.000000,7.481556,0.000000,1,120,676,0,9.779963,4
10735,496965,133,UNKNOWN,NaN,0,-,2006-02-04 11:51:08.233000000,4.0,11.664796,2006-12-21 16:18:38.670000000,7.753194,0.000000,7.753194,6.840547,1,356,676,0,9.765719,4
10736,708203,997,F,1968-05-24,0,-,2006-02-04 11:51:08.233000000,9.0,12.471129,2007-09-20 14:40:55.300000000,7.271704,8.517393,8.770129,7.625107,1,83,676,0,9.466781,9
10737,529263,1082,M,NaN,0,-,2006-02-04 11:51:08.233000000,1.0,10.614008,2006-04-13 19:18:31.927000000,6.703188,0.000000,6.703188,6.381816,1,608,676,0,9.323758,1
10738,441798,997,F,1987-03-14,0,-,2006-02-04 11:51:08.233000000,8.0,12.868763,2006-11-04 17:55:02.463000000,7.897668,0.000000,7.897668,8.622094,1,403,676,0,9.532496,8
10739,1059838,997,F,1973-09-07,0,-,2006-02-04 11:51:08.233000000,12.0,12.778466,2007-09-03 12:02:49.537000000,5.252273,8.839422,8.866582,7.092574,1,100,676,0,10.194837,11
10740,436030,997,F,1955-09-01,0,-,2006-02-04 11:51:08.233000000,4.0,12.769683,2007-10-11 15:05:15.773000000,6.912743,8.389587,8.595080,8.126518,1,62,676,0,10.727137,4
10741,689893,1302,M,NaN,0,-,2006-02-04 11:51:08.233000000,12.0,11.658765,2007-10-02 13:42:51.580000000,7.747165,0.000000,7.747165,6.188264,1,71,676,0,8.938225,12
10742,337192,997,F,1961-05-07,0,-,2006-02-04 11:51:08.233000000,1.0,10.482934,2006-08-06 12:00:47.863000000,6.872128,0.000000,6.872128,6.184149,1,493,676,0,9.350189,1
10743,847662,561,M,NaN,0,-,2006-02-04 11:51:08.233000000,3.0,11.046133,2007-04-15 14:34:50.070000000,7.669962,0.000000,7.669962,4.709530,1,241,676,0,9.855749,3
10744,1265518,559,M,NaN,0,-,2006-02-04 11:51:08.233000000,1.0,9.480444,2006-09-10 20:28:59.320000000,5.572154,0.000000,6.616065,0.000000,1,458,676,0,9.480444,1
10745,1107248,2273,M,1984-12-01,0,-,2006-02-04 11:51:08.233000000,2.0,10.579005,2007-06-16 16:14:36.373000000,6.668228,0.000000,6.668228,4.595120,1,179,676,0,9.752723,2
10746,750529,997,F,1984-08-02,0,-,2006-02-04 11:51:08.233000000,3.0,11.378262,2007-03-15 17:04:24.337000000,7.711101,0.000000,7.711101,6.870053,1,272,676,0,9.480444,3
10747,369990,997,F,1983-09-30,0,-,2006-02-04 11:51:08.233000000,3.0,11.270867,2006-11-13 17:35:55.723000000,7.390799,0.000000,7.390799,6.505784,1,394,676,0,9.490570,3
10748,744828,1302,M,NaN,0,-,2006-02-04 11:51:08.233000000,1.0,10.694238,2007-09-27 14:17:01.797000000,6.783325,0.000000,6.783325,6.621406,1,76,676,0,8.794976,1
10749,782994,1573,M,NaN,0,-,2006-02-04 11:51:08.233000000,1.0,8.794976,2006-04-29 18:50:32.187000000,4.890349,0.000000,4.890349,0.000000,1,592,676,0,8.794976,1
10750,733654,997,F,1955-12-12,0,-,2006-02-04 11:51:08.233000000,2.0,10.547996,2007-10-26 14:06:41.750000000,6.637258,0.000000,6.637258,6.124683,1,47,676,0,8.942592,2
10751,554682,997,UNKNOWN,1978-11-29,0,-,2006-02-04 11:51:08.233000000,17.0,12.509878,2007-11-02 19:01:12.710000000,6.831954,8.517393,8.687273,6.712956,1,40,676,0,9.512260,17
10752,7775,99940,F,1980-08-29,0,142-103,2006-02-04 11:51:08.233000000,1.0,11.031675,2006-04-28 20:12:12.860000000,7.307202,0.000000,7.307202,6.916715,1,593,676,1,9.341456,1
10753,1110198,2266,F,1986-08-25,0,-,2006-02-04 11:51:08.233000000,4.0,11.356283,2006-12-30 21:23:23.023000000,7.444833,0.000000,7.444833,6.736967,1,347,676,0,9.292013,4
10754,1144367,1923,UNKNOWN,NaN,0,-,2006-02-04 11:51:08.233000000,3.0,11.972254,2006-06-02 16:00:31.397000000,8.060540,0.000000,8.060540,7.836370,1,558,676,0,9.268704,3
10755,268317,997,F,1980-02-03,0,-,2006-02-04 11:51:08.233000000,8.0,12.079381,2007-08-09 20:33:59.167000000,7.142827,8.006701,8.358197,7.590347,1,125,676,0,9.176111,8
10756,343892,130,F,1983-04-28,0,-,2006-02-04 11:51:08.233000000,22.0,12.856576,2007-10-28 12:35:20.587000000,8.970432,0.000000,8.970432,7.967280,1,45,676,0,9.279790,22
10757,312177,130,F,1981-08-24,0,-,2006-02-04 11:51:08.233000000,18.0,12.863077,2007-11-07 19:22:06.137000000,6.769642,8.853808,8.970940,8.364741,1,35,676,0,9.160321,18
10758,668605,1330,UNKNOWN,NaN,0,-,2006-02-04 11:51:08.233000000,5.0,11.874794,2006-11-13 17:40:46.763000000,7.963112,0.000000,7.963112,7.531016,1,394,676,0,9.218408,5
10759,1363530,2117,UNKNOWN,NaN,0,-,2006-02-04 11:51:08.233000000,2.0,12.523802,2006-12-12 21:33:19.477000000,8.611958,0.000000,8.611958,6.089045,1,365,676,0,11.747215,2
10760,684874,997,UNKNOWN,1989-02-02,0,-,2006-02-04 11:51:08.233000000,2.0,10.581546,2007-06-20 15:19:00.280000000,6.872128,0.000000,6.872128,5.752573,1,175,676,0,9.380168,2
10761,454881,1181,M,NaN,0,-,2006-02-04 11:51:08.233000000,3.0,11.359786,2007-04-14 21:13:18.977000000,7.448334,0.000000,7.448334,0.000000,1,242,676,0,10.261197,3
10762,973807,812,M,NaN,0,-,2006-02-04 11:51:08.233000000,4.0,12.246259,2007-09-12 12:58:43.683000000,8.334472,0.000000,8.334472,7.013016,1,91,676,0,10.549962,4
10763,47542,2273,F,1979-12-31,0,142-872,2006-02-04 11:51:08.233000000,3.0,12.246259,2007-02-26 20:59:18.540000000,8.334472,0.000000,8.334472,8.122371,1,289,676,1,9.467641,3

**[날짜 데이터 처리]** 날짜표기 데이터들 날짜로 표시 와 특정 컬럼 뽑기

In [154]:
import datetime

In [160]:
datetime(mem_data.BIRTH_DT[1][0:4], mem_data.BIRTH_DT[1][6:8], mem_data.BIRTH_DT[1][9:11])

TypeError: 'module' object is not callable

In [178]:
datetime.datetime.strptime(mem_data["BIRTH_DT"][1], "%Y-%m-%d")

datetime.datetime(1973, 7, 11, 0, 0)

In [170]:
mem_data["BIRTH_DT"].str[5:7][:5]

0    NaN
1     07
2     04
3     09
4    NaN
Name: BIRTH_DT, dtype: object

## **[최종 결과 저장]**

- mem_data에 최종 결과가 모일 수 있도록 준비
- 1.예측에 사용하지 않을 열들 drop
- 2.csv형태로 저장
- **주의사항1 : MEM_ID열은 삭제하지 마세요. **
- MEM_ID를 변수로 사용하기를 원하면 다른 열을 새로 생성해서 복사해서 사용하세요.
- 주의사항2 : GENDER열을 제외하고 문자열이 포함된 열이 데이터에 포함되지 않도록 한다.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10764 entries, 0 to 10763
Data columns (total 19 columns):
MEM_ID         10764 non-null int64
M_STORE_ID     10764 non-null int64
GENDER         10764 non-null object
BIRTH_DT       5997 non-null object
BIRTH_SL       10764 non-null int32
ZIP_CD         10764 non-null object
RGST_DT        10764 non-null object
VISIT_CNT      10764 non-null float64
SALES_AMT      10764 non-null float64
LAST_VST_DT    10764 non-null object
USABLE_PNT     10764 non-null float64
USED_PNT       10764 non-null float64
ACC_PNT        10764 non-null float64
USABLE_INIT    10764 non-null float64
SMS            10764 non-null int32
E_DAY          10764 non-null int64
R_REGION       10764 non-null int32
TOTAL_AMT      10764 non-null float64
POINT_N        10764 non-null int64
dtypes: float64(7), int32(3), int64(4), object(5)
memory usage: 1.5+ MB

In [25]:
d_col = ['BIRTH_SL','M_STORE_ID','BIRTH_DT','ZIP_CD','RGST_DT','LAST_VST_DT']
mem_data = mem_data.drop(d_col, axis=1)
mem_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10764 entries, 0 to 10763
Data columns (total 13 columns):
MEM_ID         10764 non-null int64
GENDER         10764 non-null object
VISIT_CNT      10764 non-null float64
SALES_AMT      10764 non-null float64
USABLE_PNT     10764 non-null float64
USED_PNT       10764 non-null float64
ACC_PNT        10764 non-null float64
USABLE_INIT    10764 non-null float64
SMS            10764 non-null int32
E_DAY          10764 non-null int64
R_REGION       10764 non-null int32
TOTAL_AMT      10764 non-null float64
POINT_N        10764 non-null int64
dtypes: float64(7), int32(2), int64(3), object(1)
memory usage: 1.1+ MB

In [26]:
mem_data.head()

,MEM_ID,GENDER,VISIT_CNT,SALES_AMT,USABLE_PNT,USED_PNT,ACC_PNT,USABLE_INIT,SMS,E_DAY,R_REGION,TOTAL_AMT,POINT_N
0,1134945,M,8.0,12.727841,6740.0,0.0,6740.0,3202.0,1,327,0,16262.500000,8
1,38458,F,22.0,14.179112,1732.0,12000.0,13732.0,17762.0,1,55,4,25018.181818,22
2,7009,F,8.0,12.642070,6372.0,0.0,6372.0,1856.0,1,196,0,22025.000000,8
3,91791,UNKNOWN,11.0,12.045910,3408.0,0.0,3408.0,236.0,1,57,4,14418.181818,11
4,1374842,M,3.0,11.610968,2206.0,0.0,2206.0,1522.0,1,262,0,11400.000000,3

In [27]:
mem_data.to_csv('final_data.csv', index=False)

In [28]:
final_data = pd.read_csv('final_data.csv')

In [29]:
final_data.dtypes

MEM_ID           int64
GENDER          object
VISIT_CNT      float64
SALES_AMT      float64
USABLE_PNT     float64
USED_PNT       float64
ACC_PNT        float64
USABLE_INIT    float64
SMS              int64
E_DAY            int64
R_REGION         int64
TOTAL_AMT      float64
POINT_N          int64
dtype: object